[2018-07-26 11:17] Starnop opened #1915 "[help wanted] add unit-test for toCriSandbox"
### Ⅰ. Issue Description
Add unit-test for `toCriSandbox` method which locate on  cri/v1alpha1/cri_utils.go.

You can take [env_test.go](https://github.com/alibaba/pouch/blob/master/apis/opts/env_test.go) for reference.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we

[2018-07-26 11:17] Starnop opened #1916 "[help wanted] add unit-test for updateCreateConfig"
### Ⅰ. Issue Description
Add unit-test for `updateCreateConfig` method which locate on  cri/v1alpha1/cri_utils.go.

You can take [env_test.go](https://github.com/alibaba/pouch/blob/master/apis/opts/env_test.go) for reference.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything el

[2018-07-26 13:00] #1752 closed

[2018-07-26 13:00] #1722 closed

[2018-07-26 13:01] #1627 closed

[2018-07-26 13:01] #1528 closed

[2018-07-26 13:02] #1567 closed

[2018-07-26 17:40] allencloud commented on #420
Have we finished the final one `ImageFsInfo` ? @YaoZengzeng @Starnop
Just keep track of this.

[2018-07-26 17:41] #97 closed

[2018-07-26 17:42] allencloud commented on #568
I think this have been fixed. Closing it.

[2018-07-26 17:42] #568 closed

[2018-07-26 17:44] allencloud commented on #635
Do we finish `RunAsUserName support for sandbox & container` and `SELinux support for sandbox & container`?

If the answer is yes, please close this issue. Thanks. @YaoZengzeng @Starnop

[2018-07-26 17:44] allencloud commented on #666
It appears in the old version. Closing this.

[2018-07-26 17:44] #666 closed

[2018-07-26 17:45] allencloud commented on #752
Any update on this? @fuweid

[2018-07-26 17:45] allencloud commented on #807
Any update on this ? @yyb196
If we have done this, please close this. Thanks.

[2018-07-26 17:46] allencloud commented on #810
This has been done. Close this.

[2018-07-26 17:46] #810 closed

[2018-07-26 17:46] allencloud commented on #857
ping @HusterWan
What is going on on this issue?

[2018-07-27 02:01] fuweid opened #1919 "[proposal & feature request] pouch build functionality"
`pouch` doesn't have functionality to build image right now.

But containerd has provided content/snapshot APIs. It seems that we can try to using it to build the functionality. If not good enough, we can build our own feature to do the builder thing.

Eventually, pouch can have build feature, like `pouch build Pouchfile`.

[2018-07-27 03:08] yyb196 commented on #807
already support this feature in Plugin feature

[2018-07-27 03:08] #807 closed

[2018-07-27 04:37] chuanchang commented on #1910
I haven't met this issue after updating local pouch version, please feel free to reopen it if you met it again, thanks.

[2018-07-27 04:37] #1910 closed

[2018-07-27 06:22] Letty5411 commented on #1292
If this bug if fixed, please also remember to edit test related script:
https://github.com/alibaba/pouch/blob/master/hack/testing/utils.sh#L46

[2018-07-27 08:21] fuweid opened #1920 "[bug] cannot ping www.baidu.com inside container since the dns doesn't work"
### Ⅰ. Issue Description

I want to yum install something in contianer, but it always fails during update.
Try to ping the web site and it still fails

### Ⅱ. Describe what happened

It seems that dns doesn't work.

This is log from pouchd.

[code]

[code]

### Ⅲ. Describe what you expected to happen

It should be ping successfully.

### Ⅳ. How to reproduce it (as minimally and precisely as possib

[2018-07-30 06:38] YaoZengzeng commented on #420
All tasks have been finished, close now.

[2018-07-30 06:38] #420 closed

[2018-07-30 06:39] YaoZengzeng commented on #635
All tasks have been finished, close now.

[2018-07-30 06:39] #635 closed

[2018-07-30 12:21] #1908 closed

[2018-07-31 02:16] kiss-yu opened #1954 "[flaw]add unit-test for apis/opts/portbindings.go areas/test"
### Ⅰ. Issue Description
Need to be covered APIs testing as  #follows:
  ParsePortBinding
  ValidatePortBinding
### Ⅱ. Describe what happened
ParsePortBinding:When I enter 127.0.0.1:21, I can't return the result I want.
### Ⅲ. Describe what you expected to happen
I want to get rawIP=127.0.0.1 hostPort=21 containerPort=21
### Ⅳ. How to reproduce it (as minimally and precisely as possible)
1.
2.
3.

[2018-07-31 02:16] xiechengsheng opened #1955 "[bug] it seems that one container uses several loaded images"
### Ⅰ. Issue Description
After using `pouch load` to load images successfully in machine, then I start a container based on this loaded image, but when I want to remove original images, daemon will return an error that `the xxx container is using this image`. Maybe a bug?

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen
I want to remove original images successfully.

###

[2018-07-31 04:44] rudyfly commented on #770
Not reappearing for a long time, so close it.

[2018-07-31 04:44] #770 closed

[2018-07-31 04:44] rudyfly commented on #679
Have fixed, so close it.

[2018-07-31 04:44] #679 closed

[2018-07-31 07:01] xiechengsheng commented on #1955
And the same error occurs in `pouch tag`.

Reproduce steps:
[code]

But `docker tag` runs well in this case:
[code]

[2018-07-31 08:07] #1911 closed

[2018-08-01 02:03] #1913 closed

[2018-08-01 07:30] #1912 closed

[2018-08-01 08:36] #1906 closed

[2018-08-01 08:45] #1915 closed

[2018-08-01 08:53] #1916 closed

[2018-08-01 08:54] #1914 closed

[2018-08-01 09:18] Starnop commented on #1756
Today, I will complete the following tests:
cri/v1alpha1/cri_utils.go

 `getUserFromImageUser`
  `parseUserFromImageUser`

[2018-08-01 14:56] xiechengsheng opened #2032 "[bug] Should we judge whether the target image name exists on my server before load an image?"
### Ⅰ. Issue Description
I want to load one image, the loaded image would directly cover the image which has the same name with them. Maybe a bug? Should we remind client to change a target name or give a warning to ask them whether they want to go ahead?

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen
Maybe we could give a user-friendly warning to ask them whether to g

[2018-08-02 02:25] CodeJuan opened #2033 "[feature request]support nvidia-container 2.0 in pouch cli"
### Ⅰ. Issue Description
Support nvidia-container 2.0 in pouch cli

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:

[2018-08-02 08:05] pouchrobot opened #2036 "Weekly Report of PouchContainer from 2018-07-26 to 2018-08-02"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-08-02 08:30] allencloud commented on #2036
@ZouRui89 The weekly report has incorrect format you see, could you help to fix this?

* contributors number;
* pr update's format

[2018-08-02 09:33] ZouRui89 commented on #2036
@allencloud Okay. I guess I can check the logic of ```code review statistic``` as well. Maybe I have more than 2 reviews. :sob:

[2018-08-03 02:14] fuweid opened #2046 "[bug] since we have data-race during watch container"
In the integration testing result, we found there is data-race.

[code]

[2018-08-03 02:50] YaoZengzeng opened #2047 "[proposal] fork `cri-tools` to make the test cases more complete"
### Ⅰ. Issue Description

For some specific need of Alibaba Group, we have expanded the CRI (only v1alpha2).

However the community will not write test cases for these expanded features.

Maybe we need to fork the `cri-tools` from its official repo and write test cases for these expanded features by ourselves to make them work as expected.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you e

[2018-08-03 06:50] AkihiroSuda commented on #1919
I suggest using BuildKit https://github.com/moby/buildkit

[2018-08-03 07:05] fuweid commented on #1919
@AkihiroSuda Looks great!!!! It seems that it can be a image store manager, supported higher version containerd. 😄 I will have a try.

[2018-08-05 08:28] HusterWan opened #2052 "[Proposal] events service for pouchd"
### Ⅰ. Issue Description

When creating or deleting a container, pouchd will operate many objects, like container, snapshot, volume, network and so on. If can recording those actions of all objects, we can use those records for monitoring  a container's all actions in it's  life circle.

So we need an events service to record all actions of containers,  suppose it at least has two common functions

[2018-08-06 10:39] Starnop commented on #1756
Today, I will complete the following tests:
cri/v1alpha1/cri_utils.go

`modifyHostConfig`

[2018-08-07 06:54] Ace-Tang opened #2058 "[proposal] auto completion for pouch command"
### Ⅰ. Issue Description

Bash completion is an awesome function for all linux command, I love it very much. I hope pouch can can also has this feature.
With this feature, user can enjoy command auto completion for pouch/pouchd,
like:
[code]
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.

[2018-08-07 09:15] Starnop commented on #1756
Today, I will complete the following tests:
cri/v1alpha1/cri_utils.go

`modifyHostConfig`
` containerNetns`

[2018-08-07 09:27] rudyfly opened #2061 "bugfix: ContainerManager create haven't deal with error"
### Ⅰ. Issue Description
ContainerManager Create haven't deal with error, no set defer to err != nil, such as
succeed to `CreateSnapshot`, but do `generateMountPoints` is error, so just return
and Snapshot is remain.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we nee

[2018-08-09 03:02] xiaoxubeii commented on #2061
Agree. It seems that `ContainerManager.Create` lacks of resource fallback mechanism to recycle allocated resources when failed.

[2018-08-09 04:12] allencloud commented on #2061
Could you help to fix this? @xiaoxubeii

[2018-08-09 08:05] pouchrobot opened #2067 "Weekly Report of PouchContainer from 2018-08-02 to 2018-08-09"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.

## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Iss

[2018-08-09 09:36] xiaoxubeii commented on #284
Same problem. When i changed pouch home_dir to ext4, the problem was gone. So i think set ftype=1 in xfs would fix it too.

[2018-08-10 06:38] #824 closed

[2018-08-10 10:43] xiaoxubeii commented on #2061
@allencloud OK, i will do that.

[2018-08-10 10:43] xiaoxubeii commented on #2061
/assign

[2018-08-11 03:20] pouchrobot opened #2076 "Weekly Report of PouchContainer from 2018-08-04 to 2018-08-11"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-08-11 04:01] #2067 closed

[2018-08-11 06:58] rudyfly commented on #2061
@xiaoxubeii Thank you for your contribution, looking forward to your pr.

[2018-08-11 09:25] #2033 closed

[2018-08-13 02:43] #2036 closed

[2018-08-13 02:45] allencloud commented on #1897
What is the status of this issue? @chuanchang @xiechengsheng @fuweid

[2018-08-13 02:46] allencloud commented on #1618
Any update? Please sync with the community about the status. @HusterWan

[2018-08-13 02:51] allencloud commented on #1713
Yes, we need to update containerd 1.0.3 to container 1.1+, while I think we still need to do lots of update in the ctrd part.

When we are doing this part, I think we need to improve the encapsulation and interface definition of  ctrd. We have tried in https://github.com/alibaba/pouch/pull/1428 by @HusterWan

But there is some block there. Could you please help to do some research on this challeng

[2018-08-13 02:55] allencloud commented on #1601
I think we have fixed this, right? See the `ContainerExecInspect` definition:
[code]

If my thought is correct, please help to close this? Otherwise please give us more update about this. Thanks a lot. @fuweid

[2018-08-13 02:56] allencloud commented on #1534
What is the status of this? @HusterWan @xiechengsheng

[2018-08-13 05:09] xiechengsheng commented on #1534
After discussing with @fuweid offline, we think the `kill` command can't be added into pouch right now, because the `kill` process in `containerd` is non-blocking, while we need to know the pouch container's status after using containerd `kill` process.

[2018-08-13 05:10] xiechengsheng commented on #1713
ok, I would like to do some research on this.

[2018-08-13 07:52] CodeJuan opened #2081 "[feature request] support runtimeArgs of configuration"
### Ⅰ. Issue Description
Currently PouchContainer has supported customized runtime by add the runtimes to PouchContainer configuration(`/etc/pouch/config`). However, PouchContainer doesn't support `runtimeArgs`.

For the gVisor user, they need the runtimeArgs to enable debug and system call logging:
[code]

We should support runtimeArgs of configuration

[2018-08-13 10:14] shaloulcy opened #2084 "[bug] failed to populate volumes: exit status 1"
### Ⅰ. Issue Description

start a container error, the error message

[code]

### Ⅱ. Describe what happened

As the aliOS don't support  cp command with regular expressions, the error happened

[code]

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch versio

[2018-08-13 12:22] calmhawk opened #2086 "[feature request] support statistic api interface"
### Ⅰ. Issue Description
Currently no statistic api interface support, in some cases container statistic collection ability is necessary.
We need statistic api interface.

[2018-08-13 15:54] fuweid commented on #1601
@allencloud this is one case. I think we should make all response like this case. But there is limitation from swagger, which we can't share the same struct on both request and response. We need to investigate the way to make it happen in swagger, I guess.

[2018-08-14 06:10] allencloud commented on #1524
Any update on this?

[2018-08-14 06:52] Starnop commented on #1524
@allencloud  Yes, the code about `Stream` and `CNI` has been refactored. More work will be done later.

[2018-08-14 09:41] Shawnpku opened #2094 "Pouch start fail cause unknown flag "path" in runtime config"
### Ⅰ. Issue Description
Pouch can not start after I edit the config file.

### Ⅱ. Describe what happened
Pouch can not start after I add runtime config in /etc/pouch/config.json

error info:

### Ⅲ. Describe what you expected to happen
Pouch started and runv is available.

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

[code]

### Ⅴ. Anything else we need to know?
Not suppor

[2018-08-14 09:47] zjumoon01 opened #2095 "pouch pull image "docker.io/library/redis:alpine" error"
### Ⅰ. Issue Description
"pouch pull --help" shows the example of pulling images. As the example, I executed "pouch pull docker.io/library/redis:alpine" .  But returned error.

### Ⅱ. Describe what happened
/# pouch pull docker.io/library/redis:alpine
docker.io/library/redis:alpine:                                                   resolved       |++++++++++++++++++++++++++++++++++++++|
index-sha2

[2018-08-14 09:52] allencloud commented on #2094
Thanks for your feedback. @Shawnpku
I think this issue is related to https://github.com/alibaba/pouch/issues/2081.
And we already had a pull request from @Ace-Tang to fix this https://github.com/alibaba/pouch/pull/2085.
Please help check this. If what I said is something wrong, please tell me.

[2018-08-14 10:09] #2081 closed

[2018-08-14 11:09] Ace-Tang commented on #2094
@allencloud , @Shawnpku 's problem is not related with runtime args can not be config, it about the config format, please format like:
[code]

[2018-08-14 11:28] Shawnpku commented on #2094
@Ace-Tang Yes, this works. Just can not see the correct runtime config format at any docs.

[2018-08-14 12:15] Ace-Tang commented on #2094
@Shawnpku , sorry for that, I will add doc for that soon.

[2018-08-14 14:15] #2084 closed

[2018-08-14 14:17] #2061 closed

[2018-08-14 14:25] allencloud commented on #2095
![image](https://user-images.githubusercontent.com/9465626/44097601-b9c2657e-a010-11e8-9f9b-7aaab2428958.png)

Hi, @zjumoon01
I am afraid that for CentOS 7 series, kernel 3.10.0-327 is the start version of supporting overlay2. While pouch is relying on containerd which is based on overlay2.

As a result, your kernel is 3.10.0-123 which is under 3.10.0-327, so no support of your kernel.

[2018-08-14 14:57] #1578 closed

[2018-08-14 16:30] fuweid commented on #2095
link to https://github.com/containerd/containerd/issues/1883

[2018-08-14 16:31] fuweid commented on #2046
any update here? @HusterWan @rudyfly

[2018-08-15 05:58] eryx commented on #637
+1

[2018-08-15 05:59] allencloud commented on #2086
This is similar to https://github.com/alibaba/pouch/issues/637

[2018-08-15 07:45] fuweid opened #2099 "[feature request] build pouch push functionality (only cli side not finished now)"
### Ⅰ. Issue Description

PouchContainer should `push` image to remote registry.

The help info is here.
[code]

And the usage is like:

[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
-

[2018-08-15 10:57] Shawnpku opened #2101 "Pouch bridge network does not work"
### Ⅰ. Issue Description
Pouch bridge network does not work

### Ⅱ. Describe what happened
Can not reach internet in container. Can not reach container using port banding.

### Ⅲ. Describe what you expected to happen
none

### Ⅳ. How to reproduce it (as minimally and precisely as possible)
none

### Ⅴ. Anything else we need to know?
I have tried uninstall docker and delete docker net bridge. Did n

[2018-08-15 11:28] allencloud commented on #2101
Could you describe more about what happened in the container:

you can add

* how to create a container
* how to get access to internet

@Shawnpku

[2018-08-15 11:39] Shawnpku commented on #2101
@allencloud
Use command `sudo pouch run -it -p 8080:80 nginx /bin/bash` to run container then command `curl localhost:8080` show nothing. Executing `apt update` in container can not connect internet either.

[2018-08-15 12:25] Shawnpku commented on #2101
I use the same command in docker and it works fine. What command should I use? Also wondering what command should I use to let container be able to reach internet. Thank you~ @allencloud

[2018-08-15 12:27] fuweid commented on #2101
@Shawnpku how do you install pouchd? by yum or source code? If it's done by yum, it has the issue. you can try it from master branch.

[2018-08-15 12:34] Shawnpku commented on #2101
@fuweid I install pouch by yum.

[2018-08-15 12:36] fuweid commented on #2101
@Shawnpku we have fixed this issue by https://github.com/alibaba/pouch/pull/2025, could you mind to install by the source code? 😄

[2018-08-15 12:44] Shawnpku commented on #2101
Nginx works after I delete /bin/bash part. The command is really different with which I used in docker. I have not been used to it yet.

[2018-08-15 12:51] Shawnpku commented on #2101
@fuweid Happy to see it has been fixed. Please add the new version to yum resource soon. Thank you~

[2018-08-15 13:01] fuweid commented on #2101
@Shawnpku thanks! please feel free to close the issue 😄

[2018-08-16 03:41] Ace-Tang opened #2103 "[feature request] pouch commit is need"
### Ⅰ. Issue Description

we need pouch commit function for commit a image from a container.

[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (

[2018-08-16 03:43] #2101 closed

[2018-08-17 05:57] #1723 closed

[2018-08-17 08:40] allencloud commented on #2086
I will split the work into three parts:

* implement the API in daemon side;
* implement the API in client side;
* since we have the client side, we could add test for stats API.

[2018-08-17 09:18] chuanchang opened #2113 "can't parse image name with underline"
### Ⅰ. Issue Description
can't parse image name with underline and got error like this "Error: invalid reference"

### Ⅱ. Describe what happened
as Description

### Ⅲ. Describe what you expected to happen
can parse image name with underline
### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. pouch pull registry.hub.docker.com/library/foo_
or
2. pouch pull registry.hub.docker.co

[2018-08-18 03:06] pouchrobot opened #2114 "Weekly Report of PouchContainer from 2018-08-11 to 2018-08-18"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-08-19 11:48] Ace-Tang opened #2116 "[refactor] create runtime spec need refactor"
### Ⅰ. Issue Description

Many part in runtime spec is not implemented good in pouch, here is a list we need to re-consider.
* security part, include seccomp, apparmor and no-new-priviledges
* shm, for shared filesystem

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we

[2018-08-19 13:00] Ace-Tang commented on #2116
We need to show supported security option in pouchd
[code]

[2018-08-19 13:08] fuweid commented on #2113
Actually, the `_` is separator so that it can't be the ending of reference.

The link is here. https://github.com/opencontainers/image-spec/blob/fc936c78346d017dcdbc6dd220a8ff60675ce3b5/annotations.md#L31

@chuanchang

[2018-08-20 02:54] xiaoxubeii opened #2118 "[bug] Don't need to set hostname as default label when list volume"
### Ⅰ. Issue Description
List volume sets hostname as default label but create volume did not.

### Ⅱ. Describe what happened
When lists volume, it sets hostname as default label. But it did't set the default one when create volume:
[code]
It worked fine before because the list did not implement the filter function:
[code]

Also reference #1817, #2083.

### Ⅲ. Describe what you expected to happen

[2018-08-20 03:16] #2113 closed

[2018-08-20 06:34] rudyfly opened #2122 "pouchd panic"
### Ⅰ. Issue Description
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-08-20 11:00] #2122 closed

[2018-08-20 13:01] #2094 closed

[2018-08-20 13:13] eryx opened #2128 "the host's network interface settings can not keep update after reset the default bridge network configurations"
### Ⅰ. Issue Description
the host's network interface settings can not keep update after reset the default bridge network configurations by /etc/pouch/config.json

1. the default bridge network settings info:
[code]

[code]

2. after reset the default bridge network settings

[code]

[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as

[2018-08-21 01:36] eryx opened #2129 "keep consistent of some default parameters after lxcfs changed to pouch-lxcfs"
### Ⅰ. Issue Description
to fix the lxcfs name/path conflicts with offical package in some linux distribution, in #1490 the lxcfs renamed to pouch-lxcfs, then some related parameters still retaining the previous value, ex:

[code]

or

[code]

so:
1. is it necessary to update the new name/path?
3. or, in order to remain compatible, do not need update?

THX.

### Ⅱ. Describe what happened

### Ⅲ. D

[2018-08-21 01:39] eryx commented on #218
+1
tc network bandwidth limit support

[2018-08-22 01:41] #2118 closed

[2018-08-22 08:01] Starnop commented on #1756
Today, I will complete the following tests:
cri/v1alpha1/cri_utils.go

`applySandboxSecurityContext`
 `applySandboxLinuxOptions`
`makeSandboxPouchConfig`

[2018-08-22 13:26] zhangxiaoyu-zidif opened #2143 "cgroup driver is <empty> when execute pouch info"
### Ⅰ. Issue Description
when I execute `pouch info`, and check `cgroup driver`,
the value is empty.

### Ⅱ. Describe what happened
see above.

### Ⅲ. Describe what you expected to happen
it should show systemd or cgroupfs

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. pouch info 2>/dev/null | grep 'Cgroup Driver:' | grep -v "#"  | awk -F: '{print $2}' | sed 's/ //g'
2.
3

[2018-08-22 15:47] xiaoxubeii commented on #2143
Indeed, it doesn't return `CgroupDriver` in https://github.com/alibaba/pouch/blob/master/daemon/mgr/system.go#L118.

[2018-08-23 01:42] fuweid commented on #2095
it's caused by lower version of kernel. please update the kernel.

[2018-08-23 01:42] #2095 closed

[2018-08-23 08:47] #2114 closed

[2018-08-23 08:48] #2076 closed

[2018-08-23 08:57] xiechengsheng commented on #1897
In fact moby project is working on this in this [issue](https://github.com/moby/moby/issues/25779) and [Pull Request](https://github.com/moby/moby/pull/33355), seems very large feature in moby...

[2018-08-23 08:57] allencloud opened #2149 "[enhancement] better log level in PouchContainer: Error or Warn"
### Ⅰ. Issue Description

I think there should be some rule to guide us:

* which scenario to use log level Error;
* and which scenario to use log level Warn;

In the future we will use container-debugger to judge error log, if one day, we will generate more than 1000+ messages, I do not think the debugger-tool would take effect.

So, we need to add some guidance for us.

Also cc @fuweid to guide

[2018-08-23 09:02] allencloud opened #2150 "[doc] add CRI enhancement into document"
### Ⅰ. Issue Description

In PouchContainer, we have self-design and implement the CRI interface with CRI manager. To support more functionality of Pouchd in Kubernetes, we enhanced the CRI ability on the basis of the CRI compatibility.

Now we have already finished some, while we need a detailed documentation to cover this and deliver this. Then we need to add what we did in: https://github.com/a

[2018-08-23 16:30] allencloud commented on #1749
I think we are making it soon. This part, we can refer to @CodeJuan .
Maybe Mr Xiong could give us more details about the progress.

[2018-08-23 16:33] #76 closed

[2018-08-25 03:07] pouchrobot opened #2160 "Weekly Report of PouchContainer from 2018-08-18 to 2018-08-25"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-08-26 14:10] Ace-Tang opened #2162 "ci test bug: one case fail make other cases fails(daemon test)"
### Ⅰ. Issue Description

one case fail make other cases fails in `test/z_cli_daemon_test.go`.
`TestDaemonConfigFileUnknownFlag` fails makes following test fail, as soon as I remove this case, all ci test pass.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to k

[2018-08-27 09:49] xiaoxubeii commented on #2128
Indeed, i will submit a pr to fix it.

[2018-08-27 16:54] #2150 closed

[2018-08-29 12:41] Starnop opened #2172 "[feature request] make lxcfs configurable supportd in CRI managers for Kubernetes"
### Ⅰ. Issue Description
Currently, PouchContainer has supported resource review isolation via lxcfs, While actually in kubernetes, there is no related API to support these feature.

In order to implement this, I think we have to support these parameters in annotations in CRI manager(CRI implementation of PouchContainer).

When CRI manager deals the annotation details, it could pass these paramete

[2018-08-30 01:37] Ace-Tang opened #2176 "[proposal] release a new pouch/runc version"
### Ⅰ. Issue Description

To enable pouch with checkpoint/restore function, current run version miss some patch, the patch need to merge into pouch/runc and release a new version, pouch also need to update runc verson.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we n

[2018-08-30 01:45] allencloud commented on #2176
What does it bring? And what would it take effect? Please please please add it more in details. Thanks a lot. @Ace-Tang

[2018-08-30 02:07] Starnop commented on #2172
we could have the following definition:

{"io.kubernetes.lxcfsEnabled": "true"} means we need to enable lxcfs for a container;
{"io.kubernetes.lxcfsBinPath": "/usr/local/bin/lxcfs"} means specify the path of lxcfs binary;
{"io.kubernetes.lxcfsHome": "/var/lib/lxcfs"} means specify the mount dir of lxcfs.

@allencloud WDTY?

[2018-08-30 02:42] zjumoon01 opened #2177 "[feature request] Pouchd supports --log-opt flag"
### Ⅰ. Issue Description
I want to constrain container logs as using "--log-opt max-file=" and "--log-opt max-size=" flags in dockerd. However, pouchd doesn't  support "--log-opt" flags. So is there a way of constraining container logs ?
### Ⅱ. Describe what happened
[root@acs-test3 ~]# pouchd --log-opt
Error: unknown flag: --log-opt
ERRO[0000] unknown flag: --log-opt

### Ⅲ. Describe what you exp

[2018-08-30 02:45] fuweid commented on #2177
The `--log-opt` is supported by pouchd/pouch cli. However, we just support opt for the `syslog-driver`.

[2018-08-30 03:32] zjumoon01 opened #2179 "[proposal] pouch supports to update hostname for rich container"
### Ⅰ. Issue Description
When creating a container, pouch can set container hostname by `--hostname` option. Once hostname was set, It couldn't be updated in container config. It will be nice that pouch can update hostname for rich container and also its config. Maybe `pouch update` supporting `--hostname` for a running rich container  is reasonable.

### Ⅱ. Describe what happened

### Ⅲ. Describe

[2018-08-30 03:53] zjumoon01 opened #2180 "[proposal] create a container with a given ID"
### Ⅰ. Issue Description
Container ID is generated by pouch automatically. I have a management tool in which container ID is related to other members. When restoring a rich container in fault recover scene，I want to create a container with a given ID (actually the ID is the same as the container which is in fault) . It will be nice that `pouch run` can support a given container ID

### Ⅱ. Describe

[2018-08-30 12:07] #2143 closed

[2018-09-01 03:06] pouchrobot opened #2190 "Weekly Report of PouchContainer from 2018-08-25 to 2018-09-01"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-09-03 03:59] HusterWan opened #2192 "[help wanted] degree some log level from Error to Warn"
### Ⅰ. Issue Description

In `pouchd`,  we use service logs to monitor the health of `pouchd` . Some log level setting is not reasonable, just like logs below, i think we should set the log level from `error` to `warn`:

[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything

[2018-09-04 01:48] Starnop commented on #2047
Done.
https://github.com/alibaba/cri-tools/pull/1

[2018-09-04 01:55] Starnop commented on #2172
@allencloud LXCFS should be responsible for the configuration at the launch of pouchd, which is unrelated to CRI Manager, so this issue is unreasonable and close it now.

[2018-09-04 13:02] ofrzeta opened #2197 "No network function on Ubuntu 16.04"
### Ⅰ. Issue Description

I have installed Pouch on two machines with Ubuntu 16.04 from the official repository and couldn't get networking to work.

### Ⅱ. Describe what happened

When I start a new container with `pouch run -ti ubuntu:18.04` and try to update the Apt repo with` apt update` the hostnames seem to get resolved (apt shows "0% [Connecting to archive.ubuntu.com (91.189.88.152)] ..." b

[2018-09-04 14:05] fuweid commented on #2197
@ofrzeta this issue has been fixed. Please try update the pouch by apt-get install, like `sudo apt-get install pouch=1.0.0-0~ubuntu`.

[2018-09-04 14:17] ofrzeta commented on #2197
Awesome, thanks!

[2018-09-04 14:17] #2197 closed

[2018-09-05 05:38] ZYecho opened #2199 "[help wanted] questions about stop comand"
### Ⅰ. Issue Description
Is there is plan to support more commands that docker support, such as kill/search/port ?

### Ⅱ. Describe what happened
None

### Ⅲ. Describe what you expected to happen
Node

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

None

### Ⅴ. Anything else we need to know?
None

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /et

[2018-09-05 06:54] myeashion opened #2201 "can pouch container support Application running on Window Server"
I see nothing about windows container，can pouch container support applications running on Window Server？

[2018-09-05 08:36] ofrzeta opened #2202 "No network function with runV runtime"
### Ⅰ. Issue Description

Using the runV runtime creates a container with no network connectivity.

### Ⅱ. Describe what happened

Installed runV and Hyperstart according to the docs. Added runV as a runtime in the config file. Started a new container with `pouch run --rm -it --runtime runv ubuntu:18.04`. Running `apt update` shows that not even the host names get resolved. `pouch ps` shows the co

[2018-09-05 09:20] ZYecho opened #2204 "[bug report] make test error"
### Ⅰ. Issue Description

when run make test,  get error.
### Ⅱ. Describe what happened
run make test ,get
[code]
### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
[code]
- OS (e.g. from /etc/os-release):
[code]
- Kernel (e.g.

[2018-09-05 09:54] allencloud commented on #2204
Thanks a lot for your feedback. Could you help to fix this? @ZYecho 🍻

[2018-09-05 10:03] fuweid commented on #2204
@ZYecho thanks for reporting this. Could you provide your go version information? Thanks

[2018-09-05 10:49] ZYecho commented on #2204
@allencloud @fuweid  add go version info

[2018-09-05 11:01] fuweid commented on #2204
@ZYecho for now, we use go1.9.1 version. I think the behaviour has been changed after go upgrade. However, please feel free to file PR since we are considering about higher go version. 😄

[2018-09-05 12:14] ZYecho commented on #2199
Ping @allencloud, if there's a plan, I'm willing to work on it.

[2018-09-05 13:05] fuweid commented on #2199
@ZYecho please go ahead. it is our plan 😄 thank you!

[2018-09-06 02:52] ZYecho commented on #2199
@fuweid Hi, I'm trying to implement kill command, and when I came into the stop command which already implemented and I have some questions, can you explain for me?  thanks.
1. Why the stop command lastly goto delete containers, which  located in destroyContainer func:
[code]
When I look into the logic in [docker,](https://github.com/docker/docker-ce/blob/master/components/engine/daemon/stop.go) I

[2018-09-06 05:30] Ace-Tang opened #2208 "[bug] broken in pouch config merge function"
### Ⅰ. Issue Description

Pouch provide two ways to accepts config parameters, one is through command line, the other is through config file, we have something different feature to support, but it broken the merge function totally. The merge part need to be re-code.

broken reason:
1. sometimes, `0` and `false` should cover the origin value, but sometimes it wont' need, the common logic `merge` is

[2018-09-06 07:07] ofrzeta commented on #2202
Ok, good to know. Still doesn't work, though :) Any hints on debugging this?

[2018-09-06 07:45] ZYecho commented on #2199
add to Question 1, if you physically delete the container, why release the resource same as the rm command?
Question 3
docker rm example said default send SIGKILL signal to containers, but pouch send SIGTERM first, why the difference?
@fuweid @allencloud  Hope for your reply, Thanks.

[2018-09-06 07:59] ofrzeta commented on #2202
I see that there are debugging infos in /var/log/hyper. For one there's an error message in runv.ERROR:

[code]

[2018-09-07 03:05] allencloud commented on #2201
I am afraid that currently we do not support Windows server. While I think containerd are supporting it.

[2018-09-07 03:10] xiechengsheng opened #2213 "[SoC2019][question] Is there a need for enabling `prune`?"
### Ⅰ. Issue Description
The command helps delete unused objects in pouch system.
This subcommand can be used in five parts:
- [ ] pouch container prune
- [ ] pouch image prune
- [ ] pouch network prune
- [ ] pouch volume prune
- [ ] pouch system prune

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1

[2018-09-07 06:52] #2190 closed

[2018-09-08 03:06] pouchrobot opened #2217 "Weekly Report of PouchContainer from 2018-09-01 to 2018-09-08"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-09-08 07:18] ZYecho opened #2218 "[help wanted] questions about run command option -i && -d"
### Ⅰ. Issue Description
When I compared the run command between docker and pouch, I found the -i option is of different meaning, for docker, it was "Keep STDIN open even if not attached", and for pouch , it was "Attach container's STDIN"
So if I run
`docker run -itd --name busybox busybox` was ok
but `pouch run -itd --name busybox busybox` got Error: failed to run container: {"message":"container

[2018-09-08 07:57] ZYecho commented on #2218
What's more, there is not a default detach-keys?

[2018-09-10 06:03] #2172 closed

[2018-09-10 06:57] ZYecho opened #2221 "[bug] detatch-keys config can't work"
### Ⅰ. Issue Description
pouch run --detach-keys can't work

### Ⅱ. Describe what happened
`pouch run -it --detach-keys="ctrl-z" busybox` while attached into container, ctrl-z can't detach from container. But with docker, it could work.

### Ⅲ. Describe what you expected to happen
`pouch run -it --detach-keys="ctrl-z" busybox`
when type ctrl-z, detach cloud happen and container is still active.

#

[2018-09-11 04:44] scm20008 opened #2228 "how to recognize mysql containter hostname with other pouch container?"
### Ⅰ. Issue Description
I have 2 docker images from dockerhub.
other pouch container cannot recognize mysql container hostname, so the app cannot connect to mysql.

when I run mysql container, I add flags: --net mynet --hostname mysql

![2018-09-11_124416](https://user-images.githubusercontent.com/639305/45338583-740a9900-b5c0-11e8-97a2-e3dac5d3af09.jpg)

### Ⅱ. Describe what happened
app in the

[2018-09-11 07:00] #2160 closed

[2018-09-11 07:02] #2217 closed

[2018-09-11 07:02] allencloud commented on #2180
Any update with this issue? @zjumoon01

[2018-09-11 07:03] #2047 closed

[2018-09-11 13:17] fuweid commented on #2228
@scm20008 please try 1.0.0 version because this issue has been solved in https://github.com/alibaba/pouch/pull/2025

[2018-09-11 13:21] ireneYang opened #2232 "[bug] Could not get the latest pouch packages when start yum update with specific pouch pkg version"
### Ⅰ. Issue Description
Could not yum update pouch package when start yum update with specific pouch pkg version

### Ⅱ. Describe what happened
When preparing to update pouch from lower version to higher version, eg. from 0.5.2-1.el7.centos to 1.0.0-1.el7.centos, and execute cmd as below:
yum update pouch-1.0.0-1.el7.centos.x86_64
then update failed and it displays that there is no package "pouch

[2018-09-11 13:30] allencloud commented on #2232
Could you help to share more details about the reason? @fuweid

[2018-09-11 13:38] fuweid commented on #2232
@allencloud there is some issue in the package build in the repo. we should move the script from the pouch to pouchcontainer group so that we change our build script without changing gitcommit.

[2018-09-12 02:41] scm20008 commented on #2228
@fuweid Thanks! I have upgraded to version 1.0.0.

but pouch cannot start the container mysql:5.6, its image is registry.hub.docker.com/library/mysql:5.6,
and the following is the error:
![mysql_error](https://user-images.githubusercontent.com/639305/45398842-57319c80-b678-11e8-8a6f-9e88b9c959a4.jpg)

[2018-09-12 04:00] HusterWan commented on #2228
@scm20008
Maybe you should build a new Image from the ` registry.hub.docker.com/library/mysql:5.6`, do two things:

  * mkdir /var/run/mysqld/
  * chown -R mysql:mysql /var/run/mysqld/

Because the `mysql:5.6` defaut uses the `/var/run/mysqld/` as the service's data work directory.

BTW, pouch now not support `build` command, so you may need use other image building tool like moby.

[2018-09-12 13:10] ZYecho commented on #2221
Yeah, I'm beginner of container  and didn't know how to implement it, looking forward to your pr.

[2018-09-15 03:06] pouchrobot opened #2243 "Weekly Report of PouchContainer from 2018-09-08 to 2018-09-15"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-09-17 14:19] xiaoxubeii opened #2249 "[feature request] CI need some like '/retest' or '/test' command to trigger the test process"
### Ⅰ. Issue Description
Sometimes the ci failed to some reason that are not caused by the code, and there is no way to trigger the ci test process manually.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen
To trigger the ci test process by some commands, maybe '/retest'.

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else

[2018-09-18 03:50] Starnop commented on #2249
Maybe sign in `travis-ci.org` with your account of github will help you. ^_^

[2018-09-18 04:14] xiaoxubeii commented on #2249
But I think the normal contributor have no permission to trigger the build in travis-ci.org.

[2018-09-18 06:46] #2128 closed

[2018-09-18 10:03] knightXun opened #2251 "[feature request] using etcd store pouch configs"
Disk corruption make damages to docker,for examples docker containers configuration,images configuration.Pouch will meet this problem too. maybe we can store some part of configuration into etcd. That will make pouch more stable.

[2018-09-19 02:11] fuweid commented on #2199
@ZYecho we try to stop the container by SIGTERM. it's the normal way to stop program, like `kill pid`. If it fails, you will try to use `kill -9 pid` right, like `SIGKILL`?

the delete container action is to remove the metadata in containerd. but we still have the container configuration in pouchd so that we can restart the stopped container. it's not same thing as rm command. rm command will remo

[2018-09-19 05:39] #2199 closed

[2018-09-19 09:55] changyaowei opened #2255 "[bug] Can't get pid from container which was stopped"
### Ⅰ. Issue Description

When a pouch container is stopped,  we can't get pid by ```pouch inspect ```.
By the way, in CRI module, when we build  network namespace, we should judge pid with 0 not -1

### Ⅱ. Describe what happened
![image](https://user-images.githubusercontent.com/12136478/45745464-7a89b800-bc33-11e8-9a79-b44bccb9bcfe.png)

![image](https://user-images.githubusercontent.com/1213647

[2018-09-20 02:16] #2243 closed

[2018-09-20 06:35] #1516 closed

[2018-09-20 06:36] fuweid commented on #1571
since there is no need to align with swarm, close it

[2018-09-20 06:36] #1571 closed

[2018-09-20 06:39] HusterWan commented on #1171
Already support `-v` flag when `rm` containers

[2018-09-20 06:39] #1171 closed

[2018-09-20 06:40] fuweid commented on #1433
fixed by https://github.com/alibaba/pouch/pull/2042

[2018-09-20 06:40] #1433 closed

[2018-09-20 06:40] #1225 closed

[2018-09-20 06:42] #389 closed

[2018-09-20 06:42] HusterWan commented on #1197
Actually, we have already supported `restart` policy

[2018-09-20 06:42] #1197 closed

[2018-09-20 06:42] #1534 closed

[2018-09-20 06:43] #1546 closed

[2018-09-20 06:43] fuweid commented on #1305
this issue has been fixed.

[2018-09-20 06:43] #1305 closed

[2018-09-20 06:43] #1618 closed

[2018-09-20 06:43] #857 closed

[2018-09-20 06:44] #377 closed

[2018-09-20 06:46] #1262 closed

[2018-09-20 06:46] HusterWan commented on #1620
i will do it by myself

[2018-09-20 06:46] #1620 closed

[2018-09-20 06:56] fuweid commented on #1329
already fixes it.

[2018-09-20 06:56] #1329 closed

[2018-09-20 06:58] #1524 closed

[2018-09-20 07:00] Starnop commented on #1469
It's the responsibility of CNI plugin. Close it now.

[2018-09-20 07:00] #1469 closed

[2018-09-20 07:07] #1905 closed

[2018-09-20 07:09] fuweid commented on #842
added case for this.

[2018-09-20 07:09] #842 closed

[2018-09-20 07:16] fuweid commented on #1363
has been fixed.

[2018-09-20 07:16] #1363 closed

[2018-09-20 07:17] fuweid commented on #815
we have improved the cleanup function. will keep eyes on this.

[2018-09-20 07:17] #815 closed

[2018-09-20 09:30] chuanchang commented on #1285
This issue has been fixed.

[2018-09-20 09:30] #1285 closed

[2018-09-20 09:34] chuanchang commented on #1291
#time pouch network create -n pouchnet -d foobar
Error: {"message":"failed to create network: could not find plugin foobar in v1 plugin registry: plugin not found"}

real	0m15.069s
user	0m0.080s
sys	0m0.015s

[2018-09-20 09:35] #1518 closed

[2018-09-20 09:51] chuanchang commented on #1902
This file doesn't exist now.

[2018-09-20 09:51] #1902 closed

[2018-09-20 09:54] chuanchang commented on #1901
can't find this file in records of code coverage.

[2018-09-20 09:54] #1901 closed

[2018-09-20 16:00] #1529 closed

[2018-09-21 00:53] fuweid commented on #2255
@Starnop could we update the CRI part?

[2018-09-22 03:06] pouchrobot opened #2272 "Weekly Report of PouchContainer from 2018-09-15 to 2018-09-22"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-09-25 11:25] zjumoon01 opened #2276 "[bug] logging options doesn't have a valid check"
### Ⅰ. Issue Description
Pouch does not check the logging options key, that results pouchd can start with useless options

### Ⅱ. Describe what happened
1. start pouchd with any useless logging options:
\# /usr/local/bin/pouchd --log-opt max-size=10m --log-opt max-file=2 **--log-opt key=value**
2. pouchd start successfully without error.

### Ⅲ. Describe what you expected to happen
We need valid c

[2018-09-26 08:55] #2255 closed

[2018-09-27 06:39] marryton007 opened #2280 "[Bug] OCI runtime create failed: container_linux.go:265: starting container process caused \"permission denied\": unknown"}"
### Ⅰ. Issue Description
I using windows 10 + vagrant to manage a centos7 VM,  try to play pouch, but It happens while I ran the following command:
[code]

### Ⅱ. Describe what happened
[code]

### Ⅲ. Describe what you expected to happen
the container could be startup normally

### Ⅳ. How to reproduce it (as minimally and precisely as possible)
1.
2.
3.

### Ⅴ. Anything else we need to know?
Follo

[2018-09-27 09:18] bosongarvin commented on #2280
I have the same problem on CentOS-7

[2018-09-27 09:27] allencloud commented on #2280
Thanks for your feedback. @marryton007 @bosongarvin
I found that your version of pouchd is `1.0.0.rc2`.
Could you update it to the GA version `1.0.0` to test it again?

[2018-09-27 10:41] fuweid commented on #2280
@marryton007 @bosongarvin could you mind to provide your vagrantfile or box name? Thanks

[2018-09-28 11:39] fankangbest opened #2281 "Failed to stop container: lock failed"
### Ⅰ. Issue Description
When I run e2e test case for kubelet in kubernetes, and there is a case sometimes failed with error:
Sep 28 18:49:37.028: INFO: [WaitTimeoutForContainerUpdateStatus] updateStatusStr: {"statuses":{"pod-base":{"creationTimestamp":"2018-09-28T18:49:30.096971955+08:00","finishTimestamp":"2018-09-28T18:49:30.098021602+08:00","currentState":"running","lastState":"running","actio

[2018-09-29 03:01] flyer103 opened #2283 "[feature request]add LogPath field to the output of pouch inspect"
### Ⅰ. Issue Description

[Aliyun SLS](https://www.aliyun.com/product/sls) could use [logtail](https://help.aliyun.com/document_detail/66658.html) to collect docker containers' stdout/stderr logs.
**logtail** uses `docker inspect` to get the path of stdout/stderr log through **LogPath** field and then collects logs on the host machine.
For pouch container, `pouch inspect` doesn't offer the **LogPa

[2018-09-29 03:06] pouchrobot opened #2284 "Weekly Report of PouchContainer from 2018-09-22 to 2018-09-29"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-09-29 05:55] #2272 closed

[2018-09-29 06:14] allencloud commented on #2281
I am afraid that code
[code]
Would affect this. When reading the code, we found that a specific container is only allowed to be executed by one operation, like `stop`, `start` and so on.

When a container is executed by one operation, the other one which wishes to get the container would return the `lock failure` error.

So when there are many concurrent accesses to the container, the `lock failed

[2018-09-29 06:17] allencloud commented on #2281
We have three proposals here:

### return ErrLockfailed directly if lock fails;

Currently we did the code master branch.

### wait until the goroutine get the lock

I think this would block lots of operation request.

### return ErrLockfailed if lock fails and wait for a interval

this is a tradeoff.

@fankangbest

[2018-09-29 07:49] #2283 closed

[2018-09-29 14:26] allencloud opened #2290 "[flaky test] failure in cri-tools test: Container Mount Propagation"
### Ⅰ. Issue Description

I found that in the cri-tools, we always met the flaky test
[code]

Could you help to take a look at this? @Starnop @YaoZengzeng

### Ⅱ. Describe what happened
cri-tools fails.

### Ⅲ. Describe what you expected to happen
cri-tools passes.

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environm

[2018-09-30 01:58] Starnop commented on #2290
At present, almost all flaky tests are caused by IO problem , and that's one of the it. :)

[2018-09-30 02:37] Starnop commented on #2290
@fuweid is leading the way, and a roadmap is needed which I'm looking forward to.

[2018-10-06 03:06] pouchrobot opened #2296 "Weekly Report of PouchContainer from 2018-09-29 to 2018-10-06"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-10-08 02:44] #2296 closed

[2018-10-08 02:44] #2284 closed

[2018-10-08 02:56] fuweid commented on #1487
we will keep eyes on this issue.

[2018-10-08 02:56] #1487 closed

[2018-10-08 02:57] fuweid commented on #1481
keep eyes on this issue. will reopen it if show up again.

[2018-10-08 02:57] #1481 closed

[2018-10-08 12:25] allencloud opened #2298 "[CI] criu installation failure block the CI procedure"
### Ⅰ. Issue Description

Recently we met logs of CI failure is caused by criu installation failure. This blocks a lot when checking pull request's CI status.

[code]

### Ⅱ. Describe what happened

criu installation failure block the CI procedure

### Ⅲ. Describe what you expected to happen
other issue unrelated to code will not block the code review and merge.

### Ⅳ. How to reproduce it (as min

[2018-10-09 08:56] allencloud commented on #2103
Could you please add more details about what we have done and what we have not done in this issue? @Ace-Tang

Since recently we merged one related pull request.

[2018-10-09 08:58] allencloud commented on #1560
Could you give us more details about why the commit influences the start time performance? @rudyfly

[2018-10-11 13:00] senthilnathann commented on #140
Hi ,

Not able to remount the proc files inside the containers ,
whil executing below command ,

nsenter --target 8799 --mount -- mount -B /usr/local/var/lib/lxcfs/proc/meminfo /proc/meminfo

mount: mount /usr/local/var/lib/lxcfs/proc/meminfo on /proc/meminfo failed: Transport endpoint is not connected

Pls check and help

[2018-10-13 03:06] pouchrobot opened #2307 "Weekly Report of PouchContainer from 2018-10-06 to 2018-10-13"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-10-14 15:35] allencloud commented on #1186
I think we have added POST request's body in master branch. Closing this.

[2018-10-14 15:35] #1186 closed

[2018-10-15 06:29] hkebao opened #2313 "[question] Could pouch collect container cpu load?"
### Ⅰ. Issue Description

I  found that we could not use cadvisor in Kubernetes to collect the container cpu load.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-releas

[2018-10-15 16:16] allencloud commented on #2281
@SimonCqk  This is the most straight forward way, we have decided to do this temporary. See https://github.com/alibaba/pouch/pull/2287#issuecomment-429825746

[2018-10-16 01:27] fanux opened #2314 "[feature request] pouch support kubernetes runtime class"
# About kubernetes [runtime class](https://github.com/kubernetes/community/blob/master/keps/sig-node/0014-runtime-class.md)

Support runtime class so the user can select runtime in one kubernetes cluster.

[code]

for more details about runtime class, we could refer to https://kubernetes.io/docs/concepts/containers/runtime-class/

[2018-10-16 06:10] xiaoxubeii commented on #2314
IMO, the implementation of Kubernetes runtime class is actually a CRI implementation and as I known, pouch have Implemented CRI interface. So theoretically pouch can support runtime class.

[2018-10-16 08:30] allencloud commented on #2314
Assigned to @Starnop to take a look at this.

[2018-10-16 10:53] Starnop commented on #2314
@fanux Thank you for your request, We've actually supported selecting the container runtime  to run a pod so far but only for `runc` and `runv`. For details, please refer to https://github.com/alibaba/pouch/pull/1593

In fact, `RuntimeClass`  is an alpha feature, and we will keep following up on this , get more info refers to
https://github.com/kubernetes/community/blob/master/keps/sig-node/0014-r

[2018-10-16 16:54] allencloud commented on #2314
@Starnop So, an alpha feature of Kubernetes will not bring into PouchContainer, right?
And we will keep an eye on this and make decision whether to introduce that into Pouch, right?

@fanux Could the following way meet your demand?

[2018-10-17 02:35] #2307 closed

[2018-10-17 02:39] fanux commented on #2314
Pouch runc runv meet our demand now, But in the future, we also want to run pouch docker or gvisor in one kubernetes cluster.

[2018-10-17 03:43] Starnop commented on #2314
I'm looking through the documentation and will support this feature ASAP.

[2018-10-17 04:27] xiaoxubeii commented on #2314
My bad, you are right. RuntimeClass is CRI implementation dependent.

[2018-10-17 05:55] allencloud commented on #2314
@fanux Reasonable. @Starnop is looking at this and try to support. Maybe we could discuss further in dingtalk chat group. 😄

[2018-10-17 05:56] allencloud commented on #2313
Could you answer the issue here? we could collect more progress data to fill this issue. And make people know the progress. Thanks. @Starnop

[2018-10-17 05:58] allencloud commented on #2276
I think this is solved in https://github.com/alibaba/pouch/pull/2306. Please take a look. @zjumoon01

And I we plan to release this in v1.0.1, right? @fuweid for double check.

[2018-10-17 05:58] #2276 closed

[2018-10-17 05:59] allencloud commented on #2249
I will close this since I think it is another tool's work to make it work. @xiaoxubeii

[2018-10-17 05:59] #2249 closed

[2018-10-17 06:01] allencloud commented on #2202
Please take a look at this? @Ace-Tang
I wish that we could make this move on, whether to follow on this or some other actions.

[2018-10-17 06:46] fengzixu commented on #2192
Setting a regulation about log level is always a reluctant problem. There are some thoughts about it.

#### Error

I prefer to use `Error` to illustrate the critical errors which give some bad impacts on functions. So if you see the logs in `Error` format, that stands for some failures happened in functions.

#### Info

The level called `Info` usually are used for printing useful information which

[2018-10-17 06:58] fengzixu commented on #2251
Is this feature has been considered to implement? If I want to handle it, which steps I should follow? (Eg: tech design doc, open an issue to discuss it) @fuweid @allencloud

[2018-10-17 07:59] allencloud commented on #2251
To be honest, current this feature is not so urgent for us. However in the future, this is definitely a very useful feature. We need to implement this.

A design doc is essential. Yeah, open an issue. When we finish the design review, I think pull request could follow up to cover it.

@fengzixu

[2018-10-17 08:09] knightXun commented on #2251
@allencloud I will offer my helps to implement this feature if i have time. For this design doc, please let me know.

[2018-10-17 10:02] Starnop commented on #2313
I am sorry, maybe need more time to learn more details about `cadvisor`, and some releated info please refer to :
https://github.com/google/cadvisor/pull/437
https://github.com/google/cadvisor/pull/1188

[2018-10-18 07:53] #2281 closed

[2018-10-19 03:18] xiaoxubeii opened #2335 "[enhancement] PR #2319 ctrd/container_lock.go TrylockWithRetry is not FIFO"
### Ⅰ. Issue Description
In #2319 ctrd/container_lock.go:

[code]

The retry mechanism is not FIFO, so the probability of getting a lock is dependent on the retry intervals. Is this acceptable?

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Envi

[2018-10-19 03:28] xiaoxubeii commented on #2335
LGTM

[2018-10-19 03:28] #2335 closed

[2018-10-19 04:04] allencloud commented on #2313
I think we could collect container cpu load via PouchContainer in Kubernetes via cadvisor? Am I right?
@Starnop
If the answer is yes. I am afraid that we should support @hkebao to make it as soon as possible.

[2018-10-19 07:05] Starnop commented on #2313
@allencloud
In fact, the pouch has nothing to do with the that whether it can be collected or not. Since the pouch rely on containerd, for the cadvisor, all containers created by pouch be equivalent to created by containerd.

Currently, the cadvisor only collects containers information in `k8s.io` namespace of containerd which cannot be changed.

In addition, for all I know, `cadvisor`  get taskst

[2018-10-19 08:11] fuweid commented on #2313
@Starnop could we file PR to cadvisor to support configurable namespace? I think it should support it.

[2018-10-19 11:59] Ace-Tang opened #2336 "[proposal] support more Non-Standard metric item"
### Ⅰ. Issue Description

As I got some specific requirement to support non-standard metric item list below,  cadvisor got container metric from cgroup or proc file on the host, these item I list can not get from the same way, So maybe additional method to get metric through pouch.

* disk usage
the usage of container disk

* load
load of container

### Ⅱ. Describe what happened

### Ⅲ. Describe w

[2018-10-19 12:15] fuweid commented on #2298
close by #2323

[2018-10-19 12:38] Ace-Tang commented on #2298
Actually not fixed, we just add log to locate the step ?

[2018-10-19 12:41] fuweid commented on #2298
add bash -x for install criu? how do you think?

[2018-10-19 13:40] Ace-Tang commented on #2298
Maybe we can add it if the problem appear next time，then we can know where is hang.

[2018-10-20 03:07] pouchrobot opened #2337 "Weekly Report of PouchContainer from 2018-10-13 to 2018-10-20"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-10-22 14:54] Liberxue opened #2341 "[feature request] Intend to provide pouch with a visual installation/management tool"
### I. Issue Description
Intend to provide pouch with a visual installation/management tool
### II. Describe what you expected to happen
Solve installation management resource issues

### III.Support operating system
Mac
Ubuntu
Windows

### Ⅳ.Development language
C/C++/Golang +JavaScript

### Ⅴ.rely
[Webview](https://github.com/zserge/webview) + [Moon](https://github.com/kbrsh/moon)

### 👏
How do

[2018-10-23 14:50] allencloud commented on #2228
ping @scm20008
Could you find a way to solve the problem? If you have any progress, please feel free to contact us. Thanks a lot.

[2018-10-23 14:51] allencloud commented on #2232
Any update with this issue? I think we are going to release the next version in few days. @fuweid

[2018-10-23 14:53] allencloud commented on #2213
In the next weekly meeting, we should talk about this. @alibaba/pouch @fuweid

[2018-10-23 14:54] allencloud commented on #2176
Any update on this ? @Ace-Tang Please sync something with us.

[2018-10-23 14:56] #2337 closed

[2018-10-23 15:11] fuweid commented on #2232
yes. but something like IO issue is more important than that.
We needs to move the release tool out of repo and make the script right.
For this requirement, I would like to add the `help-wanted`. How do you think?

[2018-10-24 01:09] fuweid commented on #2232
sure. will file issue.

[2018-10-24 03:16] Ace-Tang commented on #2176
@allencloud, doc on internal.

[2018-10-24 06:05] #2218 closed

[2018-10-24 06:09] ZYecho commented on #2099
Hi, I want to know does anyone are working on this issue? @fuweid  If not, maybe I can try to fix it.

[2018-10-24 09:24] mathspanda opened #2356 "[feature request] support dns options when creating container through pouch cli"
Support specifying options related with dns when creating container through pouch cli. Maybe only a little code in cli package.

[2018-10-24 09:32] allencloud commented on #2341
I have one question for this. @Liberxue

Linux System is a little bit different from other system. Since PouchContainer only works on Linux, for other systems we need to start up a minor virtual machine for PouchContainer, just like boot2docker or something else.

[2018-10-24 09:56] mathspanda commented on #2356
Sure. I will work on it.

[2018-10-24 10:37] eryx opened #2357 "can not upgrade pouch to 1.0.0 in CentOS"
### Ⅰ. Issue Description

file list in centos repo:
[code]
in centos, the version 1.0.0_rc2 is newer than 1.0.0

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):

[2018-10-24 10:40] fuweid commented on #2357
relate to https://github.com/alibaba/pouch/issues/2232. Sorry for that.

[2018-10-24 10:44] eryx opened #2358 "failed to start pouch-lxcfs in centos"
### Ⅰ. Issue Description

[code]

log in /var/log/message
[code]

the liblxcfs.so can not found in path of /usr/local/lib/lxcfs/liblxcfs.so

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`): pouch

[2018-10-25 04:41] eryx commented on #2358
maybe caused in this PR:

https://github.com/alibaba/pouch/commit/9c3d7db4fb27a675252cdf15bc2869ff2fc1a962#diff-c485ebe9b1bc171ddf280d335e0fe955L49

lost the following lines when move the hack/package/rpm/build.sh (function build_lxcfs) to hack/install/install_lxcfs.sh(lxcfs::centos::pull_build):
[code]

[2018-10-25 04:54] eryx commented on #2358
advice: set a prefix in configure of lxcfs

[code]
the binary will be install to /usr/loca/pouch/bin/lxcfs
shared file will be in /usr/local/pouch/lib/lxcfs/liblxcfs.so

this way may be simpler  for packaging, and not easy to make mistakes, also avoid conflicts with other project paths.

[2018-10-25 09:37] mathspanda opened #2362 "[question] Enabling libnetwork resolver by default is the right behavior?"
### Ⅰ. Issue Description
The question raises when I work on issue #2356.  I find that the embedded DNS server 127.0.0.11 is enabled by default, even the network mode is bridge.
[code]
Maybe using resolv.conf file on host by default or enabling libnetwork resolver when network is user-defined is the right behavior?

### II. How to reproduce it (as minimally and precisely as possible)
[code]

### II

[2018-10-25 12:38] rudyfly commented on #2362
hi, @mathspanda
The question you are feeding is valid, we should check the network mode, could you send PR to fix it?

[2018-10-25 15:13] mathspanda commented on #2362
Sure. I will send a PR.

[2018-10-26 02:53] houstar commented on #2202
I'll look at this on my spare time.

[2018-10-26 03:39] purplegrape commented on #2357
it's due to wrong rpm spec tag .

another rpm package you may want : https://github.com/purplegrape/pouch-rpm

[2018-10-26 08:04] allencloud opened #2365 "[bug] run into ocicni panic"
### Ⅰ. Issue Description

When running Pouch, we ran into a panic:

[code]

### Ⅱ. Describe what happened
panic happens

### Ⅲ. Describe what you expected to happen
no panic

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g

[2018-10-26 08:30] houstar commented on #2202
The network works fine here. See below. I'd like to change this title to "enhance runv to use VirtIO networking". @ofrzeta What's your opinion?

[code]

[2018-10-26 08:35] houstar commented on #2202
@allencloud Currently pouch not supported runv on CentOS 7.4 since the Qemu can't running on the CentOS 7.4 ( Qemu use the newer glibc version but CentOS use the older glibc for its stability).

[2018-10-26 08:35] CodeJuan commented on #2358
@eryx
Thanks for your suggestion.

To avoid to overwrite the user's lxcfs, we build a customized lxcfs(pouch-lxcfs and libpouchlxcfs.so) for Pouch, and package it into the rpm of Pouch.

The issue was caused by https://github.com/alibaba/pouch/blob/master/hack/install/install_lxcfs.sh#L42  the replace action `grep -l -r "liblxcfs" . | xargs sed -i 's/liblxcfs/libpouchlxcfs/g'` was deleted.

We wil

[2018-10-26 09:52] #968 closed

[2018-10-26 10:33] eryx commented on #284
+1

同 swift1911 所说，不是 pouch 的问题，但建议 pouch 可以检测这个环境参数，至少在log里有提示；或者更智能点，自动更换另外一种 Storage Driver

[2018-10-27 03:06] pouchrobot opened #2368 "Weekly Report of PouchContainer from 2018-10-20 to 2018-10-27"
# Weekly Report of PouchContainer
This is a weekly report of PouchContainer. It summarizes what have changed in PouchContainer in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issu

[2018-10-27 05:08] allencloud commented on #2099
I think that @xiechengsheng used to work on it, but met some issues on it. If I could remember, it is some compatible issue between docker registry and local image?

While could @xiechengsheng give some feedback about this?
We could check whether to make this move on. @fuweid @ZYecho

[2018-10-27 05:09] allencloud commented on #2099
push feature is a little bit related with https://github.com/alibaba/pouch/issues/1919. just record the connection of two issues.

[2018-10-27 05:39] xiechengsheng commented on #2099
Emmm, I did a little bit research on containerd's push functionality. It seems that the present containerd version(`v1.0.3`) that pouch uses doesn't support the `--all-platforms` flag in `ctr` client, which will lead to `ctr push` command error : `unexpected status: 400 Bad Request`, and this bug has been fixed in [newer containerd version](https://github.com/containerd/containerd/pull/2200). So I

[2018-10-27 09:02] ZYecho opened #2371 "[question] Is there a need to support pouch images filter and no-trunc flag?"
### Ⅰ. Issue Description
As the title desc.

### Ⅱ. Describe what happened
None.

### Ⅲ. Describe what you expected to happen
None.

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?
None.

### Ⅵ. Environment:
None.

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools

[2018-10-28 06:13] allencloud commented on #2371
Yes, I think so. It is a very helpful feature for cli end-users.

[2018-10-28 06:15] allencloud commented on #2099
What is new movement in container v1.2.0? Do you know that?
Actually we are very active on migrating containerd to v1.2.0. @xiechengsheng

[2018-10-28 06:34] allencloud commented on #2202
Thanks a lot of your provided info. @houstar
Will KataContainer have the same issue? Since I need to judge the clear boundary of this issue?

Is it the issue of runv or KataContainer? or this is the problem in the way PouchContainer uses runv/katacontainer.

Also cc @Ace-Tang for more input. Thanks a lot.

[2018-10-28 07:16] Liberxue commented on #2341
@allencloud

Ok👌. I understand this,

I’m going to provide the function. Let’s discuss it together.

### Main interface

![image](https://user-images.githubusercontent.com/5831248/47613043-4e7b1580-dac2-11e8-8313-11a43d2ea329.png)
![image](https://user-images.githubusercontent.com/5831248/47613161-6a7fb680-dac4-11e8-8853-e43256519599.png)

[2018-10-28 07:38] ZYecho commented on #2371
I plan to work on it, thanks.

[2018-10-28 07:53] xiechengsheng commented on #2099
For me the changelog seems too big to read 😢 ... But one thing I can ensure is that this `400 Bad Request` bug has been fixed from containerd v1.0.0(https://github.com/containerd/containerd/pull/2200/commits/c3cf3d78229b273c32242c51710a3fb29bc6e45f) ...

[2018-10-29 06:05] hkebao opened #2377 "[feature request] pouch command flags can support --publish"
### Ⅰ. Issue Description
In docker command flags use --publish to expose services for the container.but in pouch the flags is --port. why cannt follow the open source rules? so I suggest pouch can support the same flags--publish.

### Ⅱ. Describe what happened
pouch run --publish
Error: unknown flag: --publish

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally a

[2018-10-29 06:07] hkebao opened #2378 "pouch command can support --userns flags"
### Ⅰ. Issue Description
docker can support userns flags when the containerd run in the special namespace. but in the pouch env, it cannt support this flag. so it can cause some bug.

### Ⅱ. Describe what happened
pouch run --userns=host

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

[2018-10-29 13:08] houstar commented on #2202
@allencloud

This is the issue of runV.  Not the problem of the way PouchContainer uses runv.

See the original claim that from runV.

[code]
Also Cc / @Ace-Tang

For runV VirtIO networking, I saw there's some Todo code with VhostUser using ovsctl but not finished.

Is really need to push VhostUser on runV  for our User Cases?

[2018-10-29 14:00] Ace-Tang commented on #2378
Working on this,  I also find other namespace flags implements bad, I will fixed simultaneously.

[2018-10-29 15:46] allencloud commented on #1601
I think in master this issue is solved by pr https://github.com/alibaba/pouch/pull/2350

[2018-10-29 15:51] #1601 closed

[2018-10-29 15:52] allencloud commented on #1491
Could we close this issue? @zhuangqh I would invite you to take a double check.
And please close this if it is proper.

[2018-10-29 15:53] allencloud commented on #357
Actually we need to make this move on recently. 😭

[2018-10-29 15:54] allencloud commented on #110
Now, I don't think this is a problem. We have been using this way for about one year. No one have complained about it ever. Closing this one.

[2018-10-29 15:54] #110 closed

[2018-10-29 15:57] allencloud commented on #443
Thanks to pr https://github.com/alibaba/pouch/pull/2350 put forwards by @zhuangqh, now we have the foundation to make this issue move on. Could you help to take this one step by step.

I think there is more than one thing to add:

* make sure all to validations of input request boby's fields;
* add validation code in the pouchd.

[2018-10-30 01:51] hellolijj opened #2381 "doc incomplete: CriEnabled field in the document is differen from that in the pouch info"
### Ⅰ. Issue Description
when i develop pouch with kubernetes following [document](https://github.com/alibaba/pouch/blob/master/docs/kubernetes/pouch_with_kubernetes_deploying.md), `CriEnabled` field  in the document is differen from that in the pouch info. `CriEnabled` is in document, but `IsCriEnable` is in document.

### Ⅱ. Describe what happened
see above

### Ⅲ. Describe what you expected to

[2018-10-30 02:03] Starnop commented on #2381
Could you please help fix it? :)

[2018-10-30 02:08] hellolijj commented on #2381
ok

[2018-10-30 02:46] ZYecho commented on #2371
@fuweid Why close it? still leave a flag `filter` to implement.

[2018-10-30 02:48] fuweid commented on #2371
Oops. The pr linked to this issue. When I merge the pr, this issue will be closed. Reopen it.

[2018-10-30 03:11] #2381 closed

[2018-10-30 04:17] #2368 closed

[2018-10-30 07:22] mathspanda opened #2384 "[feature request] support ipam-opt flag when creating network through pouch cli"
## Why you need it?

As the title describe.

## How it could be?

[code]

## Other related information

None

[2018-10-30 09:46] YvesChan opened #2386 "`pouch inspect` info of NetworkSettings is incomplete"
### Ⅰ. Issue Description
The output of pouch inspect does NOT contain the Ports info in NetworkSettings Section, unlike what *docker-ce* does.

### Ⅱ. Describe what happened
* run `pouch run -dt -p 8080:80 nginx`
* then `pouch inspect xxxx`
* there's no Ports in NetworkSettings

### Ⅲ. Describe what you expected to happen
using docker-ce instead. Here's what we got from `docker inspect`
[code]

##

[2018-10-30 10:00] xiaoxubeii commented on #2386
Indeed, working on it.

[2018-10-30 11:37] xiaoxubeii commented on #2384
Working on it.

[2018-10-30 11:42] xiaoxubeii opened #2388 "[feature request] support a comment command like "/assign" to assign issue to commenter"
## Why you need it?

This is helpful for the contributor to assign and anchor the issue.

## How it could be?

## Other related information

[2018-10-30 12:02] allencloud commented on #2388
This is a good feature request. While could github support assign an issue to a github user who is not currently in this org?

[2018-10-30 12:19] hellolijj opened #2389 "`kubeadm reset` support kill relative pods to release occupied port"
## Why you need it?

When I deployed k8s + pouch with `kubeadm`, command `kubeadm reset` didn't kill relative pod, causing the port 6443、10250、10251、10252 to be occupied. But k8s + docker support that.

## How it could be?

Command `kubeadm reset` should kill relative pod, releasing occupied port.

## Other related information

kubeadm version: 1.11.2
k8s version: 1.11.2
pouch version: 1.0.0-rc2

[2018-10-30 15:19] zhuangqh commented on #1491
already fixed in #2350 . closed  @allencloud @Ace-Tang

[2018-10-30 15:19] #1491 closed

[2018-10-31 02:39] hellolijj commented on #2280
I meet the same problem on CentOS-7

[2018-10-31 02:53] hellolijj commented on #2280
my pouch version is as follows:
[root@node2 pouch]# pouch version
KernelVersion:   3.10.0-693.el7.x86_64
Os:              linux
Version:         1.0.0-rc2
APIVersion:      1.24
Arch:            amd64
BuildTime:       2018-08-23T06:39:26+00:00
GitCommit:       1.0.0.rc2
GoVersion:       go1.9.1

[2018-10-31 02:55] bosongarvin commented on #2280
@hellolijj  Update you version to 1.0.0

[2018-10-31 06:46] hellolijj commented on #2280
thanks. this error can be avoided by updating pouch to version 1.0.0 ！

[2018-10-31 06:56] Starnop commented on #2365
I cannot reproduce it.  it's not easy to fix it. So block it temporarily.

[2018-10-31 07:00] Starnop commented on #2313
@hkebao Is there still any questions? Please let us know if you have any.  And if not, could you please help close this issue? Thanks. :)

[2018-10-31 07:48] Starnop commented on #2313
@fuweid I have open an [issue](https://github.com/google/cadvisor/issues/2082) . However, there is no reply. And I have look around the source code, it's not easy to add a parameter due to the non-expandable design. I am afraid it is  difficult to advance this matter for now.

[2018-10-31 08:49] houstar commented on #2202
@ofrzeta

I‘ve verified that ***Kata-runtime already supported VirtIO Networking*.** See results.

[code]

[root@qing-for-dev]# ps -ef | grep qemu
root     22976 22925  0 16:15 ?        00:00:02 /usr/bin/qemu-lite-system-x86_64 -name sandbox-6d7a044eaf30a067109f46e5352d9398eaa121c1841a52dcd7947e4682754c59 -uuid f5d87afe-1b38-4919-8238-236b64f73334 -machine pc,accel=kvm,kernel_irqchip,nvdimm -cpu h

[2018-10-31 09:56] fengzixu opened #2395 "[question] Whether the logics about metrics in cri dir needs to revise?"
## Question

When I read codes about metrics of gRPC in the pouch, I found that there are some not standard approaches in using the object called `Registerer` in Prometheus.

Actually, in https://github.com/alibaba/pouch/blob/master/cri/metrics/metrics.go#L78, the method called `MustRegister` registers metrics into the register variant in Prometheus. But, that is a default and global register. We

[2018-10-31 10:03] fengzixu commented on #2395
We should supply a standard pattern of using Prometheus in pouch.

[2018-10-31 11:57] mathspanda opened #2397 "[question] Is it better replacing downloading k8s components from googleapis with apt-install from aliyun in allinone_aliyun.sh?"
## Question

The kubernetes deployment steps on ubuntu in [allinone_aliyun.sh](https://github.com/alibaba/pouch/blob/master/hack/kubernetes/allinone_aliyun.sh#L117) need to download components from https://storage.googleapis.com/kubernetes-release. This site couldn't be visited normally in some cases.:) So why don't replace it with apt-installing from aliyun mirrors. The same as in doc [pouch_with

[2018-10-31 12:15] fuweid commented on #2397
@mathspanda welcome ~ just don't hesitate to file pr.

cc @manlge

ping

[2018-10-31 12:36] Ace-Tang commented on #2202
Hi, @houstar , I think it related to the qemu version you use, @ofrzeta , I suggest you update to use kata instead of runv, since kata do more support about network type, include bridge, macvlan, ipvlan, also vhostuser, but since we use sriov network, I do not have much experience about these network, you can have a try.

[2018-10-31 13:21] Ace-Tang commented on #2378
After discuss with @hkebao offline, he does not need usens now, so I think it can be implement later, @hkebao , wdyt ?

[2018-10-31 17:41] allencloud opened #2399 "[feature request] remove unused vendored package in pouch"
## Why you need it?

When I learn from this project to help [Dragonfly](https://github.com/alibaba/Dragonfly) to support swagger. I found that in there are so many vendored packages in Pouch. I have some doubt that whether all these package in vendor.json is all used in the project.

When I use `govendor list +unused`, it lists :

[code]

It seem some packages are unnecessary. Please help to remov

[2018-11-01 01:05] fengzixu commented on #2399
I would like to handle it. @allencloud

[2018-11-01 01:34] allencloud commented on #2399
Thanks @fengzixu
Please feel free to tell us if you need any help.

[2018-11-01 02:13] hellolijj commented on #2389
maybe i could fix it

[2018-11-01 02:14] allencloud commented on #2389
Thanks @hellolijj for your thought.
Just do it and feel free to tell us if you need any help.

[2018-11-01 02:38] #2232 closed

[2018-11-01 02:38] #2357 closed

[2018-11-01 02:38] #2358 closed

[2018-11-01 02:57] allencloud opened #2400 "[bug] swagger-validation has lots of WARNING which could be solved"
### Ⅰ. Issue Description

Pouch uses [swagger](swagger.io) to generate API docs and API structs.

While when using `swagger validate` command to check the swagger.yml's validation, the circleCI reports some warnings which is like the following:

[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1

[2018-11-01 08:25] zhuangqh opened #2403 "[bug] volume ref filter fails if there are duplicate ids"
### Ⅰ. Issue Description

In `VolumeManager.Detach`, remove container' id from ref string. But it would fail if there are duplicate ids.

[code]
It is not recommended to modify the slice when loop over this slice.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

[code]
you will get [1 2 3 2 4]

### Ⅴ.

[2018-11-01 08:36] fengzixu commented on #2399
I try to clear the unused packages.

#### Before modification

[code]

#### After modification

##### Packages below were used in other vendors packages
[code]

##### Packages below were used in pouch packages
`vu github.com/spf13/pflag` ====> https://github.com/alibaba/pouch/blob/master/cli/common_flags.go#L6
`vu golang.org/x/sys/unix`  =====>  https://github.com/alibaba/pouch/blob/master/cri/v1a

[2018-11-01 09:01] Ace-Tang opened #2405 "support a common filter for container, volume and images choose"
## Why you need it?

[code]

pouch ps has implements a simple filter package, and pouch images and pouch volume are not support filter command, should get a common filter package for these command in daemon, and support the command in cli side. Optimize on current fileter package or implement a better one is wlecome.

## How it could be?

## Other related information

[2018-11-01 09:13] ZYecho commented on #2405
As a supplement，also have` pouch events -- filter`. And I plan to reuse the filter package same as `events` to implement  pouch images filter. wdyt?

[2018-11-01 09:15] Ace-Tang commented on #2405
Great ! /cc me when you finish.

[2018-11-01 09:54] zhuangqh opened #2406 "[feature request] support API extensions and hook"
## Why you need it?

There are many usage scenarios of PouchContainer. I propose **strengthening the customization ability** of PouchContainer to cover these scenarios. What's more, developers could **keep pace with upstream PouchContainer without pain**.

I propose adding a API plugin, which enable to extend PouchContainer's HTTP API and hook the API handler.

## How it could be?

**API extension

[2018-11-01 11:52] fanhaozzu commented on #140
@senthilnathann me too,@CodeJuan help?

[2018-11-01 11:52] fanhaozzu commented on #140
nsenter --target 8799 --mount -- mount -B /usr/local/var/lib/lxcfs/proc/meminfo /proc/meminfo

mount: mount /usr/local/var/lib/lxcfs/proc/meminfo on /proc/meminfo failed: Transport endpoint is not connected

[2018-11-01 11:53] fanhaozzu commented on #140
![image](https://user-images.githubusercontent.com/5517088/47850320-c8d3ce80-de0f-11e8-9952-199fc7b8e2c9.png)

[2018-11-01 12:08] fuweid commented on #2399
closed by  #2404

[2018-11-01 12:08] #2399 closed

[2018-11-01 14:44] Starnop commented on #2395
@fengzixu Thank you very much for your advice. In fact, so do that with the [apis/metrics ](https://github.com/alibaba/pouch/blob/master/apis/metrics/metrics.go#L51).
We are very glad that if you are willing to help with this. ^_^

[2018-11-01 16:37] allencloud commented on #2406
#dibs

[2018-11-01 16:45] allencloud commented on #2388
I tried to fix this in https://github.com/pouchcontainer/pouchrobot/pull/73

[2018-11-01 16:55] allencloud commented on #1609
/assign

[2018-11-01 16:56] allencloud commented on #2388
The new robot has supported this feature. While I am not sure if this is still only supporting assigning members in this repo.
But you could have a try, and please let me know the result. Thanks a lot. @xiaoxubeii

[2018-11-02 05:46] allencloud commented on #2365
So, close this first.

[2018-11-02 05:46] #2365 closed

[2018-11-02 06:31] #2162 closed

[2018-11-02 06:31] #2058 closed

[2018-11-02 06:32] #1493 closed

[2018-11-02 06:33] Ace-Tang commented on #1389
related with #2378, close this

[2018-11-02 06:33] #1389 closed

[2018-11-02 06:34] Ace-Tang commented on #2116
PR #2411  and #2271  want to fix this.

[2018-11-02 06:38] Ace-Tang commented on #475
Close this, since we update to use kata, we will do new work on kata.

[2018-11-02 06:38] #475 closed

[2018-11-02 07:24] pouchrobot opened #2412 "WeeklyReport of PouchContainer from 2018-10-26 to 2018-11-02"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2018-11-02 09:50] fengzixu opened #2414 "[bug] We cannot see any metrics about gRPC which used in cri package"
### Ⅰ. Issue Description

When I resolved this issue #2395 , I revised the logic about metrics in cri package. I found that GRPCMetrics(https://github.com/alibaba/pouch/blob/master/cri/metrics/metrics.go#L23) was used in  https://github.com/alibaba/pouch/blob/1f7dbf60d406210c65fb96ea4682f6d04f97773e/cri/v1alpha2/service/cri.go#L21 . But, the GRPCMetrics wasn't registered to defaultPrometheusRegist

[2018-11-02 09:53] houstar opened #2415 "feature: enable ipv6 on pouch"
## Why you need it?

To compatible with IPv6 application

## How it could be?

By default, pouch daemon configures the container network for IPv4 only.  This feature which defines --enable-ipv6 flag will setup the bridge p0 with IPv6 link-local address fe80::1.

By default, containers that are created will only get a link-local IPv6 address. To assign globally routable IPv6 addresses to your conta

[2018-11-02 10:07] mathspanda opened #2416 "[bug] volume name should be validated before Create"
### Ⅰ. Issue Description
As the title desc, volume name should be validated before [Create](https://github.com/alibaba/pouch/blob/master/storage/volume/modules/local/local.go).

### Ⅱ. Describe what happened
[code]

### Ⅲ. Describe what you expected to happen
The volume name should be "^[a-zA-Z0-9][a-zA-Z0-9_.-]$".

### IⅤ. Anything else we need to know?
None

### V. Environment:

- pouch version

[2018-11-02 10:08] mathspanda commented on #2416
If need, i will fix it.

[2018-11-02 10:10] zhuangqh commented on #2416
already fix in #2394

[2018-11-02 10:19] mathspanda commented on #2416
OK, got it.

[2018-11-02 10:19] #2416 closed

[2018-11-02 13:06] ofrzeta commented on #2202
I tried it once again with runV without success. I got a configured network interface but no network function. Did you take any steps to configuring the network?

Anyway, given that Kata is "the future" feel free to close the issue and I will try my luck with Kata. Thanks for your help.

[2018-11-03 15:25] #2341 closed, assigned to nobody

[2018-11-04 02:33] #2180 closed

[2018-11-04 15:49] allencloud opened #2423 "[linter issues] some deadcode are detected by tool gometalinter/deadcode"
### Ⅰ. Issue Description

I used [deadcode](https://github.com/tsenart/deadcode) in [gometalinter](https://github.com/alecthomas/gometalinter) to check the code of PouchContainer project, then I found that there are some codes are unused:

[code]

If these are indeed deadcode, I think we should try to eliminate them from this project. Since dead code will lead to increasing maintainace cost.

###

[2018-11-04 16:00] allencloud opened #2424 "[linter issues] repeated string in code detected by gometalinter/goconst"
### Ⅰ. Issue Description

[goconst](https://github.com/jgautheron/goconst) finds repeated strings that could be replaced by a constant.

Its motivation is that there are obvious benefits to using constants instead of repeating strings, mostly to **ease maintenance**. Cannot argue against changing a single constant versus many strings.

While this could be considered a beginner mistake, across time

[2018-11-05 00:13] ZYecho commented on #2423
plan to work on it.

[2018-11-05 01:42] allencloud commented on #2423
Thanks a lot for your thoughts. @ZYecho
While actually you could directly comment `/assign` to assign yourself to this issue, just like the issue https://github.com/alibaba/pouch/issues/2388.

You can test this in the issue first. 😄

[2018-11-05 01:44] ZYecho commented on #2423
/assign

[2018-11-05 01:53] ZYecho commented on #2423
seems not work?

[2018-11-05 02:05] Starnop commented on #2414
At present, `GRPCMetrics` is not necessary actually, so delete it firstly. Sorry for forgot to add a `TODO` tag. Maybe you can help add it or make it registered. THX.

[2018-11-05 03:19] #2386 closed

[2018-11-05 04:35] fengzixu commented on #2414
@Starnop OK. I will delete it.

[2018-11-05 04:55] allencloud commented on #2423
Oh, I need to check this. @ZYecho 😄

[2018-11-05 05:40] #2356 closed

[2018-11-05 13:55] #2423 closed

[2018-11-05 13:59] #443 closed

[2018-11-05 15:46] houstar commented on #1749
@wellorange

1.  Note that gVisor can only run on x86_64 Linux 3.17+ .   gVisor@ARM enablement is ongoing.
[code]
2.  Steps to using gVisor as runtime on pouch
[code]

[2018-11-05 15:59] allencloud commented on #1749
cc @CodeJuan
I think the answer is yes. Recently we have made it work. @CodeJuan would give us more guide about how to make it.

[2018-11-06 01:37] CodeJuan commented on #1749
Thanks for @houstar 's answer.
To enable more behavior of gVisor, we could add the runtimeArgs below to Pouch configuration(/etc/pouch/config.json)
[code]

[2018-11-06 08:12] #2414 closed

[2018-11-06 08:29] #2412 closed

[2018-11-06 08:42] ZYecho commented on #2405
@Ace-Tang  I revisit the pr about `event filters` and `ps filter`, and I think we can build  a more common filter package using current two packages, I will work on it after #2410 merged.

[2018-11-06 09:29] ZYecho commented on #2405
/assign

[2018-11-06 11:11] xiaoxubeii commented on #2221
/assign

[2018-11-06 14:32] #2395 closed

[2018-11-07 03:31] allencloud commented on #2389
Any update on this? @hellolijj

[2018-11-07 04:14] #2406 closed

[2018-11-07 04:14] HusterWan commented on #2280
Also occurred this error on centos7

without `-t` flag, failed to run a container
[code]

with `-t` flag, success create a container
[code]

[code]

[code]

[2018-11-07 09:42] houstar opened #2444 "integration issue: failed to start pouch daemon in background"
### Ⅰ. Issue Description
Integration test failed

### Ⅱ. Describe what happened
Pouch Git Commit ID: a8ee96efaf88eaa7
Failed to `make integration-test`
[code]

### Ⅲ. Describe what you expected to happen
Passed all Integration test.

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. Download the Pouch source code
2. Build the source code with
* $make
* $make build-integration

[2018-11-07 10:41] mathspanda opened #2445 "[bug] some cli options have meaningless type"
### Ⅰ. Issue Description
During working on #2424, I found that some cli options have meaningless type, such as `--blkio-weight-device`, `--ulimit` and so on.
[code]
The `value` type is meaningless.

### Ⅱ. Describe what happened
None

### Ⅲ. Describe what you expected to happen
In docker, these options are explicitly typed.
[code]

### Ⅳ. How to reproduce it (as minimally and precisely as possible

[2018-11-07 10:42] mathspanda commented on #2445
/assign

[2018-11-07 10:57] mathspanda commented on #2424
During working on this, I think the `unknown` values shouldn't be returned in /info response. It is just a presentation, and should be rendered in pouch cli.

[2018-11-08 04:28] allencloud opened #2448 "[question] Do we have a governing rule for PouchContainer"
## Question

Governing rule is a very essential part of a successful open source project. We need a GOVERNING.md document in this project to make this better.

[2018-11-08 07:08] fuweid commented on #2444
[code]

hi @houstar , could you run this command in your pouch root dir and paste the result to me? Thanks

[2018-11-08 07:24] houstar commented on #2444
@fuweid

[code]

I'd like to add build-daemon-integration/build-integration-test as Makefile's `make integration-test` dependencies.

[2018-11-08 08:09] houstar commented on #2444
lxcfs installed on my CentOS 7.4 but not yet automatically ran `lxcfs /var/lib/lxcfs`.

[2018-11-09 01:43] #2445 closed

[2018-11-09 02:10] marryton007 opened #2456 "Does pouch support docker-compose?"
## Question
Please see the subject. I think that pouch maybe could instead of docker in some scenes. Does it support docker-compose or has an alike solution? thanks very much.

[2018-11-09 02:35] HusterWan commented on #2456
@marryton007 Actually, we have not investigated if pouch supports docker-compose, and I think it also not our core works.

But, I encourage you to describe what scenario that you want to use the docker-compose?  and does the k8s can meet your demand?

[2018-11-09 06:37] #2371 closed

[2018-11-09 07:24] pouchrobot opened #2457 "WeeklyReport of PouchContainer from 2018-11-02 to 2018-11-09"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2018-11-09 09:20] #1749 closed

[2018-11-09 15:18] eryx opened #2459 "Duplicate and unnecessary system call in pkg/kernel/GetVersionInfo()"
### Ⅰ. Issue Description

as the image (perf record to flame graph) below, i found a CPU hot point in the pkg/kernel/GetVersionInfo().

this method may only need to be called once, because the kernel version is fixed after the system is up. ?

![pouch-kernel-version](https://user-images.githubusercontent.com/275347/48270245-8bf18280-e474-11e8-8a4d-9df45b2b5be4.png)

### Ⅱ. Describe what happened

[2018-11-09 15:48] eryx commented on #2459
@houstar
yes, the kexec will cause problems

[2018-11-09 16:04] houstar commented on #2459
This is trade-off problem 👍  Let's the architects make the decision. If plan to merge, add this kexec problem as Limitation 💯

[2018-11-09 16:22] HusterWan commented on #2459
Great point, I even not think about `kexec` at all. 🤣

But, IMO, the `kexec` is not a problem, right now. We may first think about fix the hot point of pouchd, then care about the `kexec` problem. WDYT? @eryx @houstar

[2018-11-09 16:31] zhuangqh commented on #2459
have you compare it with `syscall.Uname`?
[code]
[code]

What's the performance of this one?

[2018-11-10 01:13] SimonCqk commented on #2459
@zhuangqh  I've just tried a simple test, use `unix.Uname` instead of `syscall.Uname`, comparing with `exec.Run` version, and the result shows that the performance difference can't be omitted.
Call 1000 times in one loop:
`exec.Run` takes 3.3s while `unix.Uname` takes 8.5ms (in mean)

[2018-11-10 01:15] SimonCqk commented on #2459
@zhuangqh  here is my code:

[code]

[2018-11-10 02:27] ZYecho opened #2462 "[feaure request] More flag support for pouch volume ls"
## Why you need it?

Because it't important for end-user, it can help to use pouch more conveniently.

## How it could be?

Support two flag for `pouch volume ls`
[code]

## Other related information

related to #2405

[2018-11-10 03:13] zhuangqh commented on #2459
good job! Could you submit a pull request?

[2018-11-10 03:40] eryx commented on #2459
bench in multi-implementation

=== RUN   TestGetKernelVersion
3.10.0-862.14.4.el7.x86_64
--- PASS: TestGetKernelVersion (0.00s)
goos: linux
goarch: amd64
pkg: github.com/alibaba/pouch/pkg/kernel
Benchmark_GetKernelVersion-8                    	    3000	    550459 ns/op
Benchmark_GetKernelVersionByVarCache-8          	2000000000	         1.78 ns/op
Benchmark_GetKernelVersionByVarCacheWithTTL-8   	5

[2018-11-10 06:14] hellolijj commented on #2389
i am afried i can not fix it. maybe i need my senior's help @Starnop and a few more days...

[2018-11-10 07:28] #2403 closed, assigned to rudyfly

[2018-11-10 14:04] hellolijj commented on #2389
Here is the what i try about this issue:
- The first time i encounterd this problem this, i use `kubeadm reset`. It doesn't clean pods, because i didn't take param `--cri-socket `
- Laterly, i still encounterd this problem even if i take the param `--cri-socket /var/run/pouchcri.sock`. the reson is the kubelet was stopped at first. so if you install crictl, this problem will be avoided. here are r

[2018-11-10 14:19] hellolijj commented on #1599
Is there anybody do this work? if not, i'd like to do this work :)

[2018-11-11 15:35] allencloud opened #2466 "[docs] dead links exist in markdown documentation"
### Ⅰ. Issue Description

We have enabled markdown-link-check in this repo. And the result shows that the following docs have dead links:

[code]

This is also recorded in https://github.com/alibaba/pouch/pull/2465

### Ⅱ. Describe what happened
dead links exist in markdown files.

### Ⅲ. Describe what you expected to happen
no dead links exist in markdown files.

### Ⅳ. How to reproduce it (as mi

[2018-11-11 15:42] allencloud commented on #2466
cc @rudyfly @Ace-Tang
Please take a look at the dragonfly part and volume part. Thanks a lot.

[2018-11-13 06:38] marryton007 commented on #2456
Thanks, My means is looking for a simple solution to run a few of containers that have a relationship.  I think k8s is too heavy for me.

[2018-11-16 07:24] pouchrobot opened #2471 "WeeklyReport of PouchContainer from 2018-11-09 to 2018-11-16"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2018-11-16 09:12] xiaods opened #2472 "any infos for support args: -g /xxx/pouch --insecure-registry harbor.xxx.com"
## Question

Hi team, i have go through the user manual and setup a pouch node in aliyun node,
16.04 ubuntu server, i want to change the pouch store data's folder and also need setup a not ssl registry, i can't accomplish this task, can you do me a favor? Thanks.

[2018-11-16 15:20] xiaoxubeii commented on #2471
/assign

[2018-11-16 15:36] fuweid commented on #2471
assign what? Lol

Tim Xu <notifications@github.com>于2018年11月16日 周五23:20写道：

[2018-11-16 16:59] fuweid commented on #2448
/assign

[2018-11-16 17:00] fuweid commented on #2448
Will file PR in couple of days

[2018-11-19 05:01] rudyfly opened #2473 "wrong validation in api swagger"
### Ⅰ. Issue Description
CpuQuota in body should be greater than or equal to 1000
MemorySwappiness in body should be greater than or equal to 0

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
-

[2018-11-19 09:04] #2473 closed

[2018-11-19 12:26] mathspanda opened #2475 "[bug] incorrect mount point size if container mounts with tmpfs volume"
### Ⅰ. Issue Description
When a container mounts with tmpfs volume created before, the size of mount point is incorrect.

### Ⅱ. Describe what happened
See IV.

### Ⅲ. Describe what you expected to happen
Correct mount point size.

### Ⅳ. How to reproduce it (as minimally and precisely as possible)
[code]

### Ⅴ. Anything else we need to know?
None

### Ⅵ. Environment:

[code]

[2018-11-19 12:37] #2415 closed

[2018-11-20 00:41] #2471 closed

[2018-11-20 15:22] allencloud commented on #2466
Could you help to handle the CRI part:? @Starnop
[code]

And you to help handle the following part? @rudyfly

[code]

[2018-11-20 15:52] #2457 closed

[2018-11-20 15:57] fuweid commented on #2424
has been fixed by #2454

[2018-11-20 15:57] #2424 closed

[2018-11-21 02:39] allencloud commented on #2099
cc @cpaasarch

[2018-11-21 02:42] xiaods commented on #2472
done.

[2018-11-21 02:42] #2472 closed

[2018-11-21 03:34] Starnop commented on #2466
Of course, I will do that ASAP. ^_^

[2018-11-21 11:24] #2475 closed, assigned to mathspanda

[2018-11-22 03:03] fuweid commented on #2202
@ofrzeta so could we close this issue?

[2018-11-22 03:11] fuweid opened #2482 "[flaky test case] TestKMutexTimeout"
### Ⅰ. Issue Description

flaky case

[code]

### Ⅱ. Describe what happened

`TestKMutexTimeout` run into the dead end.

### Ⅲ. Describe what you expected to happen

do well.

[2018-11-22 03:14] fuweid commented on #2482
related to #2464 2464

[2018-11-22 05:02] allencloud commented on #2290
Can we close this now? @Starnop @fuweid
I have not seen cri-tools failure for a long time. 😄

[2018-11-22 05:08] allencloud commented on #1372
This has not appeared for a long time. And I am closing it, currently. @Letty5411

[2018-11-22 05:08] #1372 closed

[2018-11-22 05:08] allencloud commented on #1365
This has not appeared for a long time. And I am closing it, currently.

[2018-11-22 05:08] #1365 closed

[2018-11-22 05:31] allencloud commented on #2456
Totally agree. Actually Pouch's API is compatible with Docker's API. Then the API side is totally OK, I think. While for the the socket address part, whether docker-compose allows user to configure, we need to keep dig in. @marryton007

[2018-11-22 05:43] allencloud commented on #2466
fixed in https://github.com/alibaba/pouch/pull/2465

[2018-11-22 05:43] #2466 closed

[2018-11-22 05:50] allencloud opened #2483 "[bug] conflict exists in pid-limit config of a container in CLI and swagger.yml"
### Ⅰ. Issue Description

In swagger, there is the definition of `PidLimit` of `Resource` of a container :

[code]

There it say that `-1 for unlimited`.

While in the https://github.com/alibaba/pouch/blob/master/cli/common_flags.go#L100, we have

[code]

The default value is 0. Are the `0` and `-1` conflict.

In my opinion, the default value should be `-1` for ulimited.

WDYT? @Ace-Tang

[2018-11-22 05:51] allencloud commented on #2377
fixed in https://github.com/alibaba/pouch/pull/2478

[2018-11-22 05:51] #2377 closed

[2018-11-22 06:09] ofrzeta commented on #2202
Yess, please. Thanks for your work!

[2018-11-22 06:09] #2202 closed

[2018-11-22 07:41] #2462 closed

[2018-11-22 08:39] HusterWan opened #2485 "We need a checklist to instruct users whether their legacy system supports migrating to PouchContainer"
## Question

Since many users asking us how to migrate their legacy hosts from docker to PouchContainer, so we need a checklist to instruct them whether the hosts can do the migration.

Like:
  * kernel version
  * filesystem type
  * docker version
  * upper scheduler system, like swarm, docker-compose and so on.

[2018-11-22 08:44] HusterWan opened #2486 "[feature request] make PouchContainer support overlay1 as a storage driver"
## Why you need it?

They have some users that want to use PouchContainer on the old kernels that not support overlay2, So we should support the overlay1 to make compatible with the old kernels

Explain the overlay
  * overlay1:  only support the `LowDir` just having one layer
  * overlay2: support the `LowDir` having many layers

In addition, we need to make `pouchd` support:

* Choose storage dr

[2018-11-22 08:50] HusterWan opened #2487 "PouchContainer not support diskquota that kernel version < 4.5"
## Why you need it?

Since PouchContainer's diskquota feature is dependent on the kernel, and only kernel version >=4.5 can support project quota, so how can we support diskquota on the kernels that below to 4.5

 **Notes**: In alibaba, we use group quota of kernel to support diskquota feature.

## How it could be?

## Other related information

[2018-11-22 09:00] allencloud opened #2488 "[voice from community] Enhancement of PouchContainer project for developers"
## Question

Recently PouchContainer project is very honored to have @fengzixu as a very efficient and productive contributor. With the experience of participant, he wrote an article to share with the community in Chinese: http://littledriver.net/post/2018/11/21/say-love-to-pouch/ . 😄 👍 👏

Thanks a lot for his praise  and expectation to PouchContainer. Without supports from contributors like him,

[2018-11-22 09:43] houstar commented on #2444
Fixed by PR #2417

[2018-11-22 09:43] #2444 closed

[2018-11-22 13:28] allencloud opened #2489 "[feature request] remove SerialNumber getting function and make it general"
## Why you need it?

The function `GetSerialNumber` is not general, it is a little bit coupled with alibaba's system, see  https://github.com/alibaba/pouch/blob/master/pkg/system/system.go#L88

[code]

Since it is not general, I think we should remove the implementation part of `alisys`.

## How it could be?

Use a general way to make it. Or encapsulate it into pouchd's daemon plugin.

## Other re

[2018-11-22 15:13] xiaoxubeii opened #2490 "[feature request] implement a stream mechanism to abstract stdin, stdout and stderr in cmd side"
## Why you need it?

We should implement a unified stream mechanism for standard io, such as stdin, stdout and stderr by cmd side. And the mechanism would handle copying input to and output from to the connection and also be reused in where we need attach or access container io.

## How it could be?

Code snippet is something like that:

[code]

We can begin to proxy container io by:

[code]
## Ot

[2018-11-22 15:14] xiaoxubeii commented on #2490
/assign

[2018-11-22 15:14] xiaoxubeii commented on #2488
/assign

[2018-11-23 05:11] houstar opened #2492 "[proposal] add environment file to define the parameters of pouchd startup"
## Why you need it?

With this environment file, it's convenient to startup the pouchd with parameters

## How it could be?

1.  cat > /etc/pouch << EOF
DAEMON_OPTS="--enable-ipv6 --bip 192.168.0.123"

2. Add EnvironmentFile to pouch.service

## Other related information

NO

[2018-11-23 07:25] pouchrobot opened #2493 "WeeklyReport of PouchContainer from 2018-11-16 to 2018-11-23"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2018-11-23 08:53] fuweid opened #2495 "[question] fix some megacheck issues?"
## Question

I disable `megacheck` in circleCI because it will be killed by OOM in #2494

Even though it has been disabled, it still give us more valuable information

[code]

I think some issues can be fixed in pouch or contribute to go-swagger community. Could we move it to task in pouch?

ping @alibaba/pouch

[2018-11-23 10:53] ZYecho commented on #2495
/assign
work it next week.

[2018-11-25 02:58] ZYecho opened #2497 "[feature request] more checker type are needed"
## Why you need it?

the go-check now only support the following checker:
[code]
IMO, it's not enough, lack of many useful checker such as `strings.Containes` or `HasPrefix`.

## How it could be?

Add more checker type.

## Other related information

None.

[2018-11-25 03:41] allencloud commented on #2497
It seems that Moby project supports this, since I used to contribute to Moby project.

I think there are two ways:

* hack in PouchContainer's project
* contribute to upstream project `github.com/go-check/check`. I think someone definitely has done this work. Does it not work for the go-check owner?

@ZYecho

[2018-11-25 03:59] allencloud commented on #2487
How about support XFS on centos 7.x series?
Then diskquota feature on XFS seems working.

[2018-11-25 04:02] allencloud commented on #1603
Could you help to check whether all these listed TestSuites have been done? @sunyuan3 @chuanchang

If we have done one, we can mark one.

[2018-11-25 04:03] allencloud commented on #1594
What is the status of this issue? @sunyuan3
I am afraid that we could update this. 😄

[2018-11-25 07:46] ZYecho commented on #2497
Yes, the moby project use both `go-check` and `github.com/vdemeester/shakers` packages, so this may be a third way to do that.

And I think the `go-check` is a little bit inactive, since someone have an issue [#60 ](https://github.com/go-check/check/issues/60) but seems nobody working on that.

[2018-11-26 02:19] sunyuan3 commented on #1594
@allencloud The above command options have be covered in test cases. So I would close this issue.

[2018-11-26 02:19] #1594 closed

[2018-11-26 02:51] allencloud commented on #1594
thanks greatly for your work on quality improvement. @sunyuan3 😄 🍻

[2018-11-26 02:53] eryx opened #2499 "[enhancement] name conflicts of runc binary"
### Ⅰ. Issue Description

pouch's built-in tool of runc (path /usr/local/bin/runc) is also included in CentOS's extras repository (path /usr/sbin/runc).

runc is also been used by docker, the docker may to use the /usr/local/bin/runc to replace of the /usr/sbin/runc, this will cause lot of unknown errors, ex: permission denied with selinux configurations, version compatibility issues, ...

maybe:

[2018-11-26 03:17] ZYecho commented on #2495
leave unhandled  issue below

[code]

[2018-11-26 03:20] ZYecho commented on #2495
cc @allencloud  could you help invite more eyes to see this issue? Because of most of issue leaved are valuable, but I didn't how fix it or don't know there' a plan to upgrade some packages?

[2018-11-26 04:58] mathspanda opened #2501 "[feature request] fullfill the "scope" field of network"
## Why you need it?

The value of network scope is empty.
[code]

## How it could be?

1、fullfill scope value returned in pouch ls/inpsect
2、support scope flag when creating network

## Other related information

None

[2018-11-26 04:59] mathspanda commented on #2501
/assign

[2018-11-26 15:43] HusterWan opened #2505 "TestWeightDevice test case failed"
### Ⅰ. Issue Description
[code]

[code]

[code]

if we change `blkioOptsType`,  we also should change the test case

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-relea

[2018-11-27 02:46] firjest opened #2507 "[feature request] make PouchContainer arm64 support"
## Why you need it?
Some servers in the data center are arm64 architecture, and pouchContainer needs to support this part of the server.

## How it could be?
Compile the arm64 version of pouchContainer, and its dependent containerd, runc, etc.

## Other related information

[2018-11-27 02:54] #2505 closed

[2018-11-27 03:03] houstar commented on #2507
I’ll take this cross-platform support including arm, ppc64le.

[2018-11-27 03:12] allencloud commented on #2507
thanks @houstar . 👍

[2018-11-27 03:59] firjest opened #2508 "[feature request]When creating a container, specify the location of the container's read-write layer via the --home parameter."
## Why you need it?

After providing the ability to specify the location of the container's read-write layer, you can use the server's multiple disks to improve IO capabilities, or the read-write layer is placed on the remote disk, and the container is migrated from one host to another. The read-write layer corresponding to the old container can be reused.

## How it could be?

When calling the Pr

[2018-11-27 05:50] houstar commented on #2507
## Approach
### 1. Background
Currently the pouch has integrated the runc/containerd x86_64 binary from Github release and its dependencies. This approach just focus on the cross-building runc/containerd on the x86_64 platform to provide the target platform binary.

### 2.Reqirements

- [ ]  add build target . e.g.  `make deb` & `make rpm`
   1.  add Dockerfile/or build environment Image/or Vagran

[2018-11-27 07:59] Starnop commented on #2389
In fact , it's has been supported by `pouch-container` , however , you should exec the command about `reset` with
[code]
There is one thing you should pay attention to in this command, you should use `unix:///var/run/pouchcri.sock` as the value of cri-socket ,not `/var/run/pouchcri.sock`.

If you do that, you will get errors as follows:
[code]
you can exec the command to have a try:
[code]

======

[2018-11-27 10:08] zjumoon01 opened #2509 "[feature request] Support update container's device io limit"
## Why you need it?
We can set container's block device io limit by when it is created. Such as
[code]
There are 4 device io limit options, --device-read-bps/--device-write-bps/--device-read-iops/--device-write-iops. However, we can't update them by using "pouch update" command like other container resource. I will be useful to support update them.

## How it could be?
It seems that container upda

[2018-11-28 10:09] #2384 closed

[2018-11-28 11:32] HusterWan opened #2511 "OCI runtime exec failed: exec failed: container_linux.go:265: starting container process caused "open /dev/pts/2: no such file or directory": unknown"
### Ⅰ. Issue Description
I cannot reproduce this error, but it indeed occurred in kubernetes product environment.

may related to https://github.com/docker/for-linux/issues/238
fixed in runc: https://github.com/opencontainers/runc/pull/1727

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

###

[2018-11-28 11:54] Ace-Tang commented on #2511
Could you provide more infomation, like error log or something? @HusterWan

[2018-11-28 12:47] allencloud commented on #2511
Have it been fixed in some version of containerd, which will vendor runc. @HusterWan

[2018-11-29 08:57] Ace-Tang commented on #2176
Closed by https://github.com/alibaba/runc/releases/tag/v1.0.0-rc4-2

[2018-11-29 08:57] #2176 closed

[2018-11-29 09:27] wangforthinker opened #2515 "[feature-request] support to choose storage driver"
## Why you need it?

In some environment, overlay2 may not be supported.

## How it could be?

Storage driver can be chosen when pouchd starts.

## Other related information

[2018-11-29 12:31] Ace-Tang commented on #2511
I have do a re-produce test, and it not related to opencontainers/runc#1727, I will do more check

[2018-11-29 16:03] wangforthinker commented on #2508
i think it's a good issue!

[2018-11-30 02:13] allencloud opened #2517 "[feature-request] support `publishAll` flag in container's command line"
### Ⅰ. Issue Description

In the https://github.com/alibaba/pouch/pull/2500#discussion_r236930266, we discussed about the flag `publishAll` or `publicAll`.

In https://github.com/alibaba/pouch/blob/master/cli/container.go#L68, we have field `publicAll      bool`.

But I am afraid that we have not used this field in anywhere.

However, in Moby/Docker, we have https://github.com/docker/cli/blob/2634

[2018-11-30 03:19] houstar commented on #2507
please open new issue to the Package Team ;-

- [ ] add build target . e.g. `make deb & make rpm`

[2018-11-30 03:32] houstar commented on #2507
@fuweid  Welcome~   But I think the  Makefile target `make shell` is useful for use, could you keep this on pouch code  base ;-) ?

[2018-11-30 04:02] fuweid opened #2519 "bug: the pouch can't restart the container by the restart policy in one case"
### Ⅰ. Issue Description

There is one container which has `--restart=always`. When the container exits by itself and pouchd ready to restart it, the pouchd will be killed and restarted, such as upgrade pouchd action.

This container will be ignored in the recover action during restart pouchd.

### Ⅱ. Describe what happened

Some containers will be ignored in the recover action during restart pouc

[2018-11-30 07:24] pouchrobot opened #2521 "WeeklyReport of PouchContainer from 2018-11-23 to 2018-11-30"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2018-11-30 08:11] #2493 closed

[2018-11-30 13:15] k2huang opened #2522 "[bug] mount propagation(MountFlags=shared) can't work"
### Ⅰ. Issue Description
In k8s+pouch env, I want both host and containers can feel mount operations of each other, even if the container has own mount namespace.
And I followed by k8s doc [https://kubernetes.io/docs/concepts/storage/volumes/#mount-propagation], and added "MountFlags=shared" into pouch.service systemd unit file, but seemed it can't work well after restarting Pouch.

### Ⅱ. Describ

[2018-12-03 09:58] CodeJuan opened #2526 "[feature-request] Add Tini as init process to reap zombies and perform signal forwarding."
## Why you need it?
We've found that a lot of Pouch user have problem about the zombie reaping.
So I think we should add a default `init` process to reap zombies and perform signal forwarding.

## How it could be?
[Tini](https://github.com/krallin/tini) is a simplest init for container.

Using Tini has several benefits:
    - It protects you from software that accidentally creates zombie processes

[2018-12-03 15:30] xiaoxubeii commented on #2526
/assign

[2018-12-04 01:29] #2521 closed, assigned to nobody

[2018-12-04 02:19] rudyfly commented on #2522
Can you give us some test steps？

[2018-12-04 12:18] fuweid commented on #2290
Since the IO issue is gone, we can close this.

[2018-12-04 12:18] #2290 closed

[2018-12-05 02:58] #2507 closed

[2018-12-05 03:03] allencloud commented on #2507
Now PouchContainer has also supported ppc64le building in master branch. @aohang111

You could help to have a test for this. Thanks a lot. Wish you enjoyed it. 🐈 🐕

[2018-12-05 03:04] allencloud commented on #2501
Any update on this? @mathspanda

[2018-12-05 03:17] #2177 closed

[2018-12-05 04:00] allencloud commented on #2509
I think we have supported all these update feature in the API side https://github.com/alibaba/pouch/blob/master/apis/swagger.yml#L2456-L2479:
[code]

But we have not make it supported in COMMAND LINE part. @zjumoon01

Could anyone help to finish this? @fengzixu 🐦 🦁

[2018-12-05 04:01] allencloud commented on #2515
This is also related to https://github.com/alibaba/pouch/issues/2486

[2018-12-05 04:04] #2515 closed

[2018-12-05 05:03] allencloud commented on #138
I think we could close this. In the future, we need to work out the build and push functionality.

[2018-12-05 05:03] #138 closed

[2018-12-05 05:08] allencloud commented on #2495
Since the first PR has been merged. I think we could try to move on.
The next megacheck issue is a little bit complicated, we need to keep an eye on that. Since it seems changing the code logic.

[2018-12-05 08:03] HusterWan opened #2537 "[bug report] Can't use systemd rich-mode of PouchContainer"
### Ⅰ. Issue Description

I want to test how to use the rich-mode of PouchContainer, so I followed the instruct of doc [pouch_with_rich_container](https://github.com/alibaba/pouch/blob/master/docs/features/pouch_with_rich_container.md).

The `dumb-init` rich-mode works OK, but the `systemd` rich-mode got error:

[code]

and I can't see the entrypoint `sleep 10000` in the container:
[code]

If I ch

[2018-12-05 09:14] aohang111 commented on #2507
@allencloud @houstar
**1,first on a X86 server**
after running "make GOARCH=ppc64le cross-build"
the binary is in the directory install/ppc64le/bin
root@ahsh-main:~/pouch# tree install/
install/
└── ppc64le
    ├── bin
    │   ├── containerd
    │   ├── containerd-release
    │   ├── containerd-shim
    │   ├── containerd-stress
    │   ├── ctr
    │   ├── pouch
    │   ├── pouchd
    │   ├── pouc

[2018-12-05 09:35] Ace-Tang commented on #2489
Remove the `/usr/alisys/dragoon/libexec/armory/bin/armoryinfo` part, use other method instead

[2018-12-05 13:05] changyaowei opened #2538 "[bug] pouch inspect can not get valid cpuquota"
### Ⅰ. Issue Description
Through `pouch inspect ` cmd, we can't  get a valid CpuQuota

### Ⅱ. Describe what happened
When we create pouch container by CRI, we assigned CpuQuota, but after created , the CpuQuota we get by  `pouch inspect ` is zero.
![image](https://user-images.githubusercontent.com/12136478/49514989-9c104c80-f8d0-11e8-8756-9c8f6b06183b.png)

### Ⅲ. Describe what you expected to hap

[2018-12-05 13:21] Ace-Tang commented on #2538
Can you post container create config, you can found that in `/var/log/pouch` @changyaowei

[2018-12-05 13:35] changyaowei commented on #2538
I will give it to you in private.

[2018-12-05 15:16] HusterWan commented on #2538
I check the pouch logs, and found that during we were creating the container, we also got a request `UpdateContainerResources `, the update request parameters:

[code]

the `CpuQuota` is 0 and it is considered valid, so the container's `CpuQuota` was updated to 0

![image](https://user-images.githubusercontent.com/10414039/49522991-c9b2c100-f8e3-11e8-8705-7829499cdd7a.png)

[2018-12-06 16:22] allencloud commented on #2501
I think we could close this, since it has been fixed in #2532 . Thanks for your work. @mathspanda

[2018-12-06 16:22] #2501 closed

[2018-12-07 07:24] pouchrobot opened #2543 "WeeklyReport of PouchContainer from 2018-11-30 to 2018-12-07"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2018-12-11 07:47] changyaowei opened #2548 "[Bug] Cannot get a valid user name by CRI ImageStatus or ListImages interface"
### Ⅰ. Issue Description
When defines a container runtime user name in image, e.g.
![image](https://user-images.githubusercontent.com/12136478/49785416-76b19180-fd5b-11e8-877e-4ebc5972cdad.png)

Kubelet will read and parse it from CRI ImageStatus interface , and pass runtime user to createContainer CRI.
In kubelet logic , first choose use uid if it is not nil, then we choose user name if it is not

[2018-12-11 08:01] HusterWan commented on #2548
@changyaowei Look forward your PR 😆

[2018-12-11 11:55] houstar commented on #2509
@allencloud  Let's me make it happen

[2018-12-11 12:05] #2548 closed

[2018-12-11 12:07] #2543 closed

[2018-12-11 13:13] allencloud commented on #2538
Any update on this? @HusterWan @fuweid @rudyfly

[2018-12-11 13:15] allencloud commented on #2522
I think if @k2huang could give more information on this, it could not be better.
If not, shall we discuss offline to make this move on? @rudyfly

[2018-12-11 13:16] allencloud commented on #2509
Thanks a lot. So great to see you could try this. @houstar

[2018-12-11 13:43] ZYecho commented on #2526
@CodeJuan Hi, can you explain why chose` tini`, I find that there's also other choice, such as [dumb-init](https://github.com/Yelp/dumb-init)

[2018-12-11 13:45] allencloud commented on #2537
@ireneYang I think your team is also taking advantages of rich container of PouchContainer. Do you have questions for this. CaiNiao team.
also cc @cpaasarch

[2018-12-12 01:03] HusterWan commented on #2538
@allencloud fix this problem is simple but before that @changyaowei should fix first. Am I right?

[2018-12-12 05:21] #964 closed

[2018-12-12 05:35] shadowgogo opened #2553 "cgroup fs in pouch container is mounted and read-only forcely"
### Ⅰ. Issue Description
cgroup fs in pouch container is mounted and read-only.

### Ⅱ. Describe what happened
pouch run a container, process in container can not see cgroup paths in host, and can not make sub-dirs. This is unfriendly to containerized systems such as cluster-manager-system(using cgroup to limit task resources), or jvm(using cpushare to support  multi-tenant) 。

### Ⅲ. Describe wha

[2018-12-12 05:39] Ace-Tang commented on #2553
https://github.com/alibaba/pouch/pull/2552  has fix the bug

[2018-12-12 05:52] Ace-Tang commented on #2553
@shadowgogo , I have consider what you said, if I follow right, are you want to support container without the cgroup support, but you want see the host cgroup. For pouch side, I think it not good, since it will take lots of risk, but if you trust your environment, it is another topic.

[2018-12-12 06:36] CodeJuan commented on #2526
@ZYecho Some docker user use `--init` to create a container with init process, for example, [nvidia-gpu-compose.yml](https://gitlab.com/nvidia/samples/blob/master/mps/docker-compose.yml) set `init=true` to create a container with init process.
[code]
It's similar to `rich-mode`, and dumb-init is a good choice too. We should Make compatible for `--init` feature, no matter what kind of implementatio

[2018-12-13 03:34] wangforthinker opened #2556 "[bug report] If container is committed to a image, after the image is removed, the snapshots for the image still exist."
### Ⅰ. Issue Description
A image is built by container committed, when we remove the image, the snapshots for the image still exist.

### Ⅱ. Describe what happened
As said above.

### Ⅲ. Describe what you expected to happen
If a image is removed, the snapshots for the image should be cleaned. (Except the image is parent of committed containers).

### Ⅳ. How to reproduce it (as minimally and precis

[2018-12-13 08:45] #2553 closed

[2018-12-13 10:01] zhuangqh opened #2560 "bug: `StringSliceEqual` is wrong"
### Ⅰ. Issue Description

The implementation of `StringSliceEqual` is wrong.

[code]

### Ⅱ. Describe what happened

[]string{"a", "a", "b"} is not equal to []string{"a", "b","b"}. but StringSliceEqual return true

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

-

[2018-12-13 10:41] HusterWan commented on #2560
I have implemented a new function in https://github.com/pouchcontainer/d2p-migrator/pull/26/files#diff-cd575165f84eed10d10eb1460b0927b4R75

Maybe we can discuss whether it is proper :)

[2018-12-13 12:47] fengzixu commented on #2509
@allencloud sorry. I just saw this issue. If the @houstar want to implement it, I can help him review his code.

[2018-12-14 03:10] KnoooW opened #2562 "[issue report] pouch should support seccomp by default"
As docker has already use seccomp as default configuration. pouch should support that, it
can enhance security significantly

[2018-12-14 10:32] #2560 closed

[2018-12-17 05:41] houstar commented on #2509
@fengzixu Done, Could you take a look ? thanks!

/ Cc @allencloud

[2018-12-17 14:20] #2517 closed

[2018-12-18 02:03] #2314 closed

[2018-12-18 06:06] zjumoon01 opened #2568 "[proposal] The CRI of "Status" returns more information of system"
## Why you need it?

The response of "Status" CRI contains extra information of the Runtime. However,  there is only "golang version" in the extra information returned. It will be useful if more information is returned, such as "pouch root dir". In my scenario, I intend to limit rootfs iops/bps for pods. So I need get pouch root dir first and translate into its device. Then I can set device and ra

[2018-12-18 06:09] Starnop commented on #2568
Yes, you are absolutely right.  In fact, we don't know what the end users really needs. Thanks for your input, and I hope that you can have a list here. 👍

[2018-12-18 09:10] zjumoon01 commented on #2509
pouch cmd doesn't support. And runc doesn't neither. So we should make that in runc. I'm ready to make a  PR to runc in this days.

cc @houstar

[2018-12-18 13:36] zhuangqh commented on #2568
RFC:

| key | value |
| --- | ---- |
| config | marshal [daemon config](  https://github.com/alibaba/pouch/blob/master/daemon/config/config.go#L30) |

[2018-12-18 13:42] zhuangqh commented on #2568
compared with directly put each kv to the map.
1. json value support not only string value
2. It is unnecessary to know the exactly spell of each key.

[2018-12-19 05:59] Ace-Tang commented on #2562
@KnoooW , sorry but pouch won't make it default (more reasons cause ourself's usecase), followed by https://github.com/alibaba/pouch/blob/master/INSTALLATION.md#build-tags if you want this.
[code]

[2018-12-19 05:59] Ace-Tang commented on #2556
I will figure this out, these days are so busy

[2018-12-19 06:04] allencloud commented on #2562
Thanks for your feedback.
oh, let us wait a minute. I think we could make it support seccomp in the released package. Then end users could experience this feature in the next release. @KnoooW @Ace-Tang

So, please support this in when we make the next release. @fuweid

[2018-12-19 06:07] Ace-Tang opened #2574 "[proposal] support snapshotter when pull image"
# User case

Pouch support different runtimes, like runc, kata. For kata, default p9 filesystem has ready slow io, so we do some enhance for the file system kata use(qcow2 block device). This introduce a big problem here, for runc, the default snapshotter is overlay, for kata, we use qcow2 for enhance io, but runc can not use qcow2, since it is a block device, kata can not use overlay if it want a

[2018-12-20 01:09] HusterWan opened #2586 "pouch inspect not return all parameters of container"
### Ⅰ. Issue Description

We define `ContainerJSON` in `apis/types/container_json.go`, it contains many parameters.

But when we call  `/containers/{name:.*}/json`, it only returns parameters below:

[code]

### Ⅱ. Describe what happened

`/containers/{name:.*}/json` not return all parameters

### Ⅲ. Describe what you expected to happen

We should return all parameters of `ContainerJSON` when call

[2018-12-20 07:02] HusterWan opened #2588 "[feature request] add new parameter to ContainerJSON to specify rootfs path"
## Why you need it?

Maybe we want to explicitly get rootfs of container, we can put a new parameters to ContainerJSON.

Like `HostRootPath` to specify the container rootfs path:
[code]

## How it could be?

## Other related information

[2018-12-20 09:10] allencloud opened #2590 "[feature request] support more kubernetes version e2e test"
## Why you need it?

Currently the latest upstream kubernetes release has been developed to be 1.13, while the default test version of kubernetes in PouchContainer is just 1.10, see https://github.com/alibaba/pouch/blob/master/hack/testing/run_daemon_cri_e2e.sh#L64

[code]

Thus we have not tested kubernetes 1.11, 1.12 or 1.13.

In fact, we will try to choose several reasonable versions in node en

[2018-12-20 12:51] #2116 closed

[2018-12-21 03:37] #2568 closed

[2018-12-21 07:24] pouchrobot opened #2596 "WeeklyReport of PouchContainer from 2018-12-14 to 2018-12-21"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2018-12-21 09:15] houstar commented on #2509
@zjumoon01  What's the progress on the runc side about the 'runc update` the cgroup blkio settings? 👍

[2018-12-21 09:53] drpmma opened #2598 "[bug] cannot top a paused container"
### Ⅰ. Issue Description

cannot top a paused container

### Ⅱ. Describe what happened
[code]

### Ⅲ. Describe what you expected to happen

I cannot top a paused container **while docker is able to do so**.
So I'm wondering is it a feature or bug and whether it is possible to add this feature?
### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. just start a pouch container.
2.

[2018-12-21 11:33] Ace-Tang commented on #2562
This make sense for me.

[2018-12-22 02:04] allencloud commented on #2598
Does containerd support to top a paused container? @fuweid @Ace-Tang

[2018-12-23 08:59] ZYecho commented on #2598
@allencloud I dive into some codes about top in moby and pouch and find some result,
1. containerd support that, since both of pouch and moby use containerd's task listPids api
2. the problem may due to the definition of pouch's container state, when pouchd status pause a container, it just change the status to `Paused`, but the moby said `Note that `Running` and `Paused` are not mutually exclusiv

[2018-12-24 06:20] KnoooW commented on #2562
the attack difficulty:
(1) without seccomp: 50
(2) with seccomp: 98

[2018-12-24 06:54] zjumoon01 commented on #2509
I will push it in this week

[2018-12-24 10:11] wangforthinker opened #2609 "[feature request] pouch cp is needed"
## Why you need it?

Pouch cp is needed to transfer files between container and host.

## How it could be?

Realize it as docker cp.

## Other related information

[2018-12-24 11:56] #2596 closed

[2018-12-24 11:57] fuweid commented on #2562
@KnoooW I have released new version 1.1.0 with seccomp. Please check it by deb or rpm package. Thanks

[code]

[2018-12-24 12:34] fengzixu opened #2610 "[bug report] Run allinone_aliyun.sh failed"
## Question

When I want to process allinone_aliyun.sh to create a kubernetes cluster with the pouch(version 1.1.0), I find the error message as below:

[code]

My pouch.service

[code]

[2018-12-24 14:46] mathspanda commented on #2610
Meet the same problem.

[code]

Then everything is ok.

[2018-12-25 01:54] #2598 closed

[2018-12-25 02:10] fuweid commented on #2562
@KnoooW any update here?

[2018-12-25 02:19] fuweid commented on #2610
@fengzixu the problem has been solved?

[2018-12-25 02:50] fengzixu commented on #2610
@fuweid Nop. I try this operation on different machines. The mistake is the same.

[2018-12-25 03:06] fengzixu commented on #2610
New mistake when I want to restart pouch through systemctl

[code]

[2018-12-25 03:10] fengzixu commented on #2588
/assign

[2018-12-25 03:13] fuweid commented on #2610
@fengzixu could you provide more details about the log? like `journalctl -u pouch.service` thanks

[2018-12-25 03:15] allencloud commented on #2609
Actually https://github.com/alibaba/pouch/pull/2182 is trying to do this. While it seems that @knightXun has not been working on it, now. Am I right?

[2018-12-25 03:54] knightXun commented on #2609
sorry for that, after few days i will have more spare time and will finish `docker cp` pr.

[2018-12-25 04:13] fengzixu commented on #2610
@fuweid I run the command `journalctl -u pouch.service`, there are not any useful message. The lastest timestamp of logs is 2018-12-24T22:35:42.

[code]

[2018-12-25 05:54] KnoooW commented on #2562
Great! update and test, seccomp take effects by default.

[2018-12-25 06:57] fengzixu commented on #2610
The problem has been identified. I will repair it.

[2018-12-25 08:14] #2490 closed

[2018-12-25 09:41] zjumoon01 commented on #2509
I have pushed the feature to project alibaba/runc.
https://github.com/alibaba/runc/pull/15

[2018-12-26 01:56] zhuangqh commented on #2590
TODO

- [ ] create a table to illustrate the compatibility between PouchContainer and kubernetes
include 1.9/ 1.10～1.11/ 1.12, put it on README

[2018-12-26 03:32] chuanchang commented on #1454
@soarpenguin this part codes have been obsoleted, so close this one,  please check https://github.com/pouchcontainer/project.

[2018-12-26 03:32] #1454 closed

[2018-12-26 07:09] allencloud commented on #2562
Thanks for your experiement. @KnoooW Could we close this issue?

[2018-12-26 09:18] elvizlai opened #2618 "[bug report] network p0 create failed when reboot"
### Ⅰ. Issue Description
[code]

### Ⅱ. Describe what happened

Root VPC,  some container(not all) not started and because missing pouch `p0` net interface.

~~After reboot, MUST `systemctl restart pouch` to recreate p0, then `pouch start container` manually.~~

If there are any container can start(--restart always), then p0 won't create.

example:
[code]

I think p0 MUST create before vetheXXXX.

[2018-12-26 09:31] elvizlai commented on #2618
@allencloud I update the issue with log appended.

[2018-12-26 09:35] elvizlai commented on #2618
journalctl
[code]

[2018-12-26 12:09] fengzixu opened #2619 "After I run kubernetes cluster with pouch, I can't process `docker run`"
## Question

After I created the kubernetes cluster with the  scripit in the pouch repo, I cannot process `docker run`

OS: linux 16.04 ubuntu
docker: 18.09
pouch: lastest

ErrorInfo :
[code]
But, when I remove the pouch and reinstall docker-ce, I can process `docker run` successfully.

[2018-12-26 12:10] fengzixu commented on #2619
@allencloud

[2018-12-26 12:15] flyer103 commented on #2619
<img width="869" alt="image" src="https://user-images.githubusercontent.com/829039/50445604-e6726f80-094a-11e9-8785-9003b76b408f.png">
https://github.com/alibaba/pouch/blob/master/INSTALLATION.md#ubuntu

[2018-12-26 12:16] fengzixu commented on #2619
So sad. :(

[2018-12-26 12:31] fengzixu commented on #2619
`pouch pull` and `pouch push ` are not founded in the pouch cli. In my work, I used docker build to construct the image and push it into my private registry.

Because the docker cannot exist with the pouch in the same node, and the pouch also cannot supply the command which same as the docker. It is inconvenient for me. :(

[2018-12-26 12:35] zhuangqh commented on #2619
`pouch pull` and `pouch push` are not supported temporarily. @fengzixu    cc @fuweid

[2018-12-26 12:39] zhuangqh commented on #2619
maybe you could use kubelet+docker on one node and kubelet+pouch on another node. :)

[2018-12-26 12:42] flyer103 commented on #2619
[pouch pull](https://github.com/alibaba/pouch/blob/master/docs/commandline/pouch_pull.md) is supported @fengzixu @zhuangqh

[2018-12-26 12:48] allencloud commented on #2619
I think `pouch push` and `pouch build` would influence the completeness of PouchContainer. We need to make everyone know the progress. @fuweid
Expectable things achieve trust, I think. ❤️

[2018-12-26 13:30] fengzixu commented on #2619
In my opinion, the goal of the pouch should supply a conventional approach for the developers so that they will glad to use it instead of Docker in the production environment. As the @allencloud said,  If the pouch team has a plan to support the `pouch push` and `pouch build`, you can publish this plan to the community. Besides, if you want someone help you to finish it, please contact me. I am al

[2018-12-26 13:35] fengzixu commented on #2619
It seems like that the phenomenon described in the issue is not a bug. I close it and looking forward to the next progress。

[2018-12-26 14:08] #2619 closed

[2018-12-27 03:44] rudyfly commented on #2618
@elvizlai Can you provide all the network information, `ifconfig`

[2018-12-27 04:44] mathspanda commented on #2213
Is there anyone working on this. I can help with it.

[2018-12-27 05:10] xiechengsheng commented on #2213
It seems that command `prune` is useful for CI tests, and the `prune` is completed in [test environment](https://github.com/alibaba/pouch/blob/master/test/environment/cleanup.go#L15), so close this issue :)

[2018-12-27 05:45] fuweid commented on #2213
@xiechengsheng I think it can be used to clean up, no just for test env.

@mathspanda please go ahead.

[2018-12-27 05:46] mathspanda commented on #2213
OK. :-D

[2018-12-27 05:53] fuweid commented on #2213
@mathspanda you don't need implement all in one PR :) you can separate it into several PRs

[2018-12-27 06:59] ZYecho commented on #1358
@wrfly @allencloud the `ps filter` already have added, is current filter key satisfy your requirement？

[2018-12-27 07:30] zhuangqh opened #2622 "[feature request] CRI pause/unpause container interface"
## Why you need it?

Under serverless situation, we may pre-allocate a batch of container which were ready to serve, waiting online. In order to reduce the cost of system resource, we stop these containers, and start them when they are required to serve.

I propose using pause container to balance the resource cost and application start-up time.

## How it could be?

extend the CRI v1alpha2 interf

[2018-12-27 07:40] zhuangqh commented on #2622
TODO

- [ ] CRI interface implement
- [ ] CRI test cover @chuanchang

[2018-12-28 05:33] #2562 closed

[2018-12-28 07:02] allencloud opened #2628 "[community] Please join PouchContainer dev group via Dingtalk to have fun"
## Question

PouchContainer team hopes that all people interested in container technology or PouchContainer could participant in the warm communication of community.

Currently, we have created a Dingtalk Group(钉钉群) for the community. While it is almost for the Chinese guys. This Group has also integrated the GitHub webhook to know the status change of this repo.

If you are interested in PouchCon

[2018-12-28 07:25] pouchrobot opened #2630 "WeeklyReport of PouchContainer from 2018-12-21 to 2018-12-28"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2018-12-28 07:36] fengzixu commented on #2610
Let me do it at today as my the final commit for pouch.

[2018-12-28 09:39] wangforthinker opened #2633 "[proposal] Add log if a cri request is spent more than a certain period of time"
## Why you need it?

If pouchd handle a cri request more than a certain period of time, we want to record log for the request.

## How it could be?

As said above.

## Other related information

[2018-12-28 11:18] allencloud opened #2634 "[feature request] remove pouchd daemon flag `--add-runtime`"
## Why you need it?

I do not think we need daemon flag `--add-runtime`.

Today when I reading docs about how to run runv/katacontainer in Kubernetes. I found that first work is to restart pouchd to pass `--add-runtime=runv` flag to make pouchd support runV first.

It is so **inconvenient** for end-users. I wish that runtime configuration could be removed, and pouchd have several default runtimes,

[2018-12-28 13:36] #2610 closed

[2018-12-29 03:50] fuweid commented on #2556
I am working on this @Ace-Tang

[2019-01-02 04:11] #2556 closed

[2019-01-02 05:53] ireneYang opened #2642 "[bug] pouch run with '-i -t' parameters make terminal down"
### Ⅰ. Issue Description
An issue exist as following picture when execute cmd as 'pouch run -i -t ####.img'
![image](https://user-images.githubusercontent.com/5259791/50581522-6b9edc80-0e95-11e9-8922-83a43e6cd9a1.png)

when remove the '-i -t' parameters, the pouch runs in normal , but docker doesn't have such issue
### Ⅱ. Describe what happened
the terminal will be broken

### Ⅲ. Describe what you

[2019-01-03 09:06] houstar commented on #2489
either dmidecode or systemd-uuid might be useful for this case.

[2019-01-03 09:22] allencloud commented on #2489
Could you be more specific? @houstar

[2019-01-04 03:18] #2630 closed

[2019-01-04 07:25] pouchrobot opened #2648 "WeeklyReport of PouchContainer from 2018-12-28 to 2019-01-04"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-01-04 15:04] xwisen opened #2649 "kube-proxy start failed when deploy k8s v1.12.0 (with kubeadm) + pouch 1.1.0"
## Question
kube-proxy start failed when deploy k8s v1.12.0 + pouch 1.1.0
## Debug info
### os
[code]
### k8s
[code]
### pouch
[code]
### kube-proxy daemonset yaml
[code]
### kube-proxy container error info
[code]

[2019-01-05 04:14] xiaoxubeii commented on #2649
The problem is `/proc/sys/*` are mounted as readonly paths:
[code]
even when the pod is privileged. It has been fixed in kubelet dockershim #68803 but not in cri runtime. I will follow Kubernetes and create a pr if necessary.

[2019-01-05 16:48] allencloud opened #2650 "[test] unit test CI failed due to case TestTLSDialer fails with x509: certificate has expired"
### Ⅰ. Issue Description

Recently we meet lots of CI failure which is in unit test. like https://github.com/alibaba/pouch/pull/2643 and https://github.com/alibaba/pouch/pull/2647.

The error message reports like below:

[code]

We found that there is one case failed:
[code]

It seems that the certificate expires. I am afraid that @fuweid introduced the test case. Could you help to take a look of

[2019-01-06 05:37] xwisen commented on #2649
container can't mout /proc, so this problem can't be solved in handmode:
[code]

[2019-01-06 11:13] #2650 closed

[2019-01-07 08:47] #2648 closed

[2019-01-07 10:48] xiaoxubeii commented on #2649
@xwisen No you can't mount /proc/* manually because it is already mounted as readonly.

[2019-01-07 11:54] zjumoon01 commented on #2509
@houstar  alibaba/runc  has supported this feature as mentioned above

[2019-01-09 03:30] xiaoxubeii commented on #2649
I have created #72708 to track, so we can determine in which side we should fix the bug.

[2019-01-11 07:24] pouchrobot opened #2662 "WeeklyReport of PouchContainer from 2019-01-04 to 2019-01-11"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-01-11 09:17] ZYecho commented on #2642
@ireneYang what image you use? could you provide more info such as the template told you?

[2019-01-14 02:23] wzhx78 opened #2663 "Can pouchd support http protocol when pull image?"
## Why you need it?
when we use pouch,  we want to use http protocol when pull image,  but pouchd failed to pull image.
## How it could be?
pouchd version: 1.1.0

Error message:
![image](https://user-images.githubusercontent.com/2056897/51094254-50619480-17e6-11e9-82f7-1e4750455982.png)

[2019-01-14 03:07] zhuangqh commented on #2633
already implemented by https://github.com/alibaba/pouch/pull/2613

[2019-01-14 03:08] #2633 closed

[2019-01-14 06:00] #2537 closed

[2019-01-15 05:45] allencloud opened #2667 "[bug] Data Race of ContainerExecConfig happens when calling exec start and inspect"
### Ⅰ. Issue Description

When I was finishing the integration test adding in pr https://github.com/alibaba/pouch/pull/2612, I found a data race there in struct ContainerExecConfig instance operation.

[code]

### Ⅱ. Describe what happened

Data Race of ContainerExecConfig when calling exec start and inspect

### Ⅲ. Describe what you expected to happen
no data race in the pouchd's log about contai

[2019-01-15 06:03] #2662 closed

[2019-01-15 07:59] rudyfly commented on #2618
set container restart=always, it will start when daemon recover, while it will set into activeSandbox and cause network can't be initialized, so bridge `p0` can't be set. Without bridge `p0`, the container network can't be set, so cause the problem.

[2019-01-15 08:58] allencloud commented on #2618
Do we have any solutions? @rudyfly
And can we cover the fix in the next release of PouchContainer. @fuweid

[2019-01-15 11:04] #637 closed

[2019-01-15 11:05] allencloud commented on #2086
This has been fixed in https://github.com/alibaba/pouch/pull/2640. Closing now.

[2019-01-15 11:05] #2086 closed

[2019-01-15 11:07] allencloud commented on #137
Closing it now.

[2019-01-15 11:07] #137 closed

[2019-01-15 12:21] BaliStarDUT commented on #2280
same problem on centos7 3.10.0-862.el7.x86_64，Server Version:  1.1.0：

`[yang@centos-worker ~]$ pouch ps -a
Name      ID       Status                   Created          Image                                            Runtime
56053f    56053f   created                  8 seconds ago    registry.hub.docker.com/library/nginx:alpine     runc
5ec0a0    5ec0a0   Stopped (0) 9 minutes    9 minutes ago

[2019-01-15 12:46] allencloud commented on #2588
Any update on this? @fengzixu 😄 🦁

[2019-01-15 13:01] allencloud commented on #2280
Could you provide more details about the pouchd's log? @BaliStarDUT

[2019-01-15 14:45] fengzixu commented on #2588
@allencloud Sorry. The work is too heavy at the end of 2018. I will do it as soon as possible.

[2019-01-16 05:56] fuweid commented on #2497
any update @ZYecho ?

[2019-01-16 08:04] chenggangqcg opened #2671 "We need pouch compatible meta. Json of gvisor"
gvisor's runsc will get key information from meta.json. While I start a gvisor sandbox use pouch, the information of runsc's meta.json is missing in pouch's meta.json.
Could you integrate gvisor's meta.json into pouch's one?

[code]

[2019-01-16 09:36] fuweid commented on #1418
@wrfly you can reopen if you run into this issue again. thanks for report

[2019-01-16 09:36] #1418 closed

[2019-01-17 07:52] fuweid commented on #2099
We are missing pouch cli side implementation.

[2019-01-17 08:45] ZYecho commented on #2497
close it now, if we have more voices to do it then we reopen it.

[2019-01-17 08:45] #2497 closed

[2019-01-18 04:13] allencloud commented on #2671
I think we could close this isse. Since for gvisor, runsc will create a mete.json file locally, and then runsc would use this file to get gvisor and `status`, `sandbox` and `goperPid`.

[2019-01-18 04:13] #2671 closed

[2019-01-18 07:24] pouchrobot opened #2676 "WeeklyReport of PouchContainer from 2019-01-11 to 2019-01-18"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-01-21 12:15] fengzixu commented on #2618
I faced the same problem

[2019-01-21 12:20] fengzixu commented on #2618
@rudyfly

[2019-01-23 02:21] fuweid commented on #2609
I move it into v1.3.0 milestone because the v1.2.0 comes to end.

[2019-01-23 09:13] HusterWan opened #2685 "[Bug] memory controller missing on ubuntu"
### Ⅰ. Issue Description

We have a test case in: https://github.com/alibaba/pouch/blob/master/test/cli_run_cgroup_test.go#L36

This case is to test `CgroupParent` path, but we got an error on ubuntu:
[code]

This bug may relate to: https://stackoverflow.com/questions/15604055/lxc-cgroup-memory-controller-missing

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. H

[2019-01-23 11:16] Ace-Tang commented on #2685
Not related to the linked issue
[code]
in ubuntu 16.04, the `/proc/self/cgroup` shows like
[code]
this means we can not get cgroup path like `/sys/fs/cgroup` + `subsystem`

[2019-01-23 13:27] zhuangqh opened #2689 "[RFC] move CRI v1alpha1 support to END OF LIFE"
## What

CRI v1alpha1 version is deprecated nowadays.  **We are going to remove the CRI v1alpha1 interface support on March 31 2019.**

Please leave a comment if you are using Kubernetes v1.9 and feel free to tell us what's your requirement.

## Support Metrics

Date: Jan 23 2019

| Kubernetes Version | CRI Version | PouchContainer Version |
| --- | --- | --- |
| 1.9 | v1alpha1 | v1.0+ |
| 1.10+ |

[2019-01-24 07:14] #2538 closed

[2019-01-24 11:44] hellolijj commented on #1609
/assign

[2019-01-24 13:11] Ace-Tang commented on #2685
I make a mistake to find container cgroup path, since when container use cgroup namespace, we can not get cgroup path from container use exec `cat proc/self/cgroups`. I think the correct way to get container host cgroup path is get from runc

[2019-01-25 02:06] fuweid commented on #1599
fixed by #2677

[2019-01-25 02:06] #1599 closed

[2019-01-25 06:40] #2685 closed

[2019-01-25 07:24] pouchrobot opened #2694 "WeeklyReport of PouchContainer from 2019-01-18 to 2019-01-25"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-01-27 10:22] weekly-digest[bot] opened #2695 "Weekly Digest (20 January, 2019 - 27 January, 2019)"
Here's the **Weekly Digest** for [*alibaba/pouch*](https://github.com/alibaba/pouch):

 - - -
# ISSUES
Last week 18 issues were created.
Of these, 11 issues have been closed and 7 issues are still open.
## OPEN ISSUES
:green_heart: #2694 [WeeklyReport of PouchContainer from 2019-01-18 to 2019-01-25](https://github.com/alibaba/pouch/issues/2694), by [pouchrobot](https://github.com/pouchrobot)
:gree

[2019-01-28 03:59] zjumoon01 opened #2697 "[bug] pouch inspect -f {{.ExecIDs}} returned error"
### Ⅰ. Issue Description
pouch inspect -f {{.ExecIDs}} is not supported.

### Ⅱ. Describe what happened
It returned error.

### Ⅲ. Describe what you expected to happen
It should return its ExecIDs.

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. start a container
2. pouch exec into the container
3. start a new terminal, and pouch inspect -f {{.ExecIDs}}

### Ⅴ. Anything el

[2019-01-28 06:20] HusterWan commented on #2697
You should use `pouch inspect -f {{.ExecIds}}`. But we truly not support inspect `execids` now, I will create PR to fix it.

[2019-01-28 06:20] HusterWan commented on #2697
assigin @HusterWan

[2019-01-28 06:41] wangforthinker opened #2698 "[feature request] CRI support memory_swap"
## Why you need it?

We want to set memory swap by CRI interface.

## How it could be?

There are two suggestion.
Add a field of MemorySwap in LinuxContainerResources struct.
Define an annotation key such as memory_swap and transfer it by Annotations field.

## Other related information

[2019-01-28 06:57] zhuangqh commented on #2698
good advise. Using annotation for extension fields to achieve the least break of CRI interface.

[2019-01-28 06:58] zhuangqh commented on #2622
test: https://github.com/alibaba/cri-tools/pull/11

[2019-01-29 01:32] fuweid commented on #2697
@zjumoon01 could you share your usage here? the execID seems useless thing I guess. Thanks

[2019-01-29 01:32] #2694 closed

[2019-01-29 05:51] #2588 closed

[2019-01-29 06:28] zjumoon01 opened #2701 "[feature request] pouch cli supports --memory-reservation"
## Why you need it?

Cgroup memory soft limit is a general feature. Docker command supports it with "--memory-reservation". Pouch CRI supports it via "memory_reservation" in LinuxContainerResources.

## How it could be?

I'll be nice that pouch command supports --memory-reservation

## Other related information

[2019-01-29 07:09] #2698 closed

[2019-01-29 10:09] #2622 closed

[2019-01-29 11:44] zjumoon01 commented on #2697
It is an ops method. Sometimes "exec" is not exited correctly because some bug on docker environment. So inspecting ExecIDs is useful to debug. It will be useful in pouch debug.

[2019-01-30 05:11] #2697 closed

[2019-02-01 07:24] pouchrobot opened #2703 "WeeklyReport of PouchContainer from 2019-01-25 to 2019-02-01"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-02-03 10:22] weekly-digest[bot] opened #2705 "Weekly Digest (27 January, 2019 - 3 February, 2019)"
Here's the **Weekly Digest** for [*alibaba/pouch*](https://github.com/alibaba/pouch):

 - - -
# ISSUES
Last week 8 issues were created.
Of these, 5 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #2703 [WeeklyReport of PouchContainer from 2019-01-25 to 2019-02-01](https://github.com/alibaba/pouch/issues/2703), by [pouchrobot](https://github.com/pouchrobot)
:green_

[2019-02-08 07:24] pouchrobot opened #2706 "WeeklyReport of PouchContainer from 2019-02-01 to 2019-02-08"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-02-10 10:22] weekly-digest[bot] opened #2707 "Weekly Digest (3 February, 2019 - 10 February, 2019)"
Here's the **Weekly Digest** for [*alibaba/pouch*](https://github.com/alibaba/pouch):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #2706 [WeeklyReport of PouchContainer from 2019-02-01 to 2019-02-08](https://github.com/alibaba/pouch/issues/2706), by [pouchrobot](https://github.com/pouchrobot)
:green_

[2019-02-11 03:24] #2707 closed

[2019-02-11 03:24] #2706 closed

[2019-02-11 03:24] #2705 closed

[2019-02-11 03:24] #2703 closed

[2019-02-11 03:24] #2695 closed

[2019-02-11 03:25] #2676 closed

[2019-02-14 07:52] #2509 closed

[2019-02-15 07:24] pouchrobot opened #2713 "WeeklyReport of PouchContainer from 2019-02-08 to 2019-02-15"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-02-17 02:35] weekly-digest[bot] opened #2714 "Weekly Digest (10 February, 2019 - 17 February, 2019)"
Here's the **Weekly Digest** for [*alibaba/pouch*](https://github.com/alibaba/pouch):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 5 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #2713 [WeeklyReport of PouchContainer from 2019-02-08 to 2019-02-15](https://github.com/alibaba/pouch/issues/2713), by [pouchrobot](https://github.com/pouchrobot)
## CLOS

[2019-02-18 01:22] #2714 closed

[2019-02-18 01:22] #2713 closed

[2019-02-19 12:24] ireneYang opened #2716 "[feature] add support to config limit size of kmem"
## Why you need it?

Expect to config the limit size of kmem in /sys/fs/cgroup/memory/memory.kmem.limit_in_bytes
eg. set this parameter as 0, to disable the kmem usage of a container
## How it could be?

can dynamically config:
/sys/fs/cgroup/memory/memory.kmem.limit_in_bytes

## Other related information

[2019-02-20 10:48] senthilnathann commented on #140
@CodeJuan Pls help on this

[2019-02-22 07:24] pouchrobot opened #2722 "WeeklyReport of PouchContainer from 2019-02-15 to 2019-02-22"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-02-24 02:35] weekly-digest[bot] opened #2723 "Weekly Digest (17 February, 2019 - 24 February, 2019)"
Here's the **Weekly Digest** for [*alibaba/pouch*](https://github.com/alibaba/pouch):

 - - -
# ISSUES
Last week 8 issues were created.
Of these, 3 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #2722 [WeeklyReport of PouchContainer from 2019-02-15 to 2019-02-22](https://github.com/alibaba/pouch/issues/2722), by [pouchrobot](https://github.com/pouchrobot)
:green_

[2019-02-24 07:23] wangforthinker opened #2724 "Add specAnnotation update in container update api."
## Why you need it?

We want to update runtime spec by container update api.

## How it could be?

Add a field of specAnnotation in UpdateConfig,  and transfer it to runc.

## Other related information

[2019-02-25 01:58] #2723 closed

[2019-02-25 01:58] #2722 closed

[2019-02-26 07:58] #2724 closed

[2019-02-26 08:11] #2649 closed

[2019-02-28 14:56] eryx opened #2729 "pouch.rpm conflicts with the nvidia official libnvidia-container-runtime.rpm package"
### Ⅰ. Issue Description

OS: CentOS 7.6

1. install pouch-1.2.0-1.el7.x86_64.rpm
repo:  https://mirrors.aliyun.com/pouch/centos7.repo

2. install nvidia CUDA framework
download from https://developer.nvidia.com/cuda-downloads?target_os=Linux
rpm -i cuda-repo-rhel7-10-1-local-10.1.105-418.39-1.0-1.x86_64.rpm
yum install cuda

3. install nvidia-docker
https://github.com/NVIDIA/nvidia-docker  (CentO

[2019-02-28 15:08] allencloud commented on #2729
Do we provide an official way to install GPU's essential software? @CodeJuan
I only find the doc with how to run containers with GPU https://github.com/alibaba/pouch/blob/master/docs/features/pouch_with_gpu.md, but no installation guidance.

[2019-03-01 03:56] wangforthinker opened #2730 "[Proposal] CRI support to update annotations."
## Why you need it?

We damand the update of annotations by CRI interface.

## How it could be?

It is my suggestion to add a field of Annotations in UpdateContainerResourcesRequest.

## Other related information

[2019-03-01 07:24] pouchrobot opened #2731 "WeeklyReport of PouchContainer from 2019-02-22 to 2019-03-01"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-03-03 02:35] weekly-digest[bot] opened #2732 "Weekly Digest (24 February, 2019 - 3 March, 2019)"
Here's the **Weekly Digest** for [*alibaba/pouch*](https://github.com/alibaba/pouch):

 - - -
# ISSUES
Last week 8 issues were created.
Of these, 4 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #2731 [WeeklyReport of PouchContainer from 2019-02-22 to 2019-03-01](https://github.com/alibaba/pouch/issues/2731), by [pouchrobot](https://github.com/pouchrobot)
:green_

[2019-03-04 03:22] wangforthinker opened #2733 "[Proposal] Support to send signal to container main process in pouch."
## Why you need it?

We want to send a signal to container main process link docker kill.

## How it could be?

## Other related information

[2019-03-04 06:11] #2732 closed

[2019-03-04 06:12] fuweid commented on #2733
SGTM

[2019-03-04 06:12] #2731 closed

[2019-03-04 06:16] fuweid commented on #2733
Link: https://github.com/alibaba/pouch/pull/1485

[2019-03-04 07:35] wangforthinker commented on #2733
It is good!

[2019-03-08 02:04] jomenxiao commented on #2634
It's means that pouchd support params `runtime`?
https://github.com/alibaba/pouch/blob/master/daemon/mgr/container.go#L390

and whether this issue wanto client' requst pass params `runtime`？

[2019-03-08 07:24] pouchrobot opened #2738 "WeeklyReport of PouchContainer from 2019-03-01 to 2019-03-08"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-03-08 08:50] #2730 closed

[2019-03-10 02:35] weekly-digest[bot] opened #2740 "Weekly Digest (3 March, 2019 - 10 March, 2019)"
Here's the **Weekly Digest** for [*alibaba/pouch*](https://github.com/alibaba/pouch):

 - - -
# ISSUES
Last week 7 issues were created.
Of these, 4 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #2739 [multisnapshotter: set snapshotter in container config](https://github.com/alibaba/pouch/pull/2739), by [Ace-Tang](https://github.com/Ace-Tang)
:green_heart: #2738

[2019-03-13 09:24] #2740 closed

[2019-03-14 01:55] #1897 closed

[2019-03-14 02:53] allencloud commented on #2689
Any update on this? @zhuangqh
If we will do it on 31 March, which version will it be included in?

[2019-03-14 02:57] zhuangqh commented on #2689
The PouchContainer next release.

[2019-03-14 03:32] allencloud commented on #2483
Any update? @Ace-Tang

[2019-03-14 04:39] Ace-Tang commented on #2483
Sure, update soon

[2019-03-14 06:45] allencloud commented on #2701
I think it is quite easy to make it in cli. Could you help to make it? @zjumoon01 🌥

[2019-03-14 06:46] allencloud commented on #2729
Any update on this? @CodeJuan @fuweid

[2019-03-14 06:47] allencloud commented on #2642
Have you solved the problem? @ireneYang
I am wondering if you could sync some update of it. 😄

[2019-03-14 11:53] #2738 closed

[2019-03-14 12:27] zhuangqh opened #2749 "[feature request] support containerd v2 shim"
## Why you need it?

using custom shim for different runtimes.

After upgrade to containerd v1.2, it's time to introduce this feature to PouchContainer.

## How it could be?

TBD

## Other related information

[2019-03-15 01:29] fuweid commented on #2749
we synced this offline and I think we should make a plan to handle. At least, we should have proposal here :)

[2019-03-15 07:24] pouchrobot opened #2752 "WeeklyReport of PouchContainer from 2019-03-08 to 2019-03-15"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-03-15 10:42] zhuangqh commented on #2749
# Proposal: support containerd shimv2

<a name="0ee8c9fa"></a>
# New Runtime config
[code]

<a name="Type"></a>
## Type
Distinguish the v1 and v2 containerd shim.

**shim v1**<br />sperate identification `io.containerd.runtime.v1.linux` 

**shim v2**<br />in format `io.containerd.${runtime}.${version}` ,like `io.containerd.runc.v1` . 

<a name="Options"></a>
## Options
you can pass any acceptable

[2019-03-15 10:42] zhuangqh commented on #2749
cc @Ace-Tang @fuweid

[2019-03-18 06:02] #2752 closed

[2019-03-18 06:21] houstar commented on #2701
I'll help to review this code 👍

[2019-03-18 06:23] houstar commented on #2634
@jomenxiao I'd like to make your idea as approach design to let the architecture give your useful comments

[2019-03-18 06:24] #2492 closed

[2019-03-19 02:18] houstar commented on #2729
@CodeJuan  @fuweid For this conflicts, I'd like to not integrate the libnvida-container library into Pouch RPM but set libnvidia-container as our Pouch's RPM dependency.

[2019-03-19 02:31] houstar commented on #2663
"Server gave HTTP response to HTTPS client", so I assume our Pouch Daemon might be only supports HTTP Protocol in v1.1.0.   please see source code  in pouch/ctrd/image_proxy_util.go  directly :-0

[2019-03-19 07:33] fuweid commented on #2729
Hi @houstar , thanks for comment. I am open to any suggestion. will appreciate if you can file a issue or pr to https://github.com/pouchcontainer/project  :)

[2019-03-22 07:24] pouchrobot opened #2767 "WeeklyReport of PouchContainer from 2019-03-15 to 2019-03-22"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-03-23 12:55] libnux opened #2768 "enableLxcfs not work for alpine based containers"
### Ⅰ. Issue Description
After enabling lxcfs, memory limit works for ubuntu containers,but  did not work for alpine-based containers.

### Ⅱ. Describe what happened
1. lxcfs enabled:

2. worked for ubuntu

3. not work for alpine-based containers, showing the host memory size: **7872M**

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible

[2019-03-26 04:07] ZouRui89 opened #2770 "[question] Cannot start a rich container with a initscript"
## Question
I tried to create a rich container with a simple initscript, but I kept getting the error indicating the script file cannot be found.

[code]
[code]

[code]

Centos 7

[2019-03-26 04:17] allencloud commented on #2770
Could you add more information about the pouchd and os versions? @ZouRui89

[2019-03-26 04:24] ZouRui89 commented on #2770
[code]

centos 7

[2019-03-26 07:52] mushixun opened #2771 "[bug] failed to pull image from Harbor: x509: certificate signed by unknown authority"
## Question

i pull image from harbor use https,command like this:
[code]
but it's failed,message like this:

[code]

pouch info:
[code]

I have test the certificate files on docker,it's work ok.

[2019-03-26 16:20] zhuangqh opened #2773 "[test] create a test to cover container oom condition"
### Ⅰ. Issue Description

missing test case to cover the container oom condition

### Ⅱ.  Describe what you expected to happen

1. ensure `oomKillDisable` flag is set to false
2. create a normal container as up status
3. running an oom program inside the container
4. check the oom process is being killed
6. inspect the container, the state fields: pid is not zero, error is `OOMKilled`, status is r

[2019-03-26 17:05] allencloud commented on #2771
@mushixun
After searching the code, I found that there is no flag `--tlscacert`, `--tlscert`, `--tlskey`  for `pouch pull`:
[code]

Actually `docker pull` has no these flags, either:
[code]

But I think these are flags of command `pouchd` instead of `pouch pull`:
[code]

[2019-03-26 17:07] allencloud commented on #2768
That is quite interesting. I do not think it is related to the specific images. While it seems strange things happened. We will dig on it.

[2019-03-26 17:12] allencloud commented on #2768
Quite strange. Actually I cannot reproduce this on my machine:
[code]

Could you help to dig this issue as well? @libnux Please tell us if you have any problems.

[2019-03-26 17:14] allencloud commented on #2768
I have reproduced it:
[code]

[2019-03-26 17:20] allencloud commented on #2768
I think the file /proc/meminfo inside of both container alpine and ubuntu are taken effect to take mem 123m, see:
[code]

I begin to be suspicious of the binary `free` of two images.
Do you have any input? @CodeJuan @libnux

[2019-03-26 20:52] hallyn opened #2774 "runlxc"
## Question

Hi,

docs/architecture.md mentions runlxc.  I've read elsewhere that it is a proprietary crio for lxc implementation and that the intent is to open source it.

Does it still exist, and is the plan still to open source it?  If so what is the timeline?

[2019-03-26 22:24] mushixun commented on #2771
OK,I changed pouchd flags,but still get same error @allencloud
![image](https://user-images.githubusercontent.com/10143373/55037435-bb3a1200-5058-11e9-9004-f5b21e117134.png)

![image](https://user-images.githubusercontent.com/10143373/55037459-d147d280-5058-11e9-9760-ab9bf9323e57.png)

[2019-03-27 00:33] allencloud commented on #2771
I think this is related to a harbor issue of https://github.com/goharbor/harbor/issues/6774

You need to put the root cert on the host of the docker client.
More details please refer to:
https://docs.docker.com/engine/security/certificates/

We need to support put root cert on the host of pouch client.

[2019-03-27 00:41] mushixun commented on #2771
I put root cert files to /etc/docker/certs.d,Docker test is fine，but pouch put these cert file to which path?

[2019-03-27 00:45] allencloud commented on #2774
Thanks for your issue. @hallyn
Yes, runlxc is a runtime to receive commands from containerd and translate them to be commands for lxc. In addition, actually when use our runlxc in production environment, we modified some minor part of legacy linux kernel. So it it a strictly general case. With the info above, we slowed down the open source procedure. What is more, we wish to see more community inp

[2019-03-27 00:59] #2767 closed

[2019-03-27 01:52] mushixun commented on #2771
I use docker registry instead harbor，bug still cannot to pull image
![image](https://user-images.githubusercontent.com/10143373/55044604-f0089200-5075-11e9-9291-c79dfb9578cb.png)

[2019-03-27 02:53] libnux commented on #2768
@allencloud I see the same behavior as you. After stracing the "free" command in alpine container, seems that it calculated meminfo from the sysinfo  system call and the /proc/meminfo file.

Closing this issue, since It should be problem of busybox toolbox in alpine. Thanks for you help.
According to https://github.com/lxc/lxcfs/issues/202, lxcfs does not support sysinfo virtualization.

execve("/

[2019-03-27 02:53] #2768 closed

[2019-03-27 02:56] allencloud commented on #2768
Thanks for your issue. Please feel free to contact us if you meet any problems. Thanks. @libnux
If you wish to contact with us, please make sure you have read the issue https://github.com/alibaba/pouch/issues/2628.

[2019-03-27 10:28] eryx opened #2778 "[bug] the network of bridge p0 will not auto setup in host start or restart"
### Ⅰ. Issue Description

we found all pouch instances start failed after the host restart, error message:

pouch start 5c74fbcfc3762982-0000
Error: failed to start containers: {"message":"failed to create endpoint 9e767b05 on network bridge: adding interface vethd90b11d to bridge p0 failed: could not find bridge p0: route ip+net: no such network interface"}

1. Confirm the status of pouch : OK

[

[2019-03-27 14:20] hallyn commented on #2774
I'm interested in kubernetes platforms being able to trivially replace runc with runlxc.

[2019-03-27 14:23] hallyn commented on #2774
I'm not trying to be curt or coy, but I'm not sure what more info I could give :)  If you have specific questions please ask.  However, I'm getting ready to announce and start on github.com/lxc/crio-lxc.  I'd prefer to re-use something existing if that can be done quickly, but of course when lawyers get involved...

[2019-03-28 12:32] wangforthinker opened #2783 "[Proposal] Support to set root dir of container log file."
## Why you need it?

In some scenario, we prefer to defining container log path other than default log path.

## How it could be?

Define a root-dir key in logOpts, if user sets it, the path will be considered as the root dir of container log.
For example, we set root-key to /root/container/log, pouch will output container log to /root/container/log/{ID}/json.log

## Other related information

[2019-03-29 07:24] pouchrobot opened #2785 "WeeklyReport of PouchContainer from 2019-03-22 to 2019-03-29"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-04-01 07:31] #2785 closed

[2019-04-01 09:03] HusterWan opened #2786 "ExecSync grpc interface log print not expected"
### Ⅰ. Issue Description
Use pouch in CRI environment, but got some logs below:
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a

[2019-04-01 09:26] mushixun opened #2787 "[bug] pouch load docker_image failed"
### Ⅰ. Issue Description
I want load docker format image to pouch,but not success

### Ⅱ. Describe what happened
![image](https://user-images.githubusercontent.com/10143373/55317411-0dd55d00-54a3-11e9-9731-0c0cf2d1f357.png)

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Envir

[2019-04-01 09:28] allencloud commented on #2787
have you error tried to load this `pause.tar` with docker? Just confirm @mushixun

[2019-04-01 09:43] fuweid commented on #2787
@mushixun could you mind to provide the source image name? I mean where the pause.tar comes from.

[2019-04-01 09:55] mushixun commented on #2787
yes ,success
![image](https://user-images.githubusercontent.com/10143373/55319357-47a86280-54a7-11e9-8aa1-8b5df87c601d.png)
@allencloud

[2019-04-01 09:56] mushixun commented on #2787
test.registry.zj.chinamobile.com/kubernetes/pause:3.1 @fuweid

[2019-04-01 11:14] fuweid commented on #2787
@mushixun could you try `pouch load -i pause.tar test.registry.zj.chinamobile.com/kubernetes/pause`?

[2019-04-02 00:27] mushixun commented on #2787
good,this is success
![image](https://user-images.githubusercontent.com/10143373/55367654-a958e300-5520-11e9-8859-dd5d5c7ccfee.png)
can i not write the parameter test.registry.zj.chinamobile.com/kubernetes/pause? only write pouch load -i pause.tar

[2019-04-02 01:16] fuweid commented on #2787
Yep. I will handle this.

[2019-04-02 02:16] lgd8069465 opened #2788 "[bug] IMAGE NAME changed after pouch load"
## Question

CentOS Linux release 7.6.1810 (Core)
pouch Server Version: 1.2.0

![image](https://user-images.githubusercontent.com/7867042/55371217-fd1ef880-552f-11e9-90cb-65b639c705f9.png)

[2019-04-02 09:33] kuei-chi opened #2789 "Failed to limit disk quota when using driver grpquota"
### Ⅰ. Issue Description
I tried to limit my container disk quota with driver `grpquota`. But it was failed and raised error in log. My kernel version and quota-tools version are larger than requirements.

### Ⅱ. Describe what happened
I launched pouchd with comand `pouchd --quota-driver grpquota` and used the example command in [document] (https://github.com/alibaba/pouch/blob/6913f762e0a0acb0aca

[2019-04-02 09:35] xiechengsheng commented on #2788
You should provide image name in `load` command. So please use `pouch load -i nginx` instead.

[2019-04-02 10:56] #2716 closed

[2019-04-03 01:21] lgd8069465 commented on #2788
OK! Thanks!

[2019-04-03 01:51] fuweid commented on #2788
@lgd8069465 thanks for report. For OCI image, we need to set the name for image. If the tar file is from docker save, we also set the name which is same to the docker image name.

It is quite different with docker. But I think we can find a better to save the origin name.

[2019-04-03 01:54] mushixun opened #2790 "Pod CIDR update failed failed to update pod CIDR"
### Ⅰ. Issue Description
Kubelet join master,but launch pouch container fail

### Ⅱ. Describe what happened
message log

![image](https://user-images.githubusercontent.com/10143373/55447408-33bf4680-55f6-11e9-851f-7d944e1f13e5.png)

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

###

[2019-04-03 02:28] zhuangqh commented on #2790
will do

[2019-04-03 02:34] mushixun commented on #2790
unsupport k8s cri now? @zhuangqh

[2019-04-03 02:41] zhuangqh commented on #2790
kubernetes v1.12 is production level tested, it works. We haven't fully tested kubernetes 1.13 or higer

[2019-04-03 03:36] #2689 closed

[2019-04-03 08:44] mushixun commented on #2790
have resolved,through config the /etc/pouch/config.json
{
  "enable-cri": true,
  "cri-config": {
    "sandbox-image": "xxx/kubernetes/pause:3.1"
  }
}

[2019-04-03 08:55] changyaowei commented on #2790
UpdateRuntimeConfig not implemented not the real reason, it's not impact container create. The reason of container not created is  pause-image can't pull.

[2019-04-04 02:27] HusterWan opened #2794 "pouch info print kernel version with special characters"
### Ⅰ. Issue Description

Call `pouch info` and redirect the output to a file, we will see the content below, and found the `Kernel Version ` has specific suffix.
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen
I have test the regex that trim the specific characters:
[code]

Got the result:
[code]
### Ⅳ. How to reproduce it (as minimally and precisely as possible

[2019-04-05 07:24] pouchrobot opened #2795 "WeeklyReport of PouchContainer from 2019-03-29 to 2019-04-05"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-04-08 05:28] #2794 closed

[2019-04-08 09:02] #2795 closed

[2019-04-12 02:19] #2783 closed

[2019-04-12 07:24] pouchrobot opened #2801 "WeeklyReport of PouchContainer from 2019-04-05 to 2019-04-12"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-04-17 07:13] 360CodeSafe opened #2804 "Useless break statement"
### Ⅰ. Issue Description
`break` does nothing here:
https://github.com/alibaba/pouch/blob/9f56fefa28b2237b482540f0e217135ad14a276d/storage/quota/quota.go#L289-L293

Maybe you mean breaking the loop, so you need to add a label to the break statement.

[2019-04-17 07:18] HusterWan commented on #2804
@360CodeSafe thanks for what you have found, we should fix it @rudyfly

[2019-04-19 03:08] ruguodangshi opened #2805 "cat: /proc/meminfo: Transport endpoint is not connected"
### Ⅰ. Issue Description
when I  run "cat /proc/meminfo"  in a pouch container after I run “systemctl   restart   pouch-lxcfs ”  on the host machine，return the result  “cat: /proc/meminfo: Transport endpoint is not connected”.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen
Should return the content of  /proc/meminfo in the container   normally

### Ⅳ. How to reproduce

[2019-04-19 07:24] pouchrobot opened #2807 "WeeklyReport of PouchContainer from 2019-04-12 to 2019-04-19"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-04-20 12:34] #2801 closed

[2019-04-21 06:51] huangjc7 commented on #2618
问题描述：
[root@csv-slave13 ~]# pouch run -d -p 8099:80 dockerhub.io/hjc-image-nginx:v1.0
Error: failed to run container f1d418: {"message":"failed to create endpoint f1d41862 on network bridge: adding interface veth99f8b71 to bridge p0 failed: could not find bridge p0: route ip+net: no such network interface"}
操作如下：
# pouch network create -n pouchnet -d bridge --gateway 192.168.1.1 --subnet 192.168.1

[2019-04-22 02:00] githublaohu opened #2808 "大神好！，请问下pouch到底是什么"
看了很多资料都没有看懂pouch是什么，能有中文文档吗？毕竟国内的市场比别国（别人国家）还要大哈。

[2019-04-22 02:53] houstar commented on #2808
有志愿者做文档翻译吗？翻译成中文还是比较好的

[2019-04-22 03:33] githublaohu commented on #2808
抱歉哈，我的英语水平太差了。但是我可以做一些开发哈。

[2019-04-22 11:54] #2807 closed

[2019-04-23 09:05] ruguodangshi commented on #2805
I found:
[code]
in remount_lxcfs.go.so,this feature has not been implemented yet?

[2019-04-24 09:41] kuei-chi commented on #2789
Hi, do you have any idea about this problem? Thanks!!!

[2019-04-25 03:55] ainitgit opened #2811 "请问 pouch 容器有保护 类似 nodejs、php等源代码的方案吗？"
看到对pouch 的宣传是有：
轻量级虚拟机、以及 丰富的隔离保障
可是很多文档都是英文的

需求是：
我们公司有 基于 nodejs\php\python的商业应用，想 部署到 容器应用中，快速的分发给客户
但是具有root 权限账号的客户，仍然可以 docker命令 直接进入到运行的容器中查看代码。。。

我们也不是要特别强大的加密，只要能防住普通的技术人员

有没有这么一种功能：
不管是谁，要查看容器中的内容 一定要经过某种授权 或者 用户名 密码 登录之类的呢？

如果 阿里云 有成型的商业方案，价格合适的话，我们也愿意购买，谢谢啦

[2019-04-26 04:26] #2663 closed

[2019-04-26 06:08] rudyfly commented on #2789
delele this option（--quota-driver grpquota） when run pouchd

[2019-04-26 07:24] pouchrobot opened #2813 "WeeklyReport of PouchContainer from 2019-04-19 to 2019-04-26"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-04-26 07:42] allencloud commented on #2808
非常欢迎您来参与贡献PouchContainer代码，详见：https://github.com/alibaba/pouch/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22

@githublaohu

[2019-04-26 07:43] allencloud commented on #2804
Any update？ Or could you help to submit a PR to fix this？ @360CodeSafe

[2019-04-28 07:35] taoshaoyu opened #2814 "Add a function set let user set proxy"
## Question

Hi
Can pouch be used behind a proxy. Just like docker
https://docs.docker.com/config/daemon/systemd/#httphttps-proxy
I can create a /etc/systemd/system/docker.service.d/http-proxy.conf and set proxy in it
[Service]
Environment="HTTP_PROXY=http://proxy.example.com:80/"

[2019-04-28 08:48] #2813 closed

[2019-04-28 18:48] weekly-digest[bot] opened #2815 "Weekly Digest (21 April, 2019 - 28 April, 2019)"
Here's the Weekly Digest for [alibaba/pouch](https://github.com/alibaba/pouch):
# ISSUES
This week, 25 issues were created. Of these, 11 issues have been closed and 14 issues are still open.
## OPEN ISSUES
:green_heart: #2814 [Add a function set let user set proxy](https://github.com/alibaba/pouch/issues/2814), by [taoshaoyu](https://github.com/taoshaoyu)
:green_heart: #2812 [support filter format

[2019-04-29 09:24] kuei-chi commented on #2789
Hi master @rudyfly,

If I remove `--quota-driver grpquota` when run pouchd, it would use `prjquota` by default.  Setting quota would failed because I didn't format my disk with `project,quota` option.

[code]

pouchd error:
[code]

Because our services are running online now, it's difficult to format every servers so we want to use `grpquota` to limit the disk size of containers.

May I know if Al

[2019-04-30 01:45] CodeJuan opened #2817 "[bug]Failed to run a container with empty label"
### Ⅰ. Issue Description
[code]

### Ⅱ. Describe what happened
[code]

### Ⅲ. Describe what you expected to happen
Create a label k, the value of k is `""`

### Ⅳ. How to reproduce it (as minimally and precisely as possible)
[code]
### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
[code]
- OS (e.g. from /etc/os-release):
[code]
- Kernel (e.g. `uname

[2019-04-30 02:14] Flsorescence commented on #2817
I will try to solve this issue.

[2019-05-02 02:15] #2815 closed

[2019-05-02 10:26] githublaohu commented on #2808
好的，谢谢。进入一个开源项目需要一定的时间，需要一点时间了解开发流程，pr流程。我先把开发环境先搭建起来哈。

[2019-05-02 10:26] #2808 closed

[2019-05-03 07:24] pouchrobot opened #2826 "WeeklyReport of PouchContainer from 2019-04-26 to 2019-05-03"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-05-05 05:50] CodeJuan opened #2827 "[bug] cli compatibility between Pouch and Docker"
### Ⅰ. Issue Description

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-05-05 10:00] weekly-digest[bot] opened #2828 "Weekly Digest (28 April, 2019 - 5 May, 2019)"
Here's the **Weekly Digest** for [*alibaba/pouch*](https://github.com/alibaba/pouch):

 - - -
# ISSUES
Last week 12 issues were created.
Of these, 6 issues have been closed and 6 issues are still open.
## OPEN ISSUES
:green_heart: #2826 [WeeklyReport of PouchContainer from 2019-04-26 to 2019-05-03](https://github.com/alibaba/pouch/issues/2826), by [pouchrobot](https://github.com/pouchrobot)
:green

[2019-05-06 08:42] #2817 closed

[2019-05-07 09:17] #2828 closed

[2019-05-10 01:22] #2826 closed

[2019-05-10 07:24] pouchrobot opened #2833 "WeeklyReport of PouchContainer from 2019-05-03 to 2019-05-10"
# Weekly Report of PouchContainer

This is a weekly report of PouchContainer. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Is

[2019-05-10 08:40] allencloud commented on #2787
Any update on this? @fuweid

[2019-05-10 08:45] allencloud commented on #1713
This has been finished in https://github.com/alibaba/pouch/pull/2725. Closing.

[2019-05-10 08:45] #1713 closed

[2019-05-10 08:53] #1063 closed

[2019-05-10 13:58] #2099 closed

[2019-05-12 10:01] weekly-digest[bot] opened #2834 "Weekly Digest (5 May, 2019 - 12 May, 2019)"
Here's the **Weekly Digest** for [*alibaba/pouch*](https://github.com/alibaba/pouch):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 4 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #2833 [WeeklyReport of PouchContainer from 2019-05-03 to 2019-05-10](https://github.com/alibaba/pouch/issues/2833), by [pouchrobot](https://github.com/pouchrobot)
:green_

[2019-05-13 02:05] #2834 closed

[2019-05-13 02:06] allencloud commented on #2833
Congratulates on being a contributor of Pouch. Wish to get involved widely. Thanks @Flsorescence
🌹

[2019-05-13 02:17] allencloud opened #2835 "2019 Alibaba Summer of Code"
Welcome to the open source world!If you haven't planned how to spend this summer, come to the Alibaba Summer of Code and coding with us! 💻

Alibaba Summer of Code is a global program focused on engaging students directly into open source software development. Under the guidance of the mentor in the Alibaba open source project, students experience the software development in the real world.Alibaba

[2019-05-13 05:22] #2749 closed

[2019-05-13 05:33] hellolijj commented on #2814
Actually, pouch support this feature. it is used like follow command `pouchd --image-proxy=http://proxy.example.com:80/`. obviously, it is unfriendly for non developer.
Docker implements this function by reading the configuration file `/etc/systemd/system/docker.service.d/http-proxy.conf`. Do we need optimize like this ? @allencloud

[2019-05-13 06:00] taoshaoyu commented on #2814
@hellolijj ,Hi, I has tried this function (--image-proxy=http://proxy.example.com:80/) , but it looks that just only support http proxy, not yet support https_proxy ? Is it right ?
Thanks

[2019-05-13 06:19] rudyfly commented on #2789
So, you should reformat your disk with project,quota, this doc maybe helpful for you, https://blog.csdn.net/luckyapple1028/article/details/75754591, also you can see kernel docs.

[2019-05-13 06:26] hellolijj opened #2839 "[feature] pouch cli supports search image"
## Why you need it?

sometimes, i want to search some images  in terminal instead of web.

## How it could be?

[code]
## Other related information

I find `api_images_search` is completed, but cli_image_search is absent.

[2019-05-13 07:12] hellolijj commented on #2773
I think test case is in https://github.com/alibaba/pouch/blob/master/test/cli_run_memory_test.go#L204-L211, right?

[2019-05-13 07:14] #2389 closed

[2019-05-13 07:46] hellolijj commented on #2814
@taoshaoyu  Indeed,  you are right. here https://github.com/alibaba/pouch/blob/master/daemon/mgr/system.go#L150-L151 , we can see https_proxy  value does't be set.

[2019-05-13 08:53] rudyfly opened #2841 "[bug] can not use inspect -f "{{.Id}}" to get container id"
### Ⅰ. Issue Description
can not use `pouch inspect -f "{{.Id}}"` to get container id
use `pouch inspect -f "{{.ID}}"` is ok, so need to fix it.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):

[2019-05-13 11:00] #2787 closed

[2019-05-13 11:36] #2804 closed

[2019-05-14 02:29] sunyuan3 opened #2842 "Need to rebuild pouchcontainer/pouchlinter:v0.1.2 image."
### Ⅰ. Issue Description
Need to rebuild pouchcontainer/pouchlinter:v0.1.2 image, because of [Unauthorized access to Docker Hub database](https://success.docker.com/article/docker-hub-user-notification).

### Ⅱ. Describe what happened
@spiffxp
<img width="707" alt="屏幕快照 2019-05-14 上午10 28 40" src="https://user-images.githubusercontent.com/10508990/57666595-1472fa80-7633-11e9-80f8-57e65ec09f28.png"