[2017-10-24 08:49] sunyuan3 opened #3 "comment on exported type Image should be of the form "Image ...""
cd /go/src/github.com/alibaba/pouch && make check
fmt
lint
apis/types/image_info.go:3:1: comment on exported type Image should be of the form "Image ..." (with optional leading article)
Makefile:36: recipe for target 'lint' failed
make: *** [lint] Error 1

suggestion:
old:// image info
new:// Image info

[2017-10-24 09:27] rudyfly opened #6 "missing .gitignore file"
missing .gitignore file

[2017-10-24 11:38] #6 closed, assigned to nobody

[2017-10-24 12:11] #3 closed, assigned to nobody

[2017-10-24 12:49] allencloud opened #12 "What is the roadmap of Pouch?"
Hi, All,

I think Pouch does need a ROADMAP for the long term. It could help users to understand Pouch much better. In addition, it would guide daily work of the community very well to move closer to the target.

[2017-10-24 12:53] allencloud opened #13 "How to install pouch on various platform or os?"
**Issue Description**
I think currently in the repo there is no installation guidance for pouch on various platform or os.
This is almost a disaster for one software. We are looking forward to having this ASAP.

**Describe what happened**:
No installation doc in repo.

**Describe what you expected to happen**:
There is installation docs in repo.

**How to reproduce it (as minimally and precisely a

[2017-10-24 17:49] allencloud opened #14 "How to support runv in Pouch?"
**Issue Description**
I wish to support runv in Pouch, while I have no guidance about this.

**Describe what happened**:

**Describe what you expected to happen**:
I wish to support runv in Pouch, while I have no guidance about this.

**How to reproduce it (as minimally and precisely as possible)**:
NONE

**Anything else we need to know?**:
NONE

**Environment**:
- pouch version (use `pouch versio

[2017-10-25 12:57] allencloud opened #16 "[feature-request] Support Prometheus in Pouch"
**Issue Description**
[Prometheus](https://prometheus.io/) has been very popular in the container ecosystem. And it is also a project in [cncf](https://cncf.io).
We have a feature request to support Prometheus in native Pouch.

**Describe what happened**:
Support Prometheus in native Pouch

**Describe what you expected to happen**:
Support Prometheus in native Pouch

**How to reproduce it (as mini

[2017-10-30 09:00] Letty5411 opened #22 "Add pouch/client package"
**Issue Description**
Add a client package to encapsulate client related functions.

**Describe what happened**:
When I want to communicate with pouch daemon, I hope there is a client package, which provides functions that can make it easy to build a client within several code lines.

**Describe what you expected to happen**:
sth like docker client package

[2017-10-30 16:26] allencloud opened #24 "[feature-request] TLS support between client and daemon in Pouch"
**Issue Description**
Currently pouch has not supported TLS, so there are threats when daemon exposes some port. Some potential hackers could connect the port remotely to influence the daemon.

**Describe what happened**:
Security issues may exist.

**Describe what you expected to happen**:
We can support TLS between client and daemon in Pouch.

**How to reproduce it (as minimally and precisely as

[2017-10-30 16:40] allencloud opened #25 "Rich container implementation"
**Issue Description**
Rich container is a very valuable feature of container technology. With the popular docker's concept, we should always run a single process or application in one single container. It seems to simplify process management in container. However it would affect application itself. This would be somewhat invasive to application which is definitely not a good way.

While rich conta

[2017-10-31 04:00] rudyfly opened #27 "merge volume metadata store into meta module"
**Issue Description**
volume metadata store is different from container store, we should merge them into one module.

[2017-11-01 05:33] allencloud opened #32 "[Proposal] More details in HTTP response status code"
**Issue Description**
I found that in current implementation when daemon succeeds in handling request, it returns StatusOK, otherwise a StatusInternalServerError returned.

I think this is OK, but not so sufficient. HTTP status code can tell user what happened exactly in the daemon side. For example, 200 OK, 201 Created, 401 Bad Request, 404 Not Found, and so on...

So I wish we could do more spec

[2017-11-01 09:32] Ace-Tang opened #38 "pouch run with docker image"
containerd manage its own images
[code]

since docker manages its images
[code]

should we make pouch run with docker image.

tell me if I miss something, thanks

[2017-11-03 02:15] allencloud opened #42 "[doc request] Command Line needs document to guide users"
**Issue Description**
Currently we have implemented many cli commands in Pouch, While we have not finished the documentation work. Here I list the command line we have finished:

- [ ] pouch create
- [ ] pouch start
- [ ] pouch stop
- [ ] pouch version
- [ ] pouch info
- [ ] pouch volume create
- [ ] pouch volume rm
- [ ] pouch pull

I think document is as important as the code for this project. I

[2017-11-03 06:57] allencloud opened #43 "[feature request] support `pouchd --version` command line"
**Issue Description**
Currently I failed to execute `pouchd --version` with error message:
[code]

We still missing this part.

**Describe what happened**:
failed to execute `pouchd --version`

**Describe what you expected to happen**:
`pouchd --version` works to return version info of pouchd

**How to reproduce it (as minimally and precisely as possible)**:
1. install pouch
2. execute `pouchd ver

[2017-11-03 07:57] rudyfly opened #44 "volume metadata path is not existed"
**Issue Description**
If volume metadata path is not existed, start pouchd cause this error: open /etc/pouchd/volume/volume.db: no such file or directory

[2017-11-03 07:58] allencloud opened #45 "[bug] failed to start Pouch Daemon"
**Issue Description**

When I run Pouch Daemon on linux machine, I ran into such as a situation:
[code]

It seems that the inner config to setup between pouchd and containerd causes this error.
In addition, I was confused that when pouch daemon met an error, it would throw out the following things:

[code]

**Describe what happened**:
Pouchd failed to start up.

**Describe what you expected to hap

[2017-11-03 10:09] allencloud opened #47 "New an issue for test pouchrobot"
**Issue Description**

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-11-03 10:10] #47 closed, assigned to nobody

[2017-11-03 23:13] #44 closed, assigned to rudyfly

[2017-11-06 10:51] sunyuan3 opened #50 "[test] pouch testing subtasks"
**Issue Description**
This issue is to track the progress of pouch testing tasks.
- [x] pouch installation testing script in local environment: https://github.com/alibaba/pouch/pull/86
- [x] pouch installation testing in CI: https://github.com/alibaba/pouch/pull/86
- [x] pouch integration testing framework:https://github.com/alibaba/pouch/pull/98
- [ ] performance testing(pouch vs docker)
- [x] Ad

[2017-11-07 08:40] #22 closed, assigned to Ace-Tang

[2017-11-08 03:35] #24 closed, assigned to yyb196

[2017-11-08 07:37] allencloud opened #62 "[feature request] support context in client package between client and daemon side"
**Issue Description**

Currently, I found that in package client there is no context guaranteed. So if some special config in client side cannot be transferred to daemon side beyond RESTful APIs. In addition, context binding can make daemon side know the interrupt of client side. For example, within a time-costing request from client to daemon, if user interrupt this request in client side, the be

[2017-11-08 07:57] allencloud opened #63 "[bugfix] add `make build` in travisCI in test"
**Issue Description**
Currently we do not execute `make build` in travisCI, so if the commit user put forward cannot be compiled, the CI will not report this compile error.

Need to add this part.

**Describe what happened**:
Code error will not throw compile error

**Describe what you expected to happen**:
Code error would throw out compile error

**How to reproduce it (as minimally and precisely

[2017-11-08 09:47] #63 closed, assigned to nobody

[2017-11-08 09:51] allencloud opened #67 "[feature request] support Installing pouch on various distributions"
**Issue Description**
support Installing pouch on various distributions

**Describe what happened**:
NONE

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
NONE

**Anything else we need to know?**:
NONE

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
-

[2017-11-08 11:45] #45 closed, assigned to skoowoo

[2017-11-09 03:16] zhubingbing opened #73 "make build error"
**Issue Description**
make build failed in pouch

**Describe what happened**:
root@4168f68aa40c:~/pouch# make build
GOOS=linux go build -o pouchd
main.go:10:2: cannot find package "github.com/alibaba/pouch/daemon" in any of:
	/usr/local/go/src/github.com/alibaba/pouch/daemon (from $GOROOT)
	/src/github.com/alibaba/pouch/daemon (from $GOPATH)
main.go:11:2: cannot find package "github.com/alibaba/po

[2017-11-09 03:41] sunyuan3 opened #74 "[bug report] Docker image is not supported in pouch."
**Issue Description**
[bug report] Docker image is not supported in pouch.

**Describe what happened**:
Failed to start a container created by a docker image.

**Describe what you expected to happen**:
Succeed to start a container created by a docker image.

**How to reproduce it (as minimally and precisely as possible)**:
1. Install a ubuntu 14.04.5 host.
2.Install containerd.
wget https://github

[2017-11-09 06:02] #73 closed, assigned to nobody

[2017-11-09 07:04] allencloud opened #76 "[bug report] /images/json API isn't compatible with Moby"
**Issue Description**
In the existing API of Pouch, /images/json API isn't compatible with Moby.
File https://github.com/alibaba/pouch/blob/master/apis/types/image_info.go is redundant, and should use https://github.com/alibaba/pouch/blob/master/apis/types/image_summary.go.

Pouch used containerd 1.0.0, and image details are from containerd side. https://github.com/alibaba/pouch/blob/master/apis/t

[2017-11-10 04:43] yyb196 opened #80 "[bug report]pouch client doesn't use tcp connection"
**Issue Description**
when i run pouch client with flag -H tcp://127.0.0.1:5678, it actually connect pouchd via unix socket instead of using tcp address.

**Describe what happened**:

**Describe what you expected to happen**:
connect pouchd via tcp connection and because the tcp address i specified isn't correct, it should complaint about connect refused error.

**How to reproduce it (as minimally

[2017-11-13 01:35] #74 closed, assigned to skoowoo, Ace-Tang

[2017-11-13 04:02] Letty5411 opened #88 "[feature request] need CMD "pouch rm [-f]""
**Issue Description**
Need to add CMD: pouch rm [-f]

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-11-14 02:47] #80 closed, assigned to Ace-Tang

[2017-11-14 03:21] elianka opened #93 "[bug report] pouch pull failed"
**Issue Description**
is pouch pull function fully completed? and is there any doc about pouch usage?
i got failed when using pouch pull.

**Describe what happened**:
1. i just use pouch pull nginx, and return an error.
![image](https://user-images.githubusercontent.com/4158830/32761048-eba72f3e-c8b6-11e7-8ec8-58a957f6ee39.png)
2. i use the image from alibaba to do pouch pull, also got error.

![i

[2017-11-14 06:13] allencloud opened #95 "[proposal] More detailed Architecture design on github"
**Issue Description**

There should be a page on github about detailed architecture design. It should express exactly the following thing in the architecture.

1. The overall architecture of Pouch
2. relationship between k8s and pouch
3. relationship between pouch and containerd
4. the plugin policy in Pouch
5. the control plane and data plane of container management.
6. the components in Pouch.

[2017-11-14 10:11] Letty5411 opened #96 "[bug] pouch create should check the valid of image"
**Issue Description**
When create a container using "pouch create", it should check if the image specified existed.
If not, an error is expected.

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
#./pouch images
IMAGE ID             IMAGE NAME                                               SIZE
68effe31a4ae

[2017-11-14 10:36] Letty5411 opened #97 "[bug] pouch stop print ERRO msg"
**Issue Description**
CMD "pouch stop $container", prints ERRO msg as following:
[code]

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install

[2017-11-14 16:59] allencloud opened #101 "[feature request] implement disk quota in pouch"
**Issue Description**

Disk quota is really important in container ecosystem. Without disk quota, container service can not guarantee the multi-tenant. A container created on host will violate the other user's disk usage which seems totally unreasonable.

As a result, disk quota is really important in container technology, we had better to implement disk quota in pouch.

[2017-11-14 17:32] allencloud opened #103 "[doc request] how to integrate pouch with dragonfly"
**Issue Description**

[Dragonfly](https://github.com/alibaba/dragonfly) is a useful P2P container image distribution software tool which fits for very large size of cluster, maybe 2000+ node.

We need document to guide us:

* how to integrate pouch with dragonfly;
* then how to use them.
* performance test result if there is.

[2017-11-15 09:31] Letty5411 opened #105 "[bug] pouch CMD should return non-zero for wrong options."
**Issue Description**

**Describe what happened**:
For invalid CMD options, pouch should return non-zero exited code instead of 1.
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`

[2017-11-15 09:34] #42 closed, assigned to nobody

[2017-11-15 12:49] #105 closed, assigned to allencloud

[2017-11-16 05:42] allencloud opened #110 "[feature request] move API struct generated by swagger to independant directories"
**Issue Description**

Currently pouch uses swagger to generate API structs, and this way indeed helps this project a lot.
While now the API structs are all in one directory `apis/types`, which seems to be a little bit messy. Swagger will definitely grow rapidly when the developing work goes on, so that the struct files organization will become much more weird and uncomfortable. There is the curre

[2017-11-16 07:46] allencloud opened #112 "[bug] exit code are not non-zero when executing `pouchd asafgh`"
**Issue Description**

When I execute a `pouchd sfghj` command which is definitely oncorrect, we should return a non-zero exit code.

In addition, when pouchd returns an error, the log message will show the pouchd cli usage which seems to be unreasonable, we need to remove that.

**Describe what happened**:

[code]

You see a unknown executing command, start to executing daemon which is unreasonab

[2017-11-17 07:06] allencloud opened #118 "[bug] golang version 1.8.3 needs updated in .travis.yml"
**Issue Description**
We have decided to use golang 1.9.1 instead of 1.8.3. We have updated this version in https://github.com/alibaba/pouch/pull/86 for Dockerfile.

And we need to update .travis.yml:
[code]

Please help to fix up to keep consistent. Thanks a lot.

/cc @sunyuan3

[2017-11-19 03:46] gaocegege opened #120 "[docs] Missed Usage and System Design Documentation in README"
**Issue Description**

Missed Usage and System Design Documentation in README

**Describe what happened**:

https://github.com/alibaba/pouch/blame/master/README.md#L15

**Describe what you expected to happen**:

Add the corresponding documents.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2017-11-19 03:48] gaocegege commented on #120
PTAL @pouchrobot

[2017-11-19 05:36] gaocegege commented on #118
Could I work on this issue?

[2017-11-19 06:00] gaocegege opened #122 "Question about the Additional Feature of Pouch: Strong Isolation"
**Issue Description**

There is one additional feature of Pouch in the faq.md:

AFAIK, runV(with Frakti) and clear containers are OCI-compatible and CRI-O-compatible, then they could work seamlessly with both Docker and Kubernetes.

Then why does Pouch list it as a additional feature compared to Docker? Or is it a comparison between Pouch and native Docker without runV/clearcontainers?

I'd apprec

[2017-11-19 09:18] gaocegege opened #123 "Question about the images in pouch"
**Issue Description**

Tried to run `pouch pull` to pull images just like docker does but failed.

**Describe what happened**:

Run `pouch pull hello-world:latest` but failed to get the image. I dived into the code and found that pouch will parse the URL `dummy://hello-world:latest` and get the object from the URL. I am not sure what `dummy://` is, and it seems that we can not use pouch like docke

[2017-11-19 10:25] allencloud commented on #120
Thanks for your issue. @gaocegege
Yeah, what you mentioned is totally right. Actually this is covered in pr https://github.com/alibaba/pouch/pull/108.

[2017-11-19 10:33] allencloud commented on #118
Yes, of course. It could not be better. @gaocegege

[2017-11-19 12:29] gaocegege commented on #118
#dibs

I have filed a PR #121 for this issue. But this repository is not activated in Travis CI: https://travis-ci.org/alibaba/pouch.

Or it may be activated in Travis CI private service travis-ci.com, not the public service travis-ci.org, since pouch was a private repository before.

Could you activate the repository in https://travis-ci.org/alibaba/pouch?

@allencloud

[2017-11-19 12:59] allencloud commented on #118
Actually, information you provided is really helpful. Now I realized that for private and public repos, they are in different websites. Thanks a lot. We will change this PART.
/cc @sunyuan3 Could you help to confirm and change the service type from private to public.

[2017-11-19 17:07] allencloud commented on #118
@sunyuan3
Sorry for bothering. Could you improve this issue's priority.
Actually I need this service type change very urgent.
Since I finished pouch_robot's integration with travis webhook and pouch_robot could automatically report CI failure to user.

[2017-11-20 02:12] allencloud commented on #27
Since this is a 20-days issue, could you sync with us the latest status of that? @rudyfly

[2017-11-20 02:16] sunyuan3 commented on #118
Nice catch. I have activated travis ci for this public repo.

[2017-11-20 02:20] rudyfly commented on #27
I haven't started this job, can I pause this job?

[2017-11-20 02:27] allencloud opened #124 "[bug] go report tells code needs improvement"
**Issue Description**

In README.md if we click `go report`, we will turn to link https://goreportcard.com/report/github.com/alibaba/pouch

There we found that there are several parts to be improve, such as:

[code]

and

[code]

and

[code]

and so so.

These all needs fixed.

[2017-11-20 02:29] allencloud commented on #120
#108 has been merged.
I think we could close this issue. What do you think of that? @gaocegege
And feel free to tell us if you meet any problem. Thanks a lot.

[2017-11-20 02:29] #120 closed

[2017-11-20 02:40] allencloud commented on #124
Could you help to solve this for project? @Letty5411

[2017-11-20 02:49] allencloud commented on #27
Thanks for feedback. Actually in my opinion, you can leave this issue just there. However maybe if you are current not on this part, you could sync with others on github under this issue, then more people know that this work may not be in your working queue currently. And it will improve a little bit in project management.  @rudyfly

[2017-11-20 02:55] #118 closed

[2017-11-20 03:19] allencloud commented on #122
What you said is right. This strong isolation will rely on runV/clearcontainer, but beyond runV/clearcontainer. From my point of view, runv/clearcontainer did a lot of great work on integration qemu and minikernel and images. We take advantages of that functionality. However in underlying implementation, we differentiate in many ways. For with more light-weighted hypervisor to skip bios or UEFI. A

[2017-11-20 03:46] gaocegege commented on #122
Thanks for your explanation, I will take a look at the code :=)

[2017-11-20 03:46] #122 closed

[2017-11-20 03:59] allencloud commented on #122
We will add this part soon.

[2017-11-20 04:02] CodeJuan opened #125 "[bug]The swagger spec at "swagger.yml" is invalid against swagger specification 2.0"
**Issue Description**
[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[2017-11-20 04:03] allencloud commented on #125
I think we need add this part `swagger validate` into makefile or integrate in CI. @sunyuan3 @Letty5411 WDYT?

[2017-11-20 04:03] gaocegege commented on #122
Looking forward to it :)

[2017-11-20 05:04] CodeJuan commented on #125
@allencloud OK.

[2017-11-20 05:45] allencloud commented on #125
Yes, makefile is better, since makefile can exist in user's own environment.

[2017-11-20 05:46] Letty5411 commented on #124
OK

[2017-11-20 06:48] sunyuan3 commented on #125
Yes, I agree with you.

[2017-11-20 07:34] Letty5411 opened #128 "[bug] usage of "pouch volume create" is not right"
**Issue Description**
The usage of "pouch volume create" is incorrect.

**Describe what happened**:
[code]
**Describe what you expected to happen**:
According to the usage, the following CMD should succeed:
[code]
But "--name" is required:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `p

[2017-11-20 07:50] Letty5411 opened #129 "[bug] usage of "pouch volume rm" should be changed"
**Issue Description**
The usage of pouch volume remove is as following:
[code]
According to this usage, [volume] is not mandatory，but actually it is.
The usage could be changed to：
[code]
**Describe what happened**:

**Describe what you expected to happen**:
Usage format could refer to this:
https://stackoverflow.com/questions/9725675/is-there-a-standard-format-for-command-line-shell-help-text

**

[2017-11-20 07:51] #125 closed

[2017-11-20 07:52] Letty5411 commented on #128
@rudyfly

[2017-11-20 07:55] allencloud commented on #129
I totally agree with you. And we need more general usage for command line indeed.
This change needs to apply to all commands, not only volume command. Although this part of work seems not heavy, but important instead. I recommend you would help this? @Letty5411 🎏

[2017-11-20 08:28] allencloud commented on #16
I think this could be closed, since @WIZARD-CXY has put forward pr and docs.

[2017-11-20 08:28] #16 closed

[2017-11-20 10:53] HusterWan commented on #123
also countered this problem， @gaocegege you should pull docker images like:
pouch pull docker.io/library/hello-world:latest
pouch set default registry address: docker.io， but likely not worked

[2017-11-20 11:57] allencloud commented on #123
We will improve this part asap. This is a known insufficient.

[2017-11-20 12:30] HusterWan commented on #123
there also has a bug: client decode failed, because server return 200 ( should 500)
resp.WriteHeader(http.StatusInternalServerError) // this code does not worked
may i can fix this problem for you @allencloud

[2017-11-20 12:57] allencloud commented on #123
It couldn't be better. Just submit PR and enjoy hacking. @HusterWan 👍

[2017-11-20 13:02] Letty5411 commented on #129
@allencloud OK, np.

[2017-11-20 13:26] gaocegege commented on #123
@houqianming Thanks for your information

[2017-11-20 13:37] allencloud commented on #124
I reassigned this issue to @zhubingbing , and maybe bingbing can help. @Letty5411

[2017-11-20 14:55] #27 closed

[2017-11-21 02:09] #112 closed

[2017-11-21 05:11] allencloud commented on #101
Is there any possibility to implement this with general quota tools? @rudyfly

[2017-11-21 07:07] allencloud commented on #13
I think this could be closed and user installation will not in the first step.

[2017-11-21 07:07] #13 closed

[2017-11-21 08:43] allencloud opened #137 "[enhancement request] container management needs to polishment"
**Issue Description**

We need to polish container management in pouch, in API side, daemon side, client side, cli side, doc side and test side. Please record in this issue if some parts are finished.

In every aspect, if finished, please add a reference to the corresponding PR.

## container create

- container create
  - [x] API design in swagger:
  - [x] daemon side implement:
  - [x] client si

[2017-11-21 08:59] allencloud opened #138 "[enhancement request] image management implementation"
**Issue Description**

We need to polish image management in pouch, in API side, daemon side, client side, cli side, doc side and test side. Please record in this issue if some parts are finished.

In every aspect, if finished, please add a reference to the corresponding PR.

## image pull

- [x] image pull
  - [x] API design in swagger:
  - [x] daemon side implement:
  - [x] client side implement

[2017-11-21 09:03] allencloud opened #139 "[enhancement request] volume management implementation"
**Issue Description**

We need to polish volume management in pouch, in API side, daemon side, client side, cli side, doc side and test side. Please record in this issue if some parts are finished.

In every aspect, if finished, please add a reference to the corresponding PR.

## plugin developer guidance

- [] document: volume plugin developer guidance

## volume create

- volume create
  - [x] A

[2017-11-21 09:18] allencloud opened #140 "[feature request] support lxcfs in pouch to improve isolation"
**Issue Description**

[LXCFS](https://github.com/lxc/lxcfs) is a small FUSE filesystem written with the intention of making Linux containers feel more like a virtual machine.

Pouch takes lxcfs support as a high priority.

We need to add these things in pouch with lxcfs:

- [ ] Design document of pouch and lxcfs;
- [ ] API integration in Pouch via lxcfs;
- [ ] daemon side implementation
- [ ] tes

[2017-11-21 09:28] zhubingbing commented on #124
1. Issue  Description
[code]
i think fmt.Sprintf formate don’t have  “r”  parameter, so go vet report this issue.
if  an operand implements the Formatter interface, it will be invoked. Formatter provides fine control of formatting.（https://golang.org/pkg/fmt/#Fprintf）
 and bar.go(https://github.com/containerd/containerd/blob/master/progress/bar.go#L21) to realize  formatter interface. so i thinks

[2017-11-21 09:49] allencloud commented on #124
Actually with my own `go vet` on my local machine, it will report no error:
[code]

So maybe we can ignore this, and please move on on your work. @zhubingbing
Thanks a lot.

[2017-11-21 09:51] #128 closed

[2017-11-21 09:51] #129 closed

[2017-11-21 10:10] allencloud opened #142 "[feature request] enhance multiple OCI runtimes support"
**Issue Description**

Currently, pouch relies on containerd to implement raw container management. And containerd could call OCI-compatible runtime to execute container or hypervisore-based containers.

To support multiple runtimes, besides runC, runtime list should also include:

- [ ] runV:
  - [ ] User Guidance of How to integrate:
  - [ ] Test
- [ ] Clear Container:
  - [ ] User Guidance of H

[2017-11-21 15:48] #124 closed

[2017-11-22 03:00] #12 closed

[2017-11-23 09:03] shenlanse opened #151 "[help wanted] or [doc request] How to run a container successfully from the begining?"
**Issue Description**

Being Interested in this project, but many important docs are absent, maybe it's in progress.

What I want  is an operation guide. For example, I failed to pull images with pouch cli, but I don't know the reason and how to deal with it:

[code]

Log:

[code]

**Is it compatible with docker registry?**

[2017-11-23 09:08] shenlanse commented on #151
duplicate #123  close it.

[2017-11-23 10:57] shenlanse commented on #151
It seems don't support pull images from other registry

[2017-11-23 10:59] shenlanse commented on #151
[code]

User Guide is necessary.

[2017-11-23 16:56] allencloud commented on #151
@shenlanse Thanks a lot for your feedback. This issue is really important.
And fixing this issue in our scope. We plan fix this before this weekend.
And we will let you know if we have any progress. If fixed, we sincerely invite you to test and have this feature.

[2017-11-23 16:57] allencloud commented on #140
Any update with this, maybe you could make a plan to attach your thought under this issue. Thanks @CodeJuan

[2017-11-23 17:00] allencloud commented on #151
After thinking for a while, I think it is necessary for all pouch members to know this staff. Promote this issue to priority/P0.

[2017-11-24 01:43] skoo87 commented on #151
Please try: pouch create docker.io/library/nginx:alpine ,  Now the Image ID is not supported. @shenlanse

[2017-11-24 02:12] shenlanse commented on #151
@skoo87 @allencloud  Works fine. Thanks.

[2017-11-24 09:16] skoo87 commented on #123
failed to decode: invalid character 'i' in literal false (expecting 'l')  <=====  The reason may be that the server side(pouchd) closed the connection, not http status code. The CLI read data from the tcp connection and decode them with json format, but not handle the error when connection closed. @HusterWan Welcome to post a PR to fix it, thanks.

[2017-11-24 11:59] ZeroMagic commented on #151
Maybe there is a bug when I stop the container.

It shows that I failed to stop container,  but the container has been stopped successfully.
[code]

[2017-11-24 13:00] HusterWan commented on #123
@skoo87 i am working on it, the problem maybe more complicated,  golang ResponseWriter  allow call WriteHeader  only once, so if the server(pouchd)'s goroutine call ResponseWriter.Writer once when pull image, the http code will be set 200, and later call resp.WriteHeader(http.StatusInternalServerError) will not work .
https://golang.org/pkg/net/http/#ResponseWriter

so i am thinking maybe we can n

[2017-11-24 13:03] ZeroMagic opened #157 "[help wanted]How to successfully get a full list of prometheus-formatted metrics"
**Issue Description**
https://github.com/alibaba/pouch/blob/master/docs/pouch_with_prometheus.md#how-to-use
When I use the above way, I think the default port is 4243,  but after running pouchd the port 4243 isn't being used.

Then I search the way to run pouchd with the specific port. Nothing gained.

I can't find the command line flags to specify port.

And no configuration files to change port.

[2017-11-24 14:33] CodeJuan commented on #140
According to the issue from lxcfs [Anyone think about the problem of restart the lxcfs.service](https://github.com/lxc/lxcfs/issues/193), when lxcfs stopped(or crashed) and restarted, it would be unmounted in the process and caused `Transport endpoint is not connected`. So we should monitor the lxcfs mount/umount event, and exec mount command in container.

[2017-11-25 03:35] skoo87 commented on #151
Thanks for your report, I will try to reproduce the problem and fix it. @ZeroMagic

[2017-11-25 05:50] WIZARD-CXY commented on #157
You can use ```pouchd -l tcp://0.0.0.0:4243```. I know our doc may be not enough, feel free to add it in the doc.

[2017-11-25 08:01] ZeroMagic commented on #157
@WIZARD-CXY  Works fine. Thanks.

[2017-11-25 08:01] #157 closed

[2017-11-25 08:55] WIZARD-CXY commented on #157
Glad I can help

[2017-11-27 01:28] justicezyx opened #162 "Pouch introduction page needs revision for better readability"
**Issue Description**
The introduction page needs several minor revisions to better express the project’s definition, objectives, benefits, and technical approach.

**Describe what happened**:
The page has several imprecise descriptions and ambiguous statements regarding the project.

**Describe what you expected to happen**:
An overhaul of the introduction.

**How to reproduce it (as minimally an

[2017-11-27 01:29] justicezyx commented on #162
I can produce a pull request, could the maintainer assign this issue to me please?

Thanks!

[2017-11-27 02:08] allencloud commented on #162
Yes, off course. You can attach a comment `#dibs` to assign yourself to this issue. Because @pouchrobot will detect this and assign that to you. Just have a try and enjoy hacking.

[2017-11-27 02:22] HusterWan commented on #123
@allencloud @skoo87 i create a pr to fix this problem, please review https://github.com/alibaba/pouch/pull/160 , if there is any problem, you can ping me any time. 3x

[2017-11-28 03:54] caihexin opened #168 "How to use pouch client , cmd little"
??

1. How to delete the container
# pouch ps
Name     ID       Status    Image
9708c3   9708c3   Running   docker.io/library/busybox:latest
c21b68   c21b68   Running   docker.io/library/nginx:alpine
d4c29b   d4c29b   Created   bbc3a0323522

2. How to use the running container without seeing CMD

[2017-11-28 05:56] #32 closed

[2017-11-28 06:19] CodeJuan commented on #140
I found a non-intrusive method to integrate lxcfs with Pouch.
1. Bind the path of lxcfs and the **/proc** to container, `-v /var/lib/lxc/:/var/lib/lxc/:shared  -v /var/lib/lxc/lxcfs/proc/uptime:/proc/uptime -v /var/lib/lxc/lxcfs/proc/swaps:/proc/swaps  -v /var/lib/lxc/lxcfs/proc/stat:/proc/stat  -v /var/lib/lxc/lxcfs/proc/diskstats:/proc/diskstats -v /var/lib/lxc/lxcfs/proc/meminfo:/proc/meminfo -

[2017-11-28 07:41] #123 closed

[2017-11-28 08:41] qingyunha opened #172 "move homedir to /var/lib/pouch"
**Issue Description**
The default homedir is `/etc/pouch`.   I think  `/var/lib/pouch` is more reasonable.

[2017-11-28 09:14] allencloud commented on #172
ping @skoo87 @yyb196
I agree with @qingyunha
/etc is usually used to store configuration things in Unix.

[2017-11-28 10:11] CodeJuan opened #174 "[feature request]Need `inspect` command to get the detailed information of container"
**Issue Description**
We need `inspect` command to get the detailed information of container

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- I

[2017-11-28 11:48] allencloud opened #175 "[bug report] `create --name foo busybox:latest` does not create a container named `foo`"
**Issue Description**

I wish to create a container which is named by foo, but the output makes me confused. Its name is 241c50, then where is foo?

[code]

**Describe what happened**:
`create --name foo busybox:latest` does not create a container named `foo`

**Describe what you expected to happen**:
`create --name foo busybox:latest`  creates a container named `foo`

**How to reproduce it (as mi

[2017-11-28 15:38] allencloud commented on #140
I am wondering what is the kernel version requirement of lxcfs.
If you know that, could you update you comment with adding  kernel requirement?
Thanks @CodeJuan

[2017-11-29 03:44] CodeJuan commented on #174
#dibs

[2017-11-29 03:49] #175 closed

[2017-11-29 03:50] #172 closed

[2017-11-29 03:55] skoo87 commented on #168
the delete command is developing, Now there are some commands that not supported, We will add them as soon as possible.

[2017-11-29 04:39] caihexin commented on #168
thank

[2017-11-29 04:39] #168 closed

[2017-11-29 06:05] allencloud opened #181 "[Summary] kernel requirement of all components in Pouch"
**Issue Description**

We know that Pouch is composed of many different component to provide service. While to make it more clear for users to get a try, I think we should first be clear and summary of kernel requirement of all component in Pouch.

I list all these parts and please fill the content according to your knowing (just edit the issue directly):

## Pouchd @allencloud

The lowesr kernel

[2017-11-29 06:39] Ace-Tang commented on #181
containerd fails to run on kernel 2.6, and they will declare that they only support kernel >= 3.10
[https://github.com/containerd/containerd/issues/1827](url)

[2017-11-29 11:33] cai980273879 opened #185 "How can I pull an images or Run a container?"
[root@VM_58_62_centos ~]# pouch pull centos
centos:latest: resolving      |--------------------------------------|
elapsed: 0.0 s total:   0.0 B (0.0 B/s)
failed to pull image: object required
[root@VM_58_62_centos ~]#

Because I failed to pull an images.I wandered how can i search for an images such as centos7 or ubuntu.
And the documents about the pouch-cli is null.So can guys help me to figure

[2017-11-29 11:42] cai980273879 commented on #185
I figured out this problem by the https://github.com/alibaba/pouch/issues/123 . Duplicate #123 close it.
Sucessfully pull an images with the registry docker.io.
[root@VM_58_62_centos ~]# pouch pull docker.io/library/hello-world:latest
docker.io/library/hello-world:latest:                                             resolved       |++++++++++++++++++++++++++++++++++++++|
index-sha256:be0cd392e45be7

[2017-11-29 11:59] cai980273879 opened #187 "How to Run a container with Pouch ?"
[root@VM_58_62_centos ~]# pouch images
IMAGE ID             IMAGE NAME                                               SIZE
be0cd392e45b         docker.io/library/hello-world:latest                     3074
f1ca87d9adb6         docker.io/library/nginx:alpine                           434
[root@VM_58_62_centos ~]# pouch create docker.io/library/nginx:alpine
container ID: 546d3d323c442dc637581441449d3

[2017-11-29 12:34] cai980273879 commented on #187
HA~HA~ I figure out this problems by add the runc.I made a mistakes by moving the runc to another path.
So i take the runc in correct way that now i can run the container perfectly.
[root@VM_58_62_centos ~]# pouch ps
Name     ID       Status    Image
546d3d   546d3d   Created   docker.io/library/nginx:alpine
[root@VM_58_62_centos ~]# pouch start 546

Thank you to  @allencloud .
The Documents is im

[2017-11-29 12:36] cai980273879 commented on #187
By now I met a problems that I can't exec to my container.

[root@VM_58_62_centos ~]# pouch exec help
Error: requires at least 2 arg(s), only received 1
requires at least 2 arg(s), only received 1
[root@VM_58_62_centos ~]# pouch exec 546 /bin/bash
^C
[root@VM_58_62_centos ~]# pouch exec -it 546 /bin/bash

the Output is null.What the error happened to me?@allencloud .

[2017-11-29 12:46] allencloud commented on #185
Thanks for your feedback. And we will support pulling images without specify registry address. And we will make user have ability to config default registry.
Please wait a moment for this feature. Thanks again and closing this. @cai980273879

[2017-11-29 12:46] #185 closed

[2017-11-29 12:52] allencloud commented on #187
I would like to cc @skoo87 to take a look at this.

[2017-11-29 14:16] zeppp opened #189 "[bug report]''pouch images -q ''shows wrong information"
**Issue Description**
i want to use `pouch images -q` to show only image **numeric ID**,but it  shows only image **name**.
**Describe what happened**:
[code]
**Describe what you expected to happen**:
show only image **numeric ID**
**How to reproduce it (as minimally and precisely as possible)**:
`pouch images -q`
**Anything else we need to know?**:
None
**Environment**:
- pouch version (use `pouch

[2017-11-29 14:30] Letty5411 opened #190 "[bug] pouch images "" return err"
**Issue Description**
The following CMD should not return error:
[code]
**Describe what happened**:
[code]
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:
The same issue for CMD: ps ,
**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `una

[2017-11-29 16:13] allencloud commented on #190
Why `pouch images ""` should not return error?
Could you add more explanation here? @Letty5411

[2017-11-29 16:34] allencloud commented on #189
fixed in #191

[2017-11-29 16:34] #189 closed

[2017-11-30 01:39] Letty5411 opened #192 "[bug] CMD "pouch start" can't handle input with space"
**Issue Description**
pouch CMD can't handle name with space
**Describe what happened**:
[code]

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-11-30 02:19] HusterWan opened #193 "[feature request] Need pouch rm ContainerID like docker rm"
**Issue Description**
I test pouch create many times, some failed because i use image id not image name, now i want to clean this container like pouch rm ContainerID

**Describe what happened**:
[code]

i can not clean this container with pouch

**Describe what you expected to happen**:
wish pouch rm cli tool

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything e

[2017-11-30 02:20] allencloud opened #194 "[Bug] command line error appears twice"
**Issue Description**
cli error will appear twice like in issue https://github.com/alibaba/pouch/issues/192:
[code]
This is not reasonable and weird.

**Describe what happened**:
command line error appears twice

**Describe what you expected to happen**:
command line error appears only once

**How to reproduce it (as minimally and precisely as possible)**:
1. run an incorrect command, like `pouch

[2017-11-30 02:39] skoo87 commented on #187
Thanks for your report, when the cmd "/bin/bash" is not found in PATH, there is a error, I will fix it. @cai980273879 ,  In addition, you can try:  pouch exec -ti 546 /bin/sh

[2017-11-30 02:44] allencloud commented on #187
Although we can get the point of this issue, while I still recommend that we could follow the [issue template](https://github.com/alibaba/pouch/blob/master/.github/ISSUE_TEMPLATE.md) to track issues. And this will make issue more readable for everyone, not only team members in Pouch, but  also the community. WDYT? @cai980273879
And feel free to tell us if you need any help. Thanks. 🍻

[2017-11-30 02:48] Letty5411 commented on #190
For example :
[code]

The purpose of the usage is writing a script like follwing:
[code]
args is NULL is a use scenario.

[2017-11-30 02:49] allencloud commented on #38
Any update now? Do we have any progress for this one? @Ace-Tang
Maybe we could update thing in the comment of this issue to sync with everyone. Thanks.

[2017-11-30 08:39] cai980273879 commented on #187
Oh！That it～ I made a stupid mistake：There's only 'sh shell' but no 'bash shell'. No wander I can't execute into my shell.！
Thank you for your guys~ @skoo87 @allencloud
I am Sorry for disturbing you~I will not make a second mistake！Thank you again～

[2017-11-30 09:22] Letty5411 opened #200 "[bug: pouch start] container's state is running after user's program exits"
**Issue Description**
Container's state should be "exited" after finishing user's program.
**Describe what happened**:
[code]
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):

[2017-11-30 10:57] cai980273879 commented on #187
I wrote a guide about the introduction of 'pouch' in Chinese on http://www.jianshu.com/p/3e4ca915b287.
If you have time,I sincerely hope that you will correct me about the guide.@allencloud
Thank you~

[2017-11-30 10:57] #187 closed

[2017-11-30 14:20] CodeJuan commented on #181
lxcfs depends on the kernel module (FUSE), and FUSE was merged into the mainstream Linux kernel tree in kernel version 2.6.14[via WIKI](https://en.wikipedia.org/wiki/Filesystem_in_Userspace).
So lxcfs is compatible with kernel >= 2.6.14

[2017-11-30 14:51] allencloud commented on #76
Any update on this one? @Ace-Tang

[2017-11-30 14:52] allencloud commented on #95
I think this could be closed since #135 has been merged.

[2017-11-30 14:52] #95 closed

[2017-11-30 15:05] gogolxdong opened #202 "[doc] How to use runV?"
**Issue Description**
documents describe how to build runV rather than how to use it.
**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install t

[2017-11-30 15:08] allencloud commented on #202
Thanks for your feedback. @gogolxdong
Yeah, currently we added docs about how to build and install runV.
I would like to ping @Ace-Tang to add this part of runV docs.

[2017-11-30 15:43] allencloud commented on #88
Set this as P0, since lots of people are waiting for this, like https://github.com/alibaba/pouch/pull/203

[2017-12-01 01:23] CodeJuan commented on #140
pseudocode of container_remount_lxcfs.sh
[code]

[2017-12-01 01:58] #43 closed

[2017-12-01 02:07] #194 closed

[2017-12-01 15:32] wrfly commented on #192
Hello there, I don't think it is a bug, because you quotes the container ID.

I tested it in docker, and the daemon also told me that he doesn't recognize it:
[code]

Besides, if you quotes something, that is something:

[code]

In my opinion, if you trim the whitespace I quoted, that is really a bug.

[2017-12-01 16:02] wrfly commented on #190
Hello letty, well I don't think you should use docker's reaction to test other software, because it's a design rather than a contradistinction.

Any quoted arguments should be treated as a single argument to the program, if you modified the arguments I typed, you break the rule.

For example:
[code]
Just as I said, either `touch`, `ls`, `cd` treated the `""` as its argument, and returns an error i

[2017-12-01 16:10] allencloud commented on #192
Actually, I am on @wrfly 's side this time.
/cc @Letty5411

[2017-12-02 02:29] gogolxdong commented on #202
Does pouch support runV now then how to swtich runc to runv? We need somehow isolation.

[2017-12-02 02:43] Deen12520 opened #205 "CMD "pouch start xxx" return err "no such device: unknown""
**Issue Description**
CMD "pouch start xxx"  doesn't start a container successfully.

**Describe what happened**:

[code]

**Describe what you expected to happen**:
I want to start a container using cmd "pouch start xxx".
**How to reproduce it (as minimally and precisely as possible)**:
1. `pouch start b71269`
2.
3.

**Anything else we need to know?**:
None

**Environment**:
- pouch version (use `

[2017-12-02 03:57] skoo87 commented on #205
maybe a bug in containerd, I will try to reproduce it.  Thanks for report. @Deen12520

[2017-12-02 04:37] Deen12520 commented on #205
Thanks. I'm looking forward to the solusion.

[2017-12-02 08:27] allencloud commented on #202
Yes, of cource. We supported runV now. Actually containerd 0.2.3 has lots of difference from containerd 1.0.0.
Now we support containerd 1.0.0 and in this version we need to change the config file of containerd to switch runtime from runC to runV. In this part, we will finish a document ASAP. @Ace-Tang

In the future, we will make live swicthing runtime realize. And I will let you know once we mak

[2017-12-03 09:17] AlertBear opened #210 "[doc] No "Git Flow" part in CONTRIBUTING.md"
**Issue Description**
"Git Flow" part was mentioned in the guide, but can not be found.

**Describe what happened**:
Please see step 2 under Workspace Preparation
CLONE your own repository to develop locally. Use git clone https://github.com/<your-username>/pouch.git to clone repository to your local machine. Then you can create new branches to finish the change you wish to make. Branch creation s

[2017-12-04 01:09] pouchrobot opened #211 "Weekly Report of Pouch from 2017-11-27 to 2017-12-04"
# Weekly Report in Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   1155 |
| Star      |   1155 |
| Fork      |   188 |

## PR Update

Thanks

[2017-12-04 01:21] WIZARD-CXY commented on #211
interesting robot

[2017-12-04 01:53] pouchrobot opened #212 "Weekly Report of Pouch from 2017-11-27 to 2017-12-04"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   1157 |
| Star      |   1157 |
| Fork      |   188 |

## PR Update

Thanks

[2017-12-04 01:55] allencloud commented on #211
The original @pouchrobot has a bug in generating new contributors list. Currently it is updated, and please go to https://github.com/alibaba/pouch/issues/212 to take a new look. Closing this, Thanks.

[2017-12-04 01:55] #211 closed

[2017-12-04 02:06] HusterWan commented on #212
feel greatly honoured

[2017-12-04 02:47] gogolxdong commented on #202
The default configuration was generated via containerd config default > /etc/containerd/config.toml,
configured as
[plugins.linux]
        runtime = "runv"
        shim_debug = true
pouch create -v /third_party/:/third_party/ -t  docker.io/library/centos:latest
pouch start -i 445129 with no response.

[2017-12-04 03:03] CodeJuan commented on #140
[code]

[2017-12-04 03:11] allencloud commented on #140
Yeah, thanks for your design. In your architecture, I found that you enabled this flag in pouchd. If that, I am afraid all containers will be influenced by lxcfs.
I am wondering if we could add the functionality that enable every single container by `pouch create --enable-lxcfs` or something like other?
@CodeJuan

[2017-12-04 03:17] CodeJuan commented on #140
@allencloud Great idea. Please have a look at the updated diagram.

[2017-12-04 06:25] Ace-Tang commented on #142
there is only way to support this if we do not wait for containerd's support, I will maintain a containerd branch with a new feature, and I want to know whether it is worth, @alibaba/pouch

[2017-12-04 06:27] Ace-Tang commented on #142
[https://github.com/containerd/containerd/issues/1625](url)

[2017-12-04 09:06] Letty5411 opened #215 "[enhancement required] add more library functions in test framework"
**Issue Description**
Integration test framework should add more library function to make it easy to add tests.

## library Funtions

- [ ] library function
  - [ ] wrapper for commandline:
    - [] RunCmdBareNeu
    - [] RunCmdPos
    - [] RunCmdNeg
    - [] RunCmdOut
  - [ ] debug info in TearDownTest/TearDownSuite

[2017-12-04 11:37] allencloud opened #216 "[doc request] Automatically generate command line documents"
**Issue Description**

Command line document is really important for users to experience Pouch. From the very beginning, this part is in pouch's essential scope. While coming to reality, we found that maintaining both codes and cli docs at the same time will distract our contribution resources.

Then, we are urgent for pushing an automatically doc generated way. This will save lots of resource in

[2017-12-04 11:54] allencloud commented on #210
Yeah, thanks for your report. @AlertBear
Actually this part is never used, so the `Git Flow` could be removed.
Could you submit a PR to remove this part in the CONTRIBUTING.md?
If you are interested, please feel free to tell us if you have any problem.

[2017-12-04 11:55] allencloud commented on #162
Any update ?
@justicezyx
Feel free to tell us if you need any help.

[2017-12-04 12:13] YaoZengzeng opened #218 "[enhancement request] network management implementation"
**Issue Description**

we need to polish network management in pouch, in API side, daemon side, client side, doc side and test side. Please record in this issue if some parts are finished.

# network create
- [ ]  network create
   - [x]  API design in swagger: https://github.com/alibaba/pouch/pull/311
   - [x]  daemon side implement: https://github.com/alibaba/pouch/pull/311
   - [x]  client side

[2017-12-04 13:20] HusterWan opened #219 "pouch start runv container failed"
**Issue Description**

execute cli command: pouch start CONTAINER_ID
no error print when start return, but the container status is still stopped

**Describe what happened**:

pouch:
[code]
pouchd:
[code]
containerd configuration file:
[code]
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**

[2017-12-04 13:28] HusterWan commented on #219
watch runv execute command:

root     16650  0.3  0.0 350988  8384 pts/8    Sl   19:29   0:00 runv --root /run/containerd/runc/default --log /var/lib/pouch/containerd/state/io.containerd.runtime.v1.linux/default/7d396bc56f795c5b2ac3bc2d745189b66966cd85805ffcde9c956381da5bbe6e/log.json --log-format json create --bundle /var/lib/pouch/containerd/state/io.containerd.runtime.v1.linux/default/7d396bc56

[2017-12-04 13:35] HusterWan commented on #219
maybe we should give a default spec, like this:
{
	"ociVersion": "1.0.0",
	"process": {
		"terminal": true,
		"user": {
			"uid": 0,
			"gid": 0
		},
		"args": [
			"sh"
		],
		"env": [
			"PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin",
			"TERM=xterm"
		],
		"cwd": "/"
	},
	"root": {
		"path": "rootfs",
		"readonly": true
	},
	"hostname": "shell",
	"linux": {
		"resources": {

[2017-12-05 01:34] #216 closed

[2017-12-05 03:17] allencloud commented on #219
What image is the container from? Just get more information.

[2017-12-05 03:20] HusterWan commented on #219
download from docker hub
[code]

[2017-12-05 07:45] allencloud commented on #218
Is there any possible to make tc network bandwidth limit support of Alinet in Pouch's network solution? @yyb196

[2017-12-05 07:47] huchangwei opened #223 "[question] can support mac os?"
**Issue Description**

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-12-05 09:14] huchangwei commented on #223
ok，thanks！

[2017-12-05 09:39] AlertBear commented on #210
@allencloud , Yes, hornored and very glad to, will submit a PR later.

[2017-12-05 10:14] #174 closed

[2017-12-05 11:26] Ace-Tang commented on #202
same error
[code]

working on it

[2017-12-06 04:29] luhaixun opened #233 "[bug] Can't start container but can be inspected"
**Issue Description**
Can't start container although it can be created.

**Describe what happened**:
The new created container can't be started.

**Describe what you expected to happen**:
I want this container can be started successfully.

**How to reproduce it (as minimally and precisely as possible)**:
1. Download image with "pouch pull index.docker.io/chef/chef:latest"
2. Create a container wit

[2017-12-06 04:33] HusterWan commented on #219
hi @allencloud  any progress ?

[2017-12-06 05:38] allencloud commented on #219
https://github.com/alibaba/pouch/issues/202 is related and @Ace-Tang is debugging and fixing this. If you need discussion or have any good idea, please feel free to @ her. 😄
@HusterWan

[2017-12-06 06:35] allencloud commented on #233
Yes, you are totally right. You created container with image `chef index.docker.io/chef/chef` without tag `latest`. However, when starting container, pouchd will search image at first.

It is a bug of pouch currently. Thanks for your feedback. @luhaixun

I think we should use the complete name of image all the time from the first time into Pouchd. While it could provide loose rule for users.

[2017-12-06 09:34] Letty5411 opened #237 "[bug] pouch pull images with wrong tag return 0"
**Issue Description**

**Describe what happened**:
pull images with wrong tag, return 0
[code]

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-12-06 09:43] Letty5411 opened #238 "[feature request] more pouch CMD is required"
**Issue Description**

**Describe what happened**:
As title, more pouch CMDs are required.

  ## pouch attach
  ## pouch attachkvm
  ## pouch build
  ## pouch commit
  ## pouch cp
  ## pouch diff
  ## pouch events
  ## pouch export
  ## pouch history
  ## pouch import
  ## pouch info
  ## pouch kill
  ## pouch load
  ## pouch login
  ## pouch logout
  ## pouch logs
  ## pouch network
  ## pouch pa

[2017-12-06 13:38] HusterWan commented on #237
Yes, i just print error information, and return nil.  i should return error  information when  error occurred.  i will fix this problem soon, thanks @Letty5411

[2017-12-06 15:45] #210 closed

[2017-12-07 00:51] hugesswnn opened #247 "can package oceanbase image?"
Oceanbase deployment is very difficult

[2017-12-07 02:15] #237 closed

[2017-12-07 02:47] luhaixun commented on #233
Thanks God it's a bug rather than by-design. :)

Thanks for your quick response, appreciate!

Thanks,
Tim

[2017-12-07 02:58] Ace-Tang opened #249 "how can I run pouch with command like "echo 1""
can we start container with such command like
[code]
since I found no entry to add cmd with pouch start or pouch create, so I simplely hack in code
[code]

but start container not get result as I expect
[code]

am I something wrong

[2017-12-07 03:07] #151 closed

[2017-12-07 06:02] skoo87 commented on #249
./pouch create registry.hub.docker.com/library/busybox:latest
./pouch start 12345 "/bin/echo 1"

[2017-12-07 06:58] Ace-Tang commented on #202
simple test containerd with runv using this test [code](https://github.com/Ace-Tang/containerd-test/blob/master/run.go) ,  and containerd commit `7e1bc9cb25b6460ed6485901532ae5cbc7cff12c`
 I found that containerd does run runv corrently,
[code]

but pouch still run runv container fails, exit as soon as runv container start, it weird, I will try containerd  with commit in vender.json

can you help

[2017-12-07 09:17] allencloud opened #256 "Following struct files are not from swagger.yml, needs migration into swagger"
**Issue Description**

In Pouch, we use swagger to define API. And use [swagger.yml](https://github.com/alibaba/pouch/blob/master/apis/swagger.yml) to generate all useful API struct.

While currently for some reason, we still have some go files which is hand-written and not auto-generated by swagger. Obviously, to reduce code maintain cost, we will try to migrate this file to swagger. Here I list

[2017-12-07 09:38] HusterWan commented on #202
Maybe spec file has no command,   @Ace-Tang

[2017-12-07 13:35] #200 closed

[2017-12-07 15:16] Starnop opened #259 "The command is unknown with containerd: 1.0.0#236"
**Issue Description**
When I use containerd 1.0.0 as
**Describe what happened**:
When I prepare the pouch environment, I uses containerd: 1.0.0 not containerd for beta, and then pouch images ls is unknown.
**Describe what you expected to happen**:
Use containerd: 1.0.0 not for beta.
**How to reproduce it (as minimally and precisely as possible)**:
1.Prepare the pouch environment with containerd: 1

[2017-12-07 15:39] allencloud commented on #259
I think we did not support `pouch images ls`, looking the code:
[code]
We said NoArgs after images. We know that containerd ctr can be used as `ctr images ls`. However it is not the way of Pouch, at least currently not.

@Starnop

[2017-12-07 15:55] Starnop commented on #259
Oops, and then the pouch/INSTALLATION.md should be alerted around the end of file.

[2017-12-08 01:02] justicezyx commented on #162
I will send out a pull request this Saturday. I will not have time to work on this during work days though. Let me know if that's a problem.

[2017-12-08 01:43] allencloud commented on #259
😭  Oh, Installation.md has things which are incorrect. You got it. Would you like to submit a pull request to change that part? @Starnop

[2017-12-08 01:55] Starnop commented on #259
Of course, my honor

[2017-12-08 02:50] #259 closed

[2017-12-08 03:51] allencloud commented on #247
Have you experienced packaging oceanbase with container tech, like docker?
If the answer is yes, then my answer is yes!

While if you meet any problem, please feel free to tell us. @hugesswnn

[2017-12-08 03:55] allencloud commented on #223
Actually, currently pouch does not support mac os.

[2017-12-08 06:15] 0x04C2 opened #267 "[bug] pouch pull localhost:5000/redis, the tag is 5000/redis"
**Issue Description**
Setup up local registry to test the pouch.
The local registry contains the redis:latest image.

[code]

**Describe what happened**:

The pouch cli can't parse `localhost:5000/redis` correctly. In the pouchd, we got the following message:

[code]

**Describe what you expected to happen**:

`pouch pull localhost:5000/redis` should equal to `pouch pull localhost:5000/redis:lates

[2017-12-08 06:29] wuren1986 opened #268 ""pouch rmi" command not find"
**Issue Description**
"pouch rmi" command not find.
**Describe what happened**:
"pouch rmi" command not find.
**Describe what you expected to happen**:
The command to remove the local images.
**How to reproduce it (as minimally and precisely as possible)**:
None

**Anything else we need to know?**:
None
**Environment**:
- pouch version (use `pouch version`):0.1.0-dev
- OS (e.g. from /etc/os-releas

[2017-12-08 06:37] 0x04C2 commented on #268
hi @wuren1986 , the feature is still under the review #226. please stay tuned. :)

[2017-12-08 06:55] allencloud commented on #268
Yeah, like @0x04C2 mentioned.

[2017-12-08 07:36] #268 closed

[2017-12-08 07:44] allencloud commented on #268
This feature is already in master, please enjoy with that.
And feel free to tell us if you need any help. Thanks for reporting. @wuren1986

[2017-12-08 08:19] CodeJuan opened #269 "[feature request] support Intel RDT"
# Introduction of RDT
Intel Resource Director Technology (RDT) is a key feature set to optimize application performance and enhance the capabilities of orchestration and virtualization management server systems using Intel® Xeon® processors.

RDT consisted of two resource allocation sub-feature:
1. **Cache Allocation Technology (CAT)**. CAT provides software-programmable control over the amount of

[2017-12-09 03:26] allencloud commented on #14
Closing this, since it is tracked in other issues.

[2017-12-09 03:26] #14 closed

[2017-12-09 03:27] allencloud commented on #88
This has been fixed in https://github.com/alibaba/pouch/pull/214
Closing this.

[2017-12-09 03:27] #88 closed

[2017-12-09 03:29] allencloud commented on #97
Can you reproduce this in the newest master branch of Pouch? @Letty5411
If that, we should promote the priority of this.

[2017-12-10 06:35] 0x04C2 opened #276 "[bug] pouch exec [stop/create container] cmd it will be block."
**Issue Description**

The shell will be blocked if try to pouch exec a at stop/create container.

**Describe what happened**:

The process will be blocked.

**Describe what you expected to happen**:

The pouchd should check the state of container and return error if the container isn't running.

**How to reproduce it (as minimally and precisely as possible)**:
1. pouch create --name test registry

[2017-12-11 01:40] pouchrobot opened #279 "Weekly Report of Pouch from 2017-12-04 to 2017-12-11"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   1609 |
| Star      |   1609 |
| Fork      |   271 |

## PR Update

Thanks

[2017-12-11 05:55] #162 closed

[2017-12-11 06:14] #276 closed

[2017-12-11 06:47] allencloud opened #281 "[bug] command help is not so readable"
**Issue Description**

I found that command help is not so readable, like `pouch start --help`:
[code]

I think we need a blank line after the command, and the examples are so unreadable:
[code]

**Describe what happened**:

**Describe what you expected to happen**:
The result should be clear and readable.

**How to reproduce it (as minimally and precisely as possible)**:
1. execute command help f

[2017-12-11 10:35] HusterWan commented on #219
@Ace-Tang i still can not start runv container with pouch,  but i can start runv container with containerd using same docker image. any advice?

[2017-12-11 11:28] allencloud opened #282 "[feature request] run pouchd as a system service"
**Issue Description**

Currently Pouchd is only started manually by `pouchd`.  It cannot be running as a background process like a service on Linux.

[code]

We wish that pouchd could be wrapped as a system service, then there will be less interaction in pouchd management.

**Describe what happened**:
Cannot manage pouchd as a service.

**Describe what you expected to happen**:
[code]

**How to re

[2017-12-11 12:03] janynedoe48 commented on #282
On Dec 11, 2017 3:28 AM, "Allen Sun" <notifications@github.com> wrote:

*Issue Description*

Currently Pouchd is only started manually by pouchd. It cannot be running
as a background process like a service on Linux.

root@ubuntu:~# pouchd
INFO[0000] starting containerd
module=containerd revision=89623f28b87a6004d4b785663257362d1658a729
version=v1.0.0
INFO[0000] setting subreaper...

[2017-12-11 12:04] janynedoe48 commented on #282
Please use [fingerprint=ID]

On Dec 11, 2017 3:28 AM, "Allen Sun" <notifications@github.com> wrote:

[2017-12-11 15:04] ZouRui89 opened #284 "[bug]the pull-image feature does not function well"
**Issue Description**

something wrong with pull-image feature

**Describe what happened**:
[code]
**Describe what you expected to happen**:

pull a image

**How to reproduce it (as minimally and precisely as possible)**:

1.centos7+go1.9.1+containerd+runc
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel

[2017-12-11 15:46] yyb196 commented on #218
@allencloud yes, Alinet is a plugin implementation of libnetwork(cnm)，if pouch's network management base on libnetwork, Alinet will run on it smoothly.  btw bandwidth limitation in Alinet depends on other artifact which isn't open source, so it only can be used in ali company.
I will try to support bandwidth limitation in public version of pouch if tc is installed on host running pouchd, and for t

[2017-12-11 21:14] janynedoe48 commented on #282
Please use plain text in communication with me if possible from this point forward.  I am under the impression that I am going to have to get help in completion of this container.  I am sure I have the info needed to fill in the missing sums.  I need guidance. Hints would be great.  However I could partner and even better somebody with knowledge could assume the rest of the project if there is any

[2017-12-12 01:17] qingyunha commented on #282
A systemd.service unit is required.

[2017-12-12 02:07] #193 closed

[2017-12-12 02:08] HusterWan commented on #193
already fixed: https://github.com/alibaba/pouch/pull/214

[2017-12-12 03:16] #267 closed

[2017-12-12 03:40] Ace-Tang commented on #219
@HusterWan ,please try this, [commit](https://github.com/Ace-Tang/containerd/commit/8cdd9cc94946860d412530c6d372afce9cc46175), only way I found can run pouch with runv,
add this in containerd config.json
[code]
I also have no idea why should change runv root, in my [test code](https://github.com/Ace-Tang/containerd-test/blob/master/run.go), there is no need to do this.

[2017-12-12 04:01] HusterWan commented on #219
still not work in my environment,  i think we should not specify root directory, because runv default root is /run/runv
[code]

[2017-12-12 07:50] allencloud opened #290 "[bug] pouch create return no error when image does not exist"
**Issue Description**
pouch create return no error when image does not exist.

[code]

**Describe what happened**:
pouch create return no error when image does not exist.

**Describe what you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
1. execute `pouch create sdfghjkl`
2.
3.

**Anything else we need to know?**:
NONE

**Environment**:
- pouch ver

[2017-12-12 09:33] #202 closed

[2017-12-12 13:03] zzchun opened #295 "failed to build pouch, container exited"
**Issue Description**
I cloned pouch,  then build it with `./hack/make.sh`, and failed.

**Describe what happened**:

 while `Download and install containerd` ,docker container exited

[code]

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. clone pouch
2. cd pouch/
3. ./hack/make.sh

**Anything else we need to know?**:

**Environment*

[2017-12-12 14:15] HusterWan opened #296 "[compatiblity problem] start pouchd with the newest code failed"
**Issue Description**
[code]
**Describe what happened**:
ContainerInfo.Status is int before, now is string, compatiblity problem

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a

[2017-12-12 16:30] allencloud commented on #296
It is caused by pr https://github.com/alibaba/pouch/pull/286. And the reason and solution are both in comments of it.

[2017-12-12 16:30] allencloud commented on #296
Closing this, and feel free to tell us if we miss something.

[2017-12-12 16:30] #296 closed

[2017-12-12 16:37] allencloud commented on #295
Maybe you should try to remove `--quiet` in `wget --quiet https://github.com/containerd/containerd/releases/download/v1.0.0/containerd-1.0.0.linux-amd64.tar.gz -P $TMP`

Then you can get what happened in the wget procedure. @zzchun

[2017-12-12 17:31] zzchun opened #299 "optimize Dockerfile to reduce build time"
**Issue Description**
I think Dockerfile should be optimized ,there are three reasons:
first, it's unnecessary to install and configure building environments（eg. install go, make, vim）ervrytime, it is a waste of time;
second, Dockerfile can be more simple, should `From` a base image that contains required softs for building pouch;
third , go get will fail because of GFW， which increases difficulty

[2017-12-13 01:32] allencloud commented on #299
I think go and make are essential software in Dockerfile, since they are used to build pouch and execute Makefile target.

For vim, it is only used for debugging, or operational use.

In term of base image, I would suggest developers could customize one for his own. Because, we need to let developers know what is going on when building a pouch image directly.

[2017-12-13 02:14] allencloud commented on #299
Closing this. Ping us if more questions.

[2017-12-13 02:14] #299 closed

[2017-12-13 05:12] #142 closed

[2017-12-14 03:13] zzchun commented on #295
It's really because of network problems
thanks @allencloud

[2017-12-14 03:13] #295 closed

[2017-12-14 03:29] Letty5411 opened #310 "[bug] Error message needs to be refined"
**Issue Description**
The error message for pouch create should be refined with more info.
e.g. : Image xxx not found.
**Describe what happened**:
[code]
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):

[2017-12-14 05:07] Letty5411 opened #313 "[bug] pouch pull can't be run by using exec package"
**Issue Description**
When call `pouch pull` in go package exec, it will panic.

**Describe what happened**:
[code]
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install

[2017-12-14 09:15] 0x04C2 opened #322 "[bug] fail to make install"
**Issue Description**
[code]

**Describe what happened**:
missing use errtypes

**Describe what you expected to happen**:
it should pass.........

**How to reproduce it (as minimally and precisely as possible)**:
make install

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
-

[2017-12-14 09:22] 0x04C2 commented on #322
#320

[2017-12-14 09:22] #322 closed

[2017-12-14 09:50] jumping opened #323 "broken link"
**Issue Description**
The link of INSTALLATION.md in https://github.com/alibaba/pouch/blob/master/docs/pouch_with_runV.md is broken.

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-r

[2017-12-14 09:52] jumping commented on #323
The right link maybe https://github.com/alibaba/pouch/blob/master/INSTALLATION.md .

[2017-12-14 10:41] allencloud commented on #323
Thanks a lot. You are right.
Would you like to submit a PR to fix this? @jumping 🍻

[2017-12-14 11:05] skoo87 commented on #313
I will fix it, I think I know the reason for the panic.

[2017-12-14 11:56] skoo87 commented on #313
this is because "pouch pull" not run in a console.  We depend on containerd's progress to implement the "pull" command, I find that the containerd's progress can work in a console only, not work via exec.

https://github.com/containerd/containerd/blob/master/progress/writer.go#L49 。

I think I will find a way to fix it.

[2017-12-14 12:33] purplegrape commented on #282
source rpm packed by me ,hope it useful,many thanks!
http://47.254.16.148/centos/7/source/pouch-0.1.0-dev.20171213.el7.centos.src.rpm
http://47.254.16.148/centos/7/x86_64/pouch-0.1.0-dev.20171213.el7.centos.x86_64.rpm

[2017-12-14 15:24] 0x04C2 opened #326 "[bug] The phantom container's meta data"
**Issue Description**

If the container is still running, you still want to remove the container. OK.

The phantom container's `meta.json` comes to you.

**Describe what happened**:

The containermgr has two hooks which to clean and write the status into `meta.json`.

[code]

When you use to force to remove the running container, the `containergmt.Remove` function will remove the cache, key dir an

[2017-12-14 16:13] 0x04C2 commented on #313
Yes. I comment the `fw.Flush()` for local test. I'm curious about CI.

I think we should wrap the output and do some thing if the stdout is not pty/tty.

[2017-12-15 03:53] allencloud commented on #282
I will test this soon. @purplegrape
If this works fine, maybe we can discuss more about how to provide a solution for users out of box.

[2017-12-15 08:34] #323 closed

[2017-12-15 10:16] pouchrobot opened #332 "Weekly Report of Pouch from 2017-12-08 to 2017-12-15"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   1746 |
| Star      |   1746 |
| Fork      |   290 |

## PR Update

Thanks

[2017-12-15 16:30] #310 closed

[2017-12-15 16:39] #38 closed

[2017-12-15 16:40] allencloud commented on #50
Any update on this? @sunyuan3

[2017-12-15 16:41] allencloud commented on #67
Could you help to figure out a way for this? @zzchun
😄

[2017-12-15 16:42] allencloud commented on #97
I think this is related to your system from my initial view.

Can you reproduce this in the newest master branch of Pouch? @Letty5411
If that, we should promote the priority of this.

[2017-12-15 16:44] allencloud commented on #101
I have heard that LVM or project quota in Linux Kernel 4.9 can solve this, right? @yyb196
Then could you take research on this and judge whether we can make it in Pouch? @rudyfly

[2017-12-15 16:46] allencloud commented on #249
I think we should support the way without " quoted commands.

just like `pouch run image:tag commandA ArgB ArgC`. But currently we must execute `pouch run image:tag "commandA ArgB ArgC"`, right? @skoo87

[2017-12-15 16:46] allencloud commented on #247
Closing this...
Ping us if more help is needed.

[2017-12-15 16:46] #247 closed

[2017-12-16 00:47] purplegrape commented on #282
FYI.
i use golang package from  http://mirror.go-repo.io/centos/go-repo.repo

[2017-12-17 16:15] allencloud commented on #233
Could you help fix this? @0x04C2
From my point of view, we can use pkg reference to fix this, like https://github.com/alibaba/pouch/pull/333.
WDYT

[2017-12-18 01:16] 0x04C2 commented on #233
@allencloud , Sure. I will do that. :)

[2017-12-18 02:20] #233 closed

[2017-12-18 02:29] allencloud commented on #93
I think this has been fixed in https://github.com/alibaba/pouch/pull/266.
Closing this. Feel free to leave a comment if there is more details needed.

[2017-12-18 02:29] #93 closed

[2017-12-18 03:59] 0x04C2 commented on #326
Fixed by #317

[2017-12-18 03:59] #326 closed

[2017-12-18 06:39] allencloud opened #339 "[bug] pouch exec execution has no output"
**Issue Description**

I have a running container. I need to exec into this command to do some extra action. But the terminal finishes the execution without any output.

**Describe what happened**:
[code]

In addition, when I add `-it` in execution command, the output will be out of order:
[code]

**Describe what you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely a

[2017-12-18 09:53] #339 closed

[2017-12-18 10:00] allencloud opened #344 "[bug] pouch exec fails but returns a zero exit code"
**Issue Description**

I failed to execute command `pouch exec`, but command returns a zero exit code. Start command has the same issue.

**Describe what happened**:

Exec command:
[code]

Start Command with an unknown command:

[code]

**Describe what you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

[2017-12-18 10:20] 0x04C2 commented on #344
Hi @allencloud , could you mind to update the description? The `start` command has the same issue.

[code]

[2017-12-18 12:30] allencloud opened #348 "[feature request] add container/image/network/volume name Validation"
**Issue Description**

Currently we have no object name validation, such container, network, image, volume.

For example, the following command will secceed:
[code]

Actually we can treat `Q()WE#` invalid, but pouch daemon has  not set this rule yet. We need to add it:

* First, we should design valid pattern for object;
* Second, we should encapsulate this pattern in a pkg;
* Third, we should add

[2017-12-19 01:39] allencloud commented on #256
It is all done. Closing this.

[2017-12-19 01:39] #256 closed

[2017-12-19 02:08] skoo87 opened #351 "[feature] Add a "pouch run" command for cli"
**Issue Description**
run command be used to replace "create" and "start" commands.

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install to

[2017-12-19 02:18] allencloud opened #352 "[bug] invalid request in `POST /containers/create` causes pouchd's panic"
**Issue Description**

Today I use postman to send a raw HTTP request to pouch daemon. Of course I need to set pouchd to listen a tcp port via `pouchd -D -l "tcp://30.5.125.229:2375"`.

![postman_create](https://user-images.githubusercontent.com/9465626/34137431-e140cf7c-e4a5-11e7-98ae-5bf1f417aea5.png)

My target API endpoint is `POST /containers/create`, and I add an empty request body to test d

[2017-12-19 02:19] #313 closed

[2017-12-19 02:33] allencloud commented on #351
Could you help to add a `pouch run` command to combine create and start API? @HusterWan 🧀 🦁

[2017-12-19 02:39] HusterWan commented on #351
of course, my pleasure! @allencloud

[2017-12-19 02:54] skoo87 commented on #344
I will fix it as soon as possible.

[2017-12-19 03:01] skoo87 commented on #352
ping @rudyfly

[2017-12-19 03:36] Ace-Tang opened #354 "[bug] pouch failed to run with runv"
runv work with pouchd and containerd which could only pass with set runv `root=/run` can be passed
with this patch
[code]

start with with default root `/run/containerd/default/runc` will failed, runv container exits as soon as started

[2017-12-19 03:37] allencloud commented on #354
ping @skoo87
Could you help @Ace-Tang to take a look at this?
We should provide a mature solution to run hypervisor-based container.

[2017-12-19 04:05] allencloud opened #356 "[feature request] clean up vendored packages"
**Issue Description**

I found that in vendor dir, there are some improper things there, for example
<img width="338" alt="vendor" src="https://user-images.githubusercontent.com/9465626/34140280-963d5b94-e4b4-11e7-994f-c8eb93db97da.png">

src dir is not necessary. @skoo87

And package code.cloudfoundry.org is not necessary as well, since we only use one tiny func there. @rudyfly

**Describe what h

[2017-12-19 04:08] #249 closed

[2017-12-19 04:09] allencloud commented on #205
Can you reproduce this? @skoo87

[2017-12-19 04:11] allencloud commented on #215
I think RunCmdPos and RunCmdNeg are not so directly readable. What about `RunCmdWithError` and `RunCmdWithNoError`, like Moby does. @Letty5411 @0x04C2

[2017-12-19 05:06] 0x04C2 commented on #215
@allencloud , agree. I think `WithNoError` should be default. Basically, the command can be run successfully. Only for run in wrong way, we need `RunCmdWithError`.

[2017-12-19 05:13] skoo87 commented on #354
Please post a PR ???  @Ace-Tang

[2017-12-19 06:39] allencloud commented on #138
Could you help to finish the **Image Inspect** part? @0x04C2
Thanks a lot. 🍷

[2017-12-19 06:42] 0x04C2 commented on #138
Yes. Sure. I have created branch in my local :)

[2017-12-19 06:58] allencloud opened #357 "[doc request] Add Prometheus API in swagger.yml"
**Issue Description**

We have already added Prometheus support in Pouch by pr https://github.com/alibaba/pouch/pull/91 .

This PR also added an API in pouch daemon `GET /metrics`, we need to add this in swagger.yml to provide details for users.

**Describe what happened**:

No Prometheus API in swagger.yml.

**Describe what you expected to happen**:

Have Prometheus API in swagger.yml

**How to r

[2017-12-19 11:24] Ace-Tang commented on #219
containerd will pass a specified  root to runtime,  `/run/runv` is just a default runv root, or can you try this
patch
[code]
and I can got this work in my environment.

[2017-12-19 13:38] rudyfly commented on #352
Because the post body is {}, json decoding will make the 'config' is nil, and it cause the panic.
`func (s *Server) createContainer(ctx context.Context, resp http.ResponseWriter, req *http.Request) error {
	var config types.ContainerConfigWrapper

	if err := json.NewDecoder(req.Body).Decode(&config); err != nil {
		return httputils.NewHTTPError(err, http.StatusBadRequest)
	}

	name := req.FormValu

[2017-12-20 02:25] jomenxiao opened #363 "http better？"
https://github.com/alibaba/pouch/blob/7fee663a70a1e4467d91de7bba6c390add70ed7b/apis/server/server.go#L85

It makes me confused,
`http`  better?

[2017-12-20 03:04] allencloud commented on #363
Could you help to take a look at this? @Ace-Tang

[2017-12-20 10:31] Ace-Tang commented on #354
with this patch  #365 , you can run runv successful

[2017-12-21 05:12] Letty5411 opened #369 "[bug] pouch ps doesn't work"
**Issue Description**
On alios, the newest commit, `pouch ps` dosen't work now.
[code]
**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install

[2017-12-21 07:25] 0x04C2 commented on #369
@Letty5411  and @allencloud , please `rm -rf /var/lib/pouch/*` in your local. The `ps` have been updated. Maybe your local has the dirty data.

[2017-12-21 07:45] sunyuan3 opened #372 "CI is failed in ubuntu14.04."
**Issue Description**
CI is failed in ubuntu14.04.

**Describe what happened**:
root@p1:~/pouch/test# go test
# _/root/pouch/test
./pouch_cli_create_test.go:25:47: cannot use "github.com/gotestyourself/gotestyourself/icmd".Success (type "github.com/gotestyourself/gotestyourself/icmd".Expected) as type "github.com/alibaba/pouch/vendor/github.com/gotestyourself/gotestyourself/icmd".Expected in argum

[2017-12-21 07:46] sunyuan3 commented on #372
ping @0x04C2

[2017-12-21 07:47] 0x04C2 commented on #372
CheckIng

[2017-12-21 08:05] Letty5411 opened #374 "[feature required] pouch create should support create container using Image ID"
**Issue Description**

**Describe what happened**:
Create container using image id failed. And the error message should also be changed
[code]
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e

[2017-12-21 08:10] allencloud commented on #374
I set this as a P2 priority. We will make it in the future. And we welcome other contributors to try this. 🌹 🌞

[2017-12-21 08:33] HusterWan opened #377 "[bug] pouch exec stuck"
**Issue Description**
i create a container and start it. but when i execute `pouch exec -i test`, the command stuck, and can not do nothing
[code]

but i can do `pouch start -i test`
[code]

another problem: maybe we should not stop container, when execute `exit` in container
[code]

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and pre

[2017-12-21 09:16] 0x04C2 commented on #372
@sunyuan3 ， would you provide the `go env` information? It seems the `gopath` and the vendor is not correct.

[2017-12-21 10:10] 0x04C2 commented on #205
I use vagrant/ubuntu/trusty64 box and meet this issue....no clue about this.😂 @skoo87 @allencloud

[2017-12-21 10:20] 0x04C2 commented on #205
Hi @Deen12520  @skoo87 @allencloud  , I found one solution.

http://blog.ciplogic.com/index.php/blog/107-docker-with-overlayfs-on-ubuntu-14-04

The overlayfs is available only from kernel version 3.18 and up. I use vagrant/ubuntu/trusty64 box and upgrade from kernel-3.14 to 3.19. the problem has been solved. You can try to upgrade your kernel.

hope it can help. 😄

[2017-12-21 11:42] sunyuan3 commented on #372
My gopath environment is not right. I have corrected this issue. Thank you, @0x04C2 .

[2017-12-21 11:42] #372 closed

[2017-12-21 13:52] 0x04C2 commented on #374
good catch!

[2017-12-21 14:04] 0x04C2 commented on #377
Hi @HusterWan , I think `-i` is only used keep stdin open, but there is no stdout to show the content. The docker has the same problem but we can type something which docker can echo.

pouch need to improve this. On more thing, it still need signal receive. :)

[2017-12-22 00:20] pouchrobot opened #385 "Weekly Report of Pouch from 2017-12-15 to 2017-12-22"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   1813 |
| Star      |   1813 |
| Fork      |   308 |

## PR Update

Thanks

[2017-12-22 03:08] fuweid opened #389 "[question] should we update requirement for developer guide?"
**Issue Description**

As the issue #205 and https://github.com/containerd/containerd/issues/1883 mentioned, I think the kernel version should be 4.x. Lower version maybe cause unexpected issue.

ref: https://github.com/containerd/containerd#runtime-requirements

**Describe what happened**:

For #205, if the kernel is lower than 3.18, the kernel doesn't have the overlayfs.
The `pouch create` comma

[2017-12-22 03:08] Letty5411 opened #390 "/containers/create has 404 return value"
**Issue Description**

**Describe what happened**:
/containers/create has 404 return value, which is wired.
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
-

[2017-12-22 03:08] Letty5411 commented on #390
@allencloud

[2017-12-22 03:13] #390 closed

[2017-12-22 03:50] #352 closed

[2017-12-25 02:40] allencloud commented on #374
/cc @Letty5411

[2017-12-25 07:11] allencloud commented on #389
Yes, I think we need to update this. User always comes first, you know.

[2017-12-25 07:18] allencloud opened #410 "[test request] too much duplicated test code"
**Issue Description**
I found that in Pouch's API test cases, there are lot of duplicated block of code which I think we can encapsulate them into a single function.

[code]

We can encapsulate above a single func, like `createBusyboxContainer(....)`

In the future, I think we need to encapsulate another single func which is `runBusyboxContainerWithSleep(......)`

WDYT? @Letty5411

[2017-12-25 07:34] #351 closed

[2017-12-26 05:58] YaoZengzeng opened #420 "[enhancement request] CRI manager to integrate pouch with kubernetes"
## What is the scope of CRI manager
* GRPC server : connect to kubelet and receive CRI requests

* API transform : use pouch's container & image manager to handle all kinds of CRI requests

* Pod support : pod's lifecycle and metadata store

* CNI integration: the network of containers which belong to kubernetes should be managed by CNI other than the pouch's network manager

## What is not in the

[2017-12-26 05:59] allencloud commented on #223
Closing this....

[2017-12-26 05:59] #223 closed

[2017-12-26 06:00] allencloud commented on #369
If this happens again, please reopen this. @Letty5411

[2017-12-26 06:00] #369 closed

[2017-12-26 06:03] allencloud commented on #192
If we met problem via this, please reopen this.

[2017-12-26 06:03] #192 closed

[2017-12-26 07:06] MikeLing commented on #62
Hi, I'm new to pouch but I really want to take this issue and work on it. Could you assign this issue to me, please? Thanks a lot! :)

[2017-12-26 07:08] MikeLing commented on #62
#dibs

[2017-12-26 07:37] allencloud opened #421 "[bug report] validation of swagger.yml throws warnings"
**Issue Description**

I found that in travisCI when executing `make validate-swagger`, it throw warnings:

[code]

Although this will not report error, it will influence the API doc generation.

I also found that ContainerInfo actually is not a struct used in API side which is also mentioned in https://github.com/alibaba/pouch/pull/416.

**Describe what happened**:

Warning happens when validate

[2017-12-26 08:35] Ace-Tang commented on #363
we do not plan to support http
https://github.com/alibaba/pouch/blob/7fee663a70a1e4467d91de7bba6c390add70ed7b/apis/server/server.go#L102

[2017-12-26 11:21] #421 closed

[2017-12-26 14:39] 0x04C2 opened #428 "[question] missing github.com/docker/libnetwork package in vendor"
**Issue Description**
pull latest code, make install and fail

**Describe what happened**:

[code]

**Describe what you expected to happen**:

it seems that we miss the github.com/docker/libnetwork package in vendor

**How to reproduce it (as minimally and precisely as possible)**:
pull code and make install

**Anything else we need to know?**:

ping @rudyfly and @allencloud

**Environment**:
- po

[2017-12-26 16:17] allencloud commented on #110
I think https://apihandyman.io/writing-openapi-swagger-specification-tutorial-part-8-splitting-specification-file/ could help.
/cc @rudyfly

[2017-12-26 16:39] allencloud opened #430 "[bug report] failed to build pouch in master branch"
**Issue Description**

I ran into such situation:
[code]

But without your commit merged into master, I test without failure:
[code]

**Describe what happened**:

`make build` fails in master

**Describe what you expected to happen**:

branch master could be built into binaries.

**How to reproduce it (as minimally and precisely as possible)**:
1. git checkout master
2. make build
3.

**Anything e

[2017-12-26 16:42] allencloud commented on #428
I have ran into the same issue, and I think it is because the commit https://github.com/alibaba/pouch/pull/311.
/cc @rudyfly
Could you confirm this ASAP? Otherwise, we will consider to revert the change you made.

[2017-12-26 16:55] allencloud commented on #410
https://github.com/alibaba/pouch/pull/411 fixing this issue has been merged. And I am closing this.
Maybe we need to pay more attention to reducing duplicated codes to make DRY ASAP. @Letty5411
🌹

[2017-12-26 16:55] #410 closed

[2017-12-26 17:10] allencloud opened #431 "[bug report] Network bridge has issue inside"
**Issue Description**

In a previous commit of https://github.com/alibaba/pouch/pull/311 which has been merged, I found that there may be some issue there in the following code:
[code]

I think we should use `return httputils.NewHTTPError(err, http.StatusBadRequest)` to replace the following code like other xxx_bridge.go does:
[code]

In addition, I do not think `return json.NewEncoder(resp).Encod

[2017-12-27 03:36] HusterWan opened #435 "[bug report] CI Failed: snapshot not found"
**Issue Description**
Check ci log, there may failed when start a container
[code]

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install too

[2017-12-27 04:20] #428 closed

[2017-12-27 04:20] #430 closed

[2017-12-27 07:36] allencloud commented on #435
I think this has been fixed in https://github.com/alibaba/pouch/pull/436.
Feel free to tell us if the issue happen again.
Closing this.

[2017-12-27 07:36] #435 closed

[2017-12-27 08:22] allencloud commented on #363
Thanks for your report. I am closing this. And feel free to tell us if you need any help. Thanks again.

[2017-12-27 08:22] #363 closed

[2017-12-27 10:56] allencloud opened #439 "[Proposal] Add CodeCov support in Pouch"
**Issue Description**

CodeCov is a very good test tool for projects on GitHub. It enhances development workflows and improves code quality a lot.

On github, there is a very clear guidance for integrating Golang Project and CodeCov: https://github.com/codecov/example-go

Maybe we can consider that Pouch could support CodeCov.

**Describe what happened**:
NONE

**Describe what you expected to happ

[2017-12-28 02:35] WIZARD-CXY commented on #420
Let me take a closer look at it

[2017-12-28 04:46] WIZARD-CXY commented on #420
lgtm

[2017-12-28 05:13] allencloud opened #443 "[feature request] Post Request Body Validation rules"
**Issue Description**

For a HTTP request, if the method is POST, they may be a request body in it. Then pouch daemon side needs to validate these parameter. This issue is to track all the validation rules for this request  body. In the issue, I only tracked fields which are in type of `string`, `[]string`, `map[string]interface{}`.

We should make this validation rules clear, and add these restri

[2017-12-28 06:42] #439 closed

[2017-12-28 12:56] allencloud commented on #67
Any update on this issue? @zzchun
Feel free to tell us if you need any help.

[2017-12-28 14:47] allencloud commented on #140
Set this in 0.1 milestone. And we are supposed to finish before Jan 10. @CodeJuan 😄

[2017-12-29 03:54] allencloud opened #460 "[bug fix] NetworkCreateConfig needs to be compatible with Moby"
**Issue Description**

Moby has a networkCreate config with:
[code]

While Pouch has :
[code]

I think incompatibility happens. Needs update.

**Describe what happened**:
NetworkCreateConfig is not compatibility with Moby's.

**Describe what you expected to happen**:
NetworkCreateConfig is compatibility with Moby's.

**How to reproduce it (as minimally and precisely as possible)**:
NONE

**Anythin

[2017-12-29 07:03] pouchrobot opened #462 "Weekly Report of Pouch from 2017-12-22 to 2017-12-29"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   1883 |
| Star      |   1883 |
| Fork      |   320 |

## PR Update

Thanks

[2017-12-29 07:10] #460 closed

[2017-12-29 08:02] allencloud opened #463 "[feature request] support container options, such as isolation and configurations"
**Issue Description**

Currently we have implemented container technology in pouch, while I think the specific functionality is not so sufficient, such as container isolation and container configuration support are still none.

In our v0.1 milestone, some main container config options need implemented:

### ContainerConfig

@skoo87 will handle ContainerConfig.

- [x] Cmd
- [x] Entrypoint
- [x] Env

[2017-12-29 08:16] WIZARD-CXY commented on #463
we also need device configuration because some containers will use fpga, gpu devices.

[2017-12-30 15:52] purplegrape opened #466 "[bug report]make test command must run as root"
**Issue Description**
pouch can build by normal user but “make test” command must run as root

**Describe what happened**:

+ make test
Cannot connect to the Docker daemon. Is the docker daemon running on this host?

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.login as normal user
2.run make
3. run make test

**Anything else we nee

[2018-01-01 02:48] allencloud commented on #466
@Letty5411 @sunyuan3 Please take a look at this. Thanks.

[2018-01-01 16:02] 0x04C2 commented on #466
@purplegrape ,  `make build` is running on `go` command. Therefore, the user, who has `go` in PATH, can run `make build` command without root.

But for your report, the `make test` command needs to build env for test by docker cmd. It seems that the user aren't in `docker` group in your system. Ref is [here](https://docs.docker.com/engine/installation/linux/linux-postinstall/). Hope it can help.

[2018-01-02 00:49] sunyuan3 commented on #466
Nice catch. I will create a patch.

[2018-01-02 01:01] sunyuan3 commented on #466
"make test" means that "env PATH=$(PATH) hack/make.sh check build integration-test" is executed. Check and build don't need root privilege.  In integration test, pouchd and $DIR/test/integration-test binary need root privilege.

In travis config, sudo is already added to make test.
https://github.com/alibaba/pouch/blob/master/.travis.yml

0x04C2 and I have answered the question. I would close this

[2018-01-02 01:01] #466 closed

[2018-01-02 02:08] skoo87 commented on #377
./pouch exec -i a70c6e sh
OCI runtime exec failed: exec failed: container_linux.go:295: starting container process caused "exec: \"sh\": executable file not found in $PATH": unknown

Now，there is a error message  @HusterWan

[2018-01-02 02:55] Letty5411 opened #470 "[feature required] Need to handle error in function attachContainer"
**Issue Description**

**Describe what happened**:
The function attachContainer() in apis/server/container_bridge.go needs to handle error.
[code]

**Describe what you expected to happen**:
Attach a non-existing container should return 404, now return 200.

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch vers

[2018-01-02 03:40] allencloud commented on #463
I have updated the issue description. And it is already in HostConfig. @WIZARD-CXY

[2018-01-02 03:53] HusterWan commented on #463
maybe we also need block io configuration like device_read_bps, device_write_bps, device_read_iops, device_write_iops. @allencloud

[2018-01-02 04:33] allencloud commented on #463
Yes, We will add that. In the original plan, it is in the scope of 0.2 milestone. While if we have enough time, we can add them totally. @HusterWan

[2018-01-02 05:46] allencloud commented on #103
/cc @yyb196
Could you help to do an integration job to combine open source pouch and open source dragonfly before this Friday?
If it works fine, we should add a document guidance for this.
Thanks.

[2018-01-02 06:29] allencloud opened #474 "[feature request] how to provide a grpc API test framework"
**Issue Description**

We have started the CRI implementation plan in Pouch. And in the previous PRs https://github.com/alibaba/pouch/pull/426 and https://github.com/alibaba/pouch/pull/455 we have initially make pod sandbox creation work.

As the developing work goes on, we still need to finish the CRI test work. Currently we need to add two parts of CRI test type:

* unit test in added CRI relate

[2018-01-02 06:43] Ace-Tang opened #475 "[Proposal] runv support user defined kernel version"
pouch now support hyper runv,  beside this, we can privide a general solution which can support user to use their own kernel verson.

we offer some scripts and prepared image file for qemu, user may provide a kernel code as input, a kernel and a img will as output which can apply to runv.

[2018-01-02 08:23] Letty5411 opened #478 "[enhancement required] cli/network needs to handle CMD flags"
**Issue Description**
**Describe what happened**:
Now CMD `pouch network create` supports several flags, but only `name` and `driver` are handled.
cli/network.go needs to handle this.

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- O

[2018-01-02 08:28] Letty5411 opened #479 "[bug] API interface /networks delete doesn't exist in apis/swagger.yml"
**Issue Description**
**Describe what happened**:
From the apis/server/router.go, delete network API has been implemented, but no entry is found in swagger.yml. Need to add it.
[code]
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS

[2018-01-02 08:35] allencloud commented on #479
Yes, and actually daemon side has not implemented this API, see :
[code]

And I will add this API in swagger.yml ASAP today.

[2018-01-02 08:38] allencloud commented on #479
Oh, no. I will add  `GET /networks/{id}` first.

[2018-01-02 09:40] Letty5411 opened #481 "[bug?] /networks/create API return 500"
**Issue Description**

**Describe what happened**:
I wrote a API test to test the network create API, but it returns 500.
Code is here:
[code]

Error message is as following:
[code]

If only Name is passed in body, then error message is as following :
[code]
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we nee

[2018-01-02 12:22] #431 closed

[2018-01-03 02:08] Letty5411 commented on #481
The usage of API is wrong, when name and driver is given, creating network could succeed.

[2018-01-03 02:08] #481 closed

[2018-01-03 02:52] allencloud commented on #463
@HusterWan
Could you help to implement the following options in HostConfig:
- [ ] Device
  - [ ] CgroupPermissions
  - [ ] PathInContainer
  - [ ] PathOnHost
And feel free to share with us if you met any issues.

[2018-01-03 03:08] HusterWan commented on #463
OK，i will do it @allencloud

[2018-01-03 06:34] allencloud opened #486 "[doc request] details docs on pouch with CRI to support Kubernetes"
**Issue Description**

Pouch has a plan to implement CRI interfaces and the first step has already been finished. For users, no matter developer or end-user, a clear roadmap on this part is required to make others know supporting well. Now we have CRI implementation code in Pouch project. In addition, we still add more documentation about CRI implementation and Kubernetes support.

At least, we sh

[2018-01-03 06:41] allencloud commented on #420
Hi, @xiang90 ,
Could you help to review this for us as an expert on Kubernetes? More details about architecture, maybe you can refer to https://github.com/alibaba/pouch/blob/master/docs/architecture.md#component-architecture.
And Please feel free to share with us if you find any thoughtlessness we brought. Thanks a lot. 🍻

[2018-01-03 06:47] allencloud commented on #474
We will consider use https://github.com/kubernetes-incubator/cri-tools as integration test tools. But here I have concern if it is suitable for an initial project like pouch which just finishes a little part of CRI implementation.  @Letty5411 @YaoZengzeng @skoo87

[2018-01-03 06:55] YaoZengzeng commented on #474
@allencloud Maybe we can use option "--focus" to limit the scope of test.

https://github.com/kubernetes-incubator/cri-tools/blob/master/docs/validation.md

[2018-01-03 09:22] allencloud commented on #377
Yes, we miss this. @0x04C2

[2018-01-03 09:57] allencloud opened #491 "[feature request] pouch run in terminal default connects to container's stdout"
**Issue Description**

I tries the command:

[code]

I found that the terminal shows the created container and stops flush. Actually, I wish the terminal in which command `pouch run` runs could connects to the running container's stdout and stderr(at least stdout).  @HusterWan

**Describe what happened**:
[code]

**Describe what you expected to happen**:
pouch run in terminal default connects to c

[2018-01-03 10:44] HusterWan commented on #491
Yes, the run command default not connect to container's stdout, i will support it soon. @allencloud

[2018-01-04 01:07] 0x04C2 commented on #463
@allencloud , I will take the following options in HostConfig:

- [ ] Memory
- [ ] MemorySwap
- [ ] MemorySwappiness

[2018-01-04 05:51] Letty5411 opened #495 "[bug] /exec/execid/start returns 400 when execid is invalid"
**Issue Description**

**Describe what happened**:
When start an non-existing execid, it's expected to return 404, but return 400.
Here is the test code:
[code]

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-re

[2018-01-04 06:00] 0x04C2 commented on #495
For `/exec/xxx/start` handler,

I think we should find xxx first. If the xxx exists, we can do body parse next.

REF: https://github.com/alibaba/pouch/blob/master/apis/server/container_bridge.go#L77

WDYT? @allencloud

[2018-01-04 06:24] Letty5411 commented on #495
After add body in the request, it returns 404.

[2018-01-04 06:25] Letty5411 commented on #495
Keep this issue open, as guys may wanna discuss the logic of validate request body.

[2018-01-04 06:46] allencloud commented on #495
[code]

if the actual state is not our desired state in test, I think we need add more comment in context which shows why it failed. @Letty5411

With no output, I did not know what returns in response error.

[2018-01-04 06:50] allencloud commented on #495
In our original design, we parse the request body format validness in server bridge layer, and we parse the request body logic validness  in server mgr. Then bridge focuses on API and mgr focuses on inner logic. While here whether execid exists is a logic in daemon side, not in API side, so we keep searching its existence after bridge layer. @0x04C2

[2018-01-04 07:03] 0x04C2 commented on #495
Got it. API server is just a bridge layer for validation and configuration to daemon. It makes sense to me.

[2018-01-04 07:33] allencloud commented on #495
By default we should add a request body in this API endpoint.

[2018-01-04 07:34] #495 closed

[2018-01-04 11:57] CodeJuan opened #499 "[bug]wrong configuration of mounts"
**Issue Description**
https://github.com/alibaba/pouch/blob/master/daemon/mgr/spec_volume.go#L22
[code]
As the description of `HostConfig.Binds`,  the definition of bind is `host-src:container-dest:ro`.  So there are 2 mistakes
1.  `Source` should be `sd[0]`, `Destination` should be `sd[1]`.
2. `Options` should append `sd[2]`

[2018-01-04 11:58] CodeJuan commented on #499
# dibs

[2018-01-04 12:35] #499 closed

[2018-01-04 13:22] #479 closed

[2018-01-04 14:52] allencloud commented on #218
Could you help to finish the rest part of `network inspect` and `network remove`? @ZouRui89

[2018-01-04 14:57] allencloud commented on #139
Could you help to finish the rest part of `volume inspect`? @ZouRui89

[2018-01-04 15:28] #491 closed

[2018-01-05 02:21] allencloud commented on #50
I think we can close this, when we released, we can add a separated issue to track performance testing...

[2018-01-05 02:21] #50 closed

[2018-01-05 07:03] pouchrobot opened #510 "Weekly Report of Pouch from 2017-12-29 to 2018-01-05"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   1922 |
| Star      |   1922 |
| Fork      |   331 |

## PR Update

Thanks

[2018-01-05 12:15] HusterWan commented on #377
Hi @skoo87 , it seems to still has this problem, when i execute exec command by using a not exists command
[code]

[2018-01-05 15:57] allencloud commented on #377
Reopen this as it seems no fixed.

[2018-01-06 10:24] DarkForcesX opened #516 "运行make install 的时候报错了"
**Issue Description**
make install  error

**Describe what happened**:
安装报错：
GOOS=linux go build -o pouchd
unexpected directory layout:
	import path: github.com/opencontainers/runc/libcontainer/user
	root: /root/go/src
	dir: /root/go/src/github.com/alibaba/pouch/vendor/github.com/opencontainers/runc/libcontainer/user
	expand root: /root/go/src
	expand dir: /root/go/src/github.com/alibaba/pouch/ven

[2018-01-06 14:47] 0x04C2 commented on #516
Hi @DarkForcesX , could you mind to provide your `go env` to us? Thanks

[2018-01-06 15:06] DarkForcesX commented on #516
感谢您的回复：
如下：
go 版本：
[root@k8s ~]# go version
go version go1.9.2 linux/amd64
[root@k8s ~]#

go env：
[root@k8s ~]# go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/root/go"
GORACE=""
GOROOT="/root/go"
GOTOOLDIR="/root/go/pkg/tool/linux_amd64"
GCCGO="gccgo"
CC="gcc"
GOGCCFLAGS="-fPIC -m64 -pthread -fmessage-length=0 -fdebug-prefix-map=/tmp/go-build98980

[2018-01-06 15:14] sunyuan3 commented on #516
It seems GOROOT is wrong.

[2018-01-06 15:14] 0x04C2 commented on #516
OK. It seems that when GOROOT has the same path to the GOPATH, the error will show up.

[code]

@DarkForcesX you can set `export GOROOT=` and retry.

We use soft link for build. https://github.com/golang/go/issues/21057

[2018-01-06 15:14] sunyuan3 commented on #516
hack/make.sh check build

[2018-01-06 15:15] sunyuan3 commented on #516
Please use the following command.

[2018-01-06 15:17] sunyuan3 commented on #516
Please use the following command. This command would create a standard image and compile codes in the image, which is a standard dev environment. Then you can copy pouch and pouchd to /usr/local/bin.
hack/make.sh check build

[2018-01-06 16:20] purplegrape commented on #516
try the following command
git clone https://github.com/alibaba/pouch --recursive

[2018-01-06 16:40] DarkForcesX commented on #516
thank you all @pouchrobot @sunyuan3 @0x04C2

[2018-01-07 00:32] sunyuan3 commented on #516
I close this issue. If you still have a question, you can reopen the issue. ^_^

[2018-01-07 00:32] #516 closed

[2018-01-07 03:25] DarkForcesX commented on #516
报错原因：
gopath 不能设置成go的安装路径。

新建一个目录：
[root@k8s ~]# tree -L 1 |grep go
├── go
├── gopath
[root@k8s ~]#
......
[root@k8s pouch]# export GOPATH=/root/gopath
[root@k8s pouch]# make install
GOOS=linux go build -o pouchd
go build -o pouch github.com/alibaba/pouch/cli
install
installing pouchd and pouch to /usr/local/bin
[root@k8s pouch]#

[2018-01-07 03:45] 0x04C2 commented on #516
yes. @DarkForcesX . Please review my last comment. :)

[2018-01-07 03:48] DarkForcesX commented on #516
@0x04C2  thank you so much~

[2018-01-07 06:09] purplegrape opened #517 "[bug] hardcoded command /usr/local/bin/containerd"
**Issue Description**
command containerd should read from env $PATH

**Describe what happened**:
# pouchd
Error: fork/exec /usr/local/bin/containerd: no such file or directory
ERRO[2018-01-07 14:04:22.606215287] fork/exec /usr/local/bin/containerd: no such file or directory
# which containerd
/usr/sbin/containerd

**Describe what you expected to happen**:
command containerd should read from env $P

[2018-01-07 06:28] purplegrape opened #518 "[suggestion] change default containerd socket path as official do"
**Issue Description**
pouch's default containerd socket path is /var/run/containerd.sock
containerd official default socket path is /run/containerd/containerd.sock

**Describe what happened**:
# pouchd --help |grep "/var/run/containerd.sock"
  -c, --containerd string          Specify listening address of containerd (default "/var/run/containerd.sock")
# containerd config default
root = "/var/lib/c

[2018-01-07 11:33] wsandin commented on #517
Is this really a bug? I'd be happy to create a PR that checks $PATH to detect the correct binary for containerd. But looking closer into the software source, it seems like it's working as intended, with /usr/local/bin/containerd as the default file path which could be overridden with `--containerd-path`

See: https://github.com/alibaba/pouch/blob/master/main.go#L53

[2018-01-08 06:51] allencloud commented on #517
I think the current implementation is not so good. Since by default, containerd path would be conflict with the actual path and default path.

I think a good way is to use the following sequence to choose containerd:

1. use the user-specified containerd with flag `--containerd-path`;
2. If user does not specify, try to find containerd in $PATH of pouchd's env;
3. If containerd path is not found,

[2018-01-08 07:19] wsandin commented on #517
I think this makes good sense @allencloud. Will have a look at this!

[2018-01-08 09:18] skoo87 commented on #518
What is the reason for using the containerd's officail socket path ????

[2018-01-08 10:36] purplegrape commented on #518
why not

[2018-01-09 02:02] allencloud commented on #103
Please help confirm that whether containerd supports proxy mode. @yyb196
Please sync the result here in this issue.

[2018-01-09 02:42] Letty5411 opened #522 "[feature required] CI need to support lxcfs test"
**Issue Description**
After PR #502 is merged, CI needs to support lxcfs test.
**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
-

[2018-01-09 03:12] zzchun commented on #67
@allencloud There are two issues to be discussed.
**1. How to name the rpm package**
Usually, the name of rpm package contains name, version number, release number, system platform, extension name and so on.  For example:
[code]
so,We need to define a naming convention.

**2.Add description information**

I marked the fields with "?" if I can't determine its values, which are need to be discussed

[2018-01-09 03:18] allencloud commented on #67
cc @sunyuan3

[2018-01-09 06:57] Ace-Tang commented on #517
can we use containerd in $PATH first, and if `--containerd-path` is specified, we will use this specified one, @allencloud @skoo87  ,and I think a configure file is need for pouchd

[2018-01-09 07:08] wsandin commented on #517
I plan to use default as $PATH, but could be overridden by --containerd-path flagSet().
I also use /usr/bin/env containerd to call the service via systemd in the vendor directory. Will submit a PR soon!

[2018-01-09 07:08] Ace-Tang opened #526 "[feature request] pouch need a config file"
**Issue Description**

how about make pouchd  to read parameters from a config file,  then pouchd can simply start by just like
[code]
and it will be better to remove `--containerd-config` in pouchd, it will be in next step.

if we do this, I want know:
- which type of config is better, json or toml

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as

[2018-01-09 09:08] sunyuan3 commented on #67
@allencloud I need the following info for testing.
1. supported OS release: For example, ubuntu16.04 64bit, centos 7.2.(OS release iso file need to be provied.)

2. rpm or deb package, installation command.

3. apt-get or yum server. How to add apt-get or yum server address to test hosts? How to install pouch by apt-get or yum? It is suggested to provide a installation script.
For docker, the scri

[2018-01-09 09:15] Ace-Tang commented on #354
close by #365

[2018-01-09 09:15] #354 closed

[2018-01-10 03:56] HusterWan commented on #463
@allencloud @skoo87 i have no permission to edit this page

[2018-01-10 07:07] Letty5411 opened #535 "[bug] CLI exec could not handle cmd with args."
**Issue Description**
When using exec in the following ways, there is error:
[code]
**Describe what happened**:
It seems that the args of `ls` is recognized as a flag of exec.
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. f

[2018-01-10 07:19] Letty5411 opened #536 "[bug exec] "pouch exec 65d196 echo test" prints nothing"
**Issue Description**
Run the following CMD:
[code]
**Describe what happened**:
It's expected to get a output: test, but got null.

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
[code]
- OS (e.g. from /etc/os-release):
alios
- Kernel

[2018-01-10 07:24] Letty5411 opened #537 "[bug] "pouch exec ls /tmp" return wrong value"
**Issue Description**
The following CMD:
[code]
**Describe what happened**:
Seems the `pouch exec` CMD can't handle the above cmd.
It always prints the info in root directory.

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:
Pouch daemon log is as following:
[code]
**Environment**:
[code]
- p

[2018-01-10 08:18] allencloud commented on #67
I add something to your confusion about the info about pouch. While what I added does not include: `Size `, `Source RPM`, `Build Date`, `Build Host`, `Relocations`. @zzchun

Version     : 0.1.0
Release     : 1.el7.centos
Architecture: x86_64
Install Date: (not installed)
Group       : Tools/Pouch
Size        :
License     : Apache License 2.0
Signature   : RSA/SHA512, Fri 08 Dec 2017 07:00:19 AM C

[2018-01-10 08:21] allencloud commented on #526
Actually I think I prefer json file. @Ace-Tang

[2018-01-10 08:43] #535 closed

[2018-01-10 08:43] #536 closed

[2018-01-10 08:43] #537 closed

[2018-01-10 09:04] #522 closed

[2018-01-10 09:06] Letty5411 opened #541 "[bug] usage of pouch CMD should be polished"
**Issue Description**
Now the usage of pouch CMD is not appropriate, for example:
[code]
The `[flags]` should before `[image]`. And as `image` is required, it should be `<image>`

**Describe what happened**:

**Describe what you expected to happen**:
The usage of pouch CMD could give more accurate information for user to use it.
It should conform to Linux convention.

**How to reproduce it (as min

[2018-01-10 09:55] allencloud opened #544 "[bug report] pouch ps shows incorrect created time"
**Issue Description**

Wrong created time displays, like ` 263 years ago`. We got:

[code]

And I inspect two container in which one is correct, the other is incorrect. Maybe in the container info, we can have some clues.:

[code]

**Describe what happened**:
[code]

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. create containers an

[2018-01-10 12:30] HusterWan commented on #544
Maybe the Created Param of container meta info in /var/lib/pouch/containers/  can tell the difference, just guess :)

[2018-01-10 13:34] zeppp commented on #544
It is a mistake that the `Created` field is always null  before #404.
After #404,we use `Created` field to show creation time. So it will show wrong time if we use `pouch ps` to check the container before #404 . Maybe you should remove the old containers.

[2018-01-10 16:56] allencloud commented on #103
[See https://github.com/containerd/containerd/issues/1990](https://github.com/containerd/containerd/issues/1990) @yyb196

[2018-01-11 01:57] #541 closed

[2018-01-11 02:12] Ace-Tang commented on #517
@wsandin  , I am sorry to misunderstanding the sentence `Will submit a PR soon!` because of my poor English. I understand this as `please give pr fast`, thanks for @allencloud  to remind me, I fell sorry again.

[2018-01-11 03:17] Letty5411 opened #552 "[bug] pouch create -w failed"
**Issue Description**
Create a container with a workdir that doesn't existed in image.
Container failed to get started.
[code]
**Describe what happened**:

**Describe what you expected to happen**:
pouch should create the workdir if it doesn't exist.
**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (us

[2018-01-11 03:20] allencloud commented on #552
I think this is expected.

WORKDIR is the application's work to set it. So Dockerfile needs to set it as it is.

[2018-01-11 03:23] Letty5411 commented on #552
In docker, it works.
[code]

[2018-01-11 03:34] Letty5411 commented on #96
Close it as it has been fixed.

[2018-01-11 03:34] #96 closed

[2018-01-11 03:38] Letty5411 commented on #190
@wrfly has solved my question, close this issue.

[2018-01-11 03:38] #190 closed

[2018-01-11 03:39] allencloud commented on #190
Thanks for your comment. @wrfly We totally agree with you. Please keep enjoying Pouch.

[2018-01-11 03:41] allencloud commented on #552
Can we find some scenario that need this functionality?
I think when we support moby's API, we are not going to be another one. Maybe we need to consider minus not plus when meeting some ambiguous cases.

[2018-01-11 04:04] DarkForcesX opened #554 "https://github.com/alibaba/pouch/blob/master/cli/pull.go#L38 should be: "Args: cobra.ExactArgs (1),""
**Issue Description**
https://github.com/alibaba/pouch/blob/master/cli/pull.go#L38
This line of code has a bug and should be: "Args: cobra.ExactArgs (1),"

**Describe what happened**:
“Args:  cobra.MinimumNArgs(1),”

**Describe what you expected to happen**:
“Args:  cobra.ExactArgs(1),”

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

[2018-01-11 04:06] allencloud commented on #554
Yes, I agree with you, it is a bug in Pouch.

[2018-01-11 04:33] purplegrape opened #556 "[ question ]why fork a containerd subprocess by pouchd"
**Issue Description**

in my opinion，containerd and pouchd are diffenrent software，both are not any part of  the other。

obviously，containerd is an upstream project

pouchd now seems running as a monitor of containerd

why not make an error instead when containerd‘s socket is not avaliable ？

[2018-01-11 06:54] zzchun commented on #67
@allencloud @sunyuan3 We have put rpm package to Aliyun mirrors. Currently, pouch can be installed by pouch repository.

**1.install yum-utils**
[code]

**2. set up the pouch repository**
[code]

**3. install pouch **
[code]

**4. start pouch**
[code]

**5. pull an image**
[code]

**6. run a container**
Verify that `pouch` is installed correctly by running the `busybox` image.
[code]

**7. uninsta

[2018-01-11 08:04] allencloud commented on #556
Thanks for your feedback. @purplegrape
Container is a daemon process which is focused on underlying containers. While pouchd is a container engine which is much more friendly to users. Pouchd provides best practice on containers to users and CRI implementation for Kubernetes eco-system.

Maybe pouchd did some monitoring thing for container, indeed. While I do not think that is all of pouchd for a

[2018-01-11 09:52] purplegrape commented on #556
thank @allencloud .

in fact,i'm trying to package both containerd and pouchd, and have wroten seperate systemd startup script. you know,this may have trouble,

so i think pouchd should run after containerd as it' dependence in the local linux box.

[2018-01-11 11:05] #517 closed

[2018-01-11 11:22] wsandin commented on #517
No problems @Ace-Tang, I'm happy there is eager Open-Source contributors like you. Hopefully I get the privilege to contribute to pouchd in another issue.

Cheers!

[2018-01-12 03:28] Letty5411 opened #566 "[bug] test CI should clean docker when finished"
**Issue Description**
Now pouch CI using Dockerfile to unify test environment and check/build/unit-test are running in docker. There are legacy docker when test finished.
Code is in :  hack/make.sh
[code]

Should user `docker run --rm`  to remove docker container.
**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)*

[2018-01-12 03:29] Letty5411 opened #567 "[bug] test fail to install lxcfs in CentOS"
**Issue Description**

In hack/make.sh, using `apt-get` to install lxcfs.
It fails on CentOS, need to fix.

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `u

[2018-01-12 03:39] Letty5411 opened #568 "[bug] containers still exist in containerd after pouch removing them"
**Issue Description**
After running integration tests in pouch. There are legacy containers in containerd.
More info is here:
[code]
**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
[code]
- pouch version (use `pouch version`):
[code]
- OS (e.g. f

[2018-01-12 03:48] sunyuan3 commented on #566
Nice catch.

[2018-01-12 05:14] Letty5411 opened #569 "[bug] Test fails and panic on CentOS"
**Issue Description**
When run `go test  -check.f PouchStartSuite.TestStartWithEntrypoint`, it fails to remove container and got panic. But the container could be removed using CLI.

[code]

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:
daemon log is here:
[code

[2018-01-12 05:32] zeppp opened #570 "[feature request] ImageInfo need config field"
**Issue Description**
For now,`ImageInfo` in Pouch is lack of `config` which Moby has.
To keep consistance with Moby and implement CRI, `config` in `ImageInfo` is needed.

**Describe what happened**:
`ImageInfo` has no `config` field.

**Describe what you expected to happen**:
Add `config` field in `ImageInfo`.

[2018-01-12 07:09] pouchrobot opened #572 "Weekly Report of Pouch from 2018-01-05 to 2018-01-12"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   1972 |
| Star      |   1972 |
| Fork      |   343 |

## PR Update

Thanks

[2018-01-12 08:55] Letty5411 opened #574 "[feature required] investigate whether to include lxcfs in pouch RPM"
**Issue Description**
In CentOS, you need to install lxcfs from source code.
Could we put lxcfs in pouch RPM? We need to investigate it.

Here are steps about how to install lxcfs on CentOS: https://github.com/Letty5411/letty-work/blob/master/pouch/Install_lxcfs.md
**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)

[2018-01-12 09:02] allencloud commented on #574
cc @CodeJuan PTAL to provide more details which may be helpful.

[2018-01-16 02:03] #566 closed

[2018-01-16 06:40] skoo87 commented on #568
`root@ubuntu:/media/psf/Home/sk/src/github.com/alibaba/pouch# pouch rm -f 1efc40 ee767c 1c6ee5 cb2dff
1efc40
ee767c
1c6ee5
cb2dff
root@ubuntu:/media/psf/Home/sk/src/github.com/alibaba/pouch# ctr -a /var/run/containerd.sock containers ls
CONTAINER    IMAGE    RUNTIME
`

please clear the environment first, then test it. I can't reproduce it.  @Letty5411

[2018-01-16 06:46] skoo87 commented on #552
I also think this is expected.

[2018-01-16 08:44] Letty5411 commented on #569
This test `TestStartWithEntrypoint` passed, after I changed the following two lines:
[code]

[2018-01-16 09:32] Letty5411 opened #583 "[bug] TestImageCreateWithoutTag random failed on CentOS"
**Issue Description**
This test failed randomly on CentOS.
It may be caused by the `pouch pull` returns while the image has not been downloaded.
Need to find whether it is a bug of the test or product.

**Describe what happened**:
[code]
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Envi

[2018-01-16 12:42] zhaonanyu opened #584 "[question]How does Pouch's rich container works?"
**Issue Description**
I'm pretty interested in Pouch's rich container, but I can't find any detailed instruction about it either in this repo's doc nor on the internet, so my questions are:
1. The implementation of the Pouch Rich Container
2. Scenarios that Pouch's rich container fit in
3. Limitation of Pouch's rich container while using it

[2018-01-17 04:01] allencloud commented on #583
Is dockerhub unstable? So that this API returns 404. Could you test another image on DockerHub, or another image on another image registry? @Letty5411

[2018-01-17 04:02] allencloud commented on #569
If that, please submit a PR to fix the test case in master. Thanks. @Letty5411

[2018-01-17 04:03] allencloud commented on #574
I think this has been done by @zzchun . Right? If not, please let me know.
I am closing this.

[2018-01-17 04:03] #574 closed

[2018-01-17 05:09] Letty5411 commented on #569
@allencloud we may also need to investigate why `pouch start -a` panic

[2018-01-17 06:19] allencloud commented on #556
I think both are OK. For pouch, we wish to provide an out-of-box solution for users, so we try to make pouchd to start containerd there. If we do this, users could feel no existence of containerd, but pouchd takes over everything.

And I try to find how docker does, and I found that it seems that docker does the same way. In addition, although pouch is another container engine yet, we pay more att

[2018-01-17 06:19] YaoZengzeng opened #589 "[feature request] pull image with default registry"
**Issue Description**

It is necessary that we could pull image with default registry:
[code]

[2018-01-17 14:37] purplegrape commented on #556
thanks . I think this question can be closed now.

[2018-01-17 14:37] #556 closed

[2018-01-17 15:20] purplegrape commented on #584
rich container means system container, while docker is application container .

system container can be considered as  non-classic VM, which replaced hardware emulation by new  technology (  cgroup, namespace  and uid/gid mappig  )

pouch is a golang version of enhanced LXC via more features .

[2018-01-18 03:04] yyb196 commented on #584
rich container is about starting a supervisor process in container automatically and then start user defined entrypoint+cmd via this supervisor process. inside container supervisor process will also start other predefined service which can be customized in base image.

we usually start a systemd in container as supervisor, which will start sshd and crond and then start entrypoint+cmd that specifie

[2018-01-18 03:08] allencloud commented on #544
I think we can close this.

[2018-01-18 03:08] #544 closed

[2018-01-18 03:10] allencloud commented on #584
@zhaonanyu
Does what @yyb196 said satisfy you?

And maybe we need to add a documentation in this repo. Since lots of people may have confusion on this. @yyb196

[2018-01-18 06:02] allencloud opened #604 "[feature request] Network ability of container"
**Issue Description**

We cannot access network connection in the container pouch created.

**Describe what happened**:
[code]

**Describe what you expected to happen**:

Container can get access of network.

**How to reproduce it (as minimally and precisely as possible)**:
1. create a container and ping an outer IP address, such as 8.8.8.8

**Anything else we need to know?**:
NONE

**Environment*

[2018-01-18 06:51] Letty5411 opened #606 "[bug] lxcfs related tests should check the lxcfs binary"
**Issue Description**
Lxcfs related tests should check the following conditions before running:
1. `/usr/bin/lxcfs` exists
2. `pouchd` start with option `--enable-lxcfs=true --lxcfs=/usr/bin/lxcfs`

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:

[2018-01-18 07:38] #140 closed

[2018-01-18 08:43] #567 closed

[2018-01-19 06:39] Letty5411 opened #615 "[bug] API /network/create failed on AliOS"
**Issue Description**
create network failed on AliOS
**Describe what happened**:
[code]
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
[code]
- pouch version (use `pouch version`):
[code]
- OS (e.g. from /etc/os-release):
4.9
- Kernel (e.g. `uname -a`):
alios
- Install tool

[2018-01-19 07:56] #554 closed

[2018-01-19 07:57] pouchrobot opened #616 "Weekly Report of Pouch from 2018-01-12 to 2018-01-19"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   2009 |
| Star      |   2009 |
| Fork      |   351 |

## PR Update

Thanks

[2018-01-19 08:14] allencloud commented on #616
I found that it always returns 30 records. It is a bug in @pouchrobot .
Maybe in github API, it has limits when fetching pull requests. Need digging issue in pouchrobot.

[2018-01-19 08:16] allencloud commented on #282
I think this has been solved in https://github.com/alibaba/pouch/pull/597. Closing this.

[2018-01-19 08:16] #282 closed

[2018-01-22 06:39] Letty5411 opened #621 "[doc] typo in architecture.md"
**Issue Description**
The following line last word, should be `containerd`?
`ctrd is containerd client in Pouchd. When managers need to communicate with container`
**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch versio

[2018-01-22 06:39] Letty5411 commented on #621
@allencloud

[2018-01-23 01:35] zhaonanyu commented on #584
@allencloud I've no more questions at the moment, thx a lot folks.

[2018-01-23 01:35] #584 closed

[2018-01-23 02:12] allencloud commented on #552
Closing this, if more question comes, feel free to profile an issue.

[2018-01-23 02:12] #552 closed

[2018-01-23 09:29] #570 closed

[2018-01-23 09:55] allencloud opened #626 "[doc request] How to use lxcfs in Pouch to achieve resource view isolation?"
**Issue Description**

We have implemented lxcfs in https://github.com/alibaba/pouch/pull/502. But we still have no document to introduce this part to our users. I do not think this is appropriate.

Then we have plans to add document on this part soon, @CodeJuan .

Maybe we can looking at the following aspects to form the document:

* What is  lxcfs
* which scenario fits lxcfs （when to use uptime,

[2018-01-23 09:57] allencloud commented on #621
yes, what you mentioned is totally right. I will fix this. @Letty5411

[2018-01-24 08:46] allencloud commented on #218
Could you help to finish the rest part of `network ls`? @ZouRui89

[2018-01-24 09:21] allencloud commented on #139
I think we can close this. To be more specific, we can profile more issues.

[2018-01-24 09:21] #139 closed

[2018-01-24 09:22] allencloud commented on #215
Any update on this? @Letty5411 What is the progress of this?
If we finished these, maybe we can close it.

[2018-01-24 12:07] allencloud opened #631 "[feature request] add UPDATE command for container"
**Issue Description**

Pouch has not implemented `pouch update container_name`, while this command is very useful to modify the config of the container.

In this place we wish to support the following update configurations:

[code]

**Describe what happened**:
no update command in pouch's master.

**Describe what you expected to happen**:
implement pouch update command.

**How to reproduce it (as

[2018-01-24 12:08] allencloud commented on #631
I think this is very important. Do you have any thoughts on this? @HusterWan

[2018-01-24 13:42] HusterWan commented on #631
Yes, update a container's cpu and memory on runtime is a very useful function in production environment, i will do it. @allencloud

[2018-01-25 03:30] YaoZengzeng opened #635 "[enhancement request] Advanced configuration for Sandbox and Container in CRI"
## Task tracking

### Sandbox related

- [x] Sysctl configuration for sandbox #654
- [x] DNS configuration for sandbox #912
- [x] Port mapping configuration for sandbox #730

### Container related

- [x] Basic volume and device adding for container #717
- [x] Mount propagation support for container #717
- [x] AppArmor support for container #672
- [x] Capabilities setting for container #680
- [x] N

[2018-01-25 05:58] allencloud opened #637 "[feature request] add STATS command for Pouch"
**Issue Description**

Pouch has not implemented `pouch stats container_name`, while this command is very useful to get the real resource usage of container

In this place we wish to support the stats api in daemon side which is compatible with moby's API.

**Describe what happened**:
no stats command in pouch's master.

**Describe what you expected to happen**:
implement `pouch stats` command, da

[2018-01-25 06:31] allencloud opened #638 "[doc request] Design document of Volume implementation"
**Issue Description**

We have implemented volume side functionality in pouch's master. While I found that we are still lack of some important document to guide our user. In term of this, we plan to add more detailed document on pouch's volumes.

Here I list some points maybe we need to incudes:

* What is a volume in Pouch;
* What is design architecture of Volume's Core, plugins and so on.
* How

[2018-01-25 06:37] allencloud commented on #615
Any clue to fix this issue? @Letty5411 @rudyfly

[2018-01-25 06:51] Letty5411 opened #639 "[bug] should also check exited state when remove container"
**Issue Description**
In `daemon/mgr/container.go`, function Remove, line 166, it should also check exited state when remove container:
[code]
**Describe what happened**:
It failed when remove `exited` container:
[code]

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouc

[2018-01-25 17:32] #639 closed

[2018-01-26 04:54] #569 closed

[2018-01-26 07:07] allencloud commented on #631
Do you need any help on this functionality implementation?  @HusterWan 😃 🍺

[2018-01-26 07:14] rudyfly commented on #615
On ubuntu is ok，I have no any clue now....

[2018-01-26 07:17] #621 closed

[2018-01-26 07:18] allencloud commented on #615
Please check alios inside our company, this issue seems to be urgent. Thanks a lot. @rudyfly

[2018-01-26 07:57] pouchrobot opened #648 "Weekly Report of Pouch from 2018-01-19 to 2018-01-26"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   2063 |
| Star      |   2063 |
| Fork      |   360 |

## PR Update

Thanks

[2018-01-26 09:56] g0194776 opened #652 "Cannot create and run any new container with pouch-cli."
**Issue Description**
Cannot create and run any new container with pouch-cli.

[code]

**Describe what happened**:
After I've installed Pouch successfully, I was going to run a container as my first test.
Sadly, I could not run any containers up even though specified Image ID or Image name.

**Describe what you expected to happen**:
Successfully runs up a new container.

**How to reproduce it (as

[2018-01-26 09:57] g0194776 commented on #652
@likakuli Please kindly follow this issue.

[2018-01-26 10:01] allencloud commented on #652
Thanks for your feedback. @g0194776

Error: failed to run container: {"message":"image: 1669a6aa7350:latest: not found"}

Actually we have not implemented using image ID to create a container. In 0.2.0, we will support this.

Error: failed to run container: {"message":"image: docker.io/library/busybox:latest: not found"}

This error is not supposed. We will try to find the root cause. @Letty5411 @

[2018-01-26 10:18] Letty5411 commented on #652
@g0194776 Could you also provide the daemon log?

[2018-01-26 10:38] sunyuan3 commented on #652
I can't reproduce this issue in CentOS-7. Is this issue is reproducible in your environment?

log:
[code]

[2018-01-27 03:23] 0x04C2 commented on #569
I can't reproduce this issue.

REF: https://github.com/containerd/containerd/issues/1304

[2018-01-28 05:54] g0194776 commented on #652
@sunyuan3
Yes, I can reproduce this issue each time by performing the command of `pouch run`.

@Letty5411
I'll provide deamon logs ASAP after this weekend.

[2018-01-28 10:57] vizv commented on #205
I had the same problem today on my Gentoo, which turns out that I didn't compile my kernel with `CONFIG_OVERLAY_FS` enabled.

So, @Deen12520 Could you verify the kernel module `overlay` is loaded?

Please verify `cat /boot/config-$(uname -r) | grep OVERLAY` outputs `CONFIG_OVERLAY_FS=m`
and `lsmod | grep overlay` also gives output such as `overlay 51863 0`.
If `lsmod` shows `overlay` kernel module

[2018-01-29 01:03] sunyuan3 commented on #652
@g0194776 You can get daemon log by "journalctl" command.
Could you please provide your centos iso link?

[2018-01-29 01:49] g0194776 commented on #652
@sunyuan3

I got no any recent logs (EMPTY) by performing "journalctl -u pouch" after I performed "pouch run docker.io/library/busybox" command.

Ours CentOS-7 was initialized & installed by Hypver-v OS images.

[2018-01-29 02:31] allencloud commented on #205
Hi, Viz. It is really good to see you here. @vizv

I think this kind of information is really important for our users. Once we confirm this, we need to add this info into document of pouch's. @Letty5411 @sunyuan3 WDYT?

[2018-01-29 03:30] HusterWan commented on #631
Last week, i was busy doing other works.
I will finish this feature this week @allencloud

[2018-01-29 08:48] sunyuan3 commented on #652
hi @g0194776 , Please stop pouch service and start pouch daemon in the following command manually.
[code]
Then reproduce your defect in other terminal.

[2018-01-29 08:54] Letty5411 commented on #205
@allencloud Maybe we could add this kind of issue into FAQ or trouble shooting docs.

[2018-01-29 08:54] sunyuan3 commented on #205
@allencloud I agree with @Letty5411 .

[2018-01-29 09:37] sunyuan3 commented on #205
@Deen12520 Which version of centos do you use? Could you please provide iso file link?

[2018-01-29 13:38] sunyuan3 commented on #205
my log:
[code]

[2018-01-29 13:45] sunyuan3 commented on #205
I have 2 questions.
@Deen12520
1. Why is your go version is 1.9.2, not 1.9.1?
2. In your log, "pouch ps" lists created containers. I think it should be "pouch ps -a".

[2018-01-30 01:36] sunyuan3 commented on #205
Overlay module would be loaded when start a pouch container.
log:
[code]

[2018-01-30 03:10] g0194776 commented on #652
@sunyuan3

[code]

[2018-01-30 06:18] sunyuan3 commented on #652
ping @allencloud @skoo87 Could you please check with the issue?
[code]

[2018-01-30 07:11] ZouRui89 opened #662 "[bug]no error is reported when creating a new network with an existent name"
**Issue Description**
Right now, no error will be reported when trying to create a new network with an existent name.
**Describe what happened**:

**Describe what you expected to happen**:
Two different networks should not share the exact same name.
**How to reproduce it (as minimally and precisely as possible)**:
1.Create a network named net1
2.Create a network named net1 again
3.
![default](http

[2018-01-31 01:39] Letty5411 opened #664 "[feature required] print create args in pouch deamon log"
**Issue Description**

We may need to print the args of /container/create API for debugging.

**Describe what happened**:

**Describe what you expected to happen**:

Print create configure in daemon log, you may choose to print it only in `debug` mode or always.

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouc

[2018-01-31 01:50] rudyfly commented on #664
In pouchd log, these create args need print as human can read.

[2018-01-31 03:07] Letty5411 opened #666 "[random bug] restart deamon, pouch images return error"
**Issue Description**
Kill pouch daemon, rm /var/lib/pouch, then start pouch daemon. Run pouch images returns error.

**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]
Retry pass
[code]
**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-re

[2018-01-31 05:22] Letty5411 opened #667 "[bug] start container failed"
**Issue Description**
 Start container with entrypoint failed. But using docker works, and the shell binary do exist!
**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
daemon log
[code]
**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-re

[2018-01-31 05:30] Letty5411 opened #668 "[random bug] start pouch daemon failed with lxcfs process error"
**Issue Description**
Start pouchd with lxcfs, sometimes may have the following errors:
[code]
**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
AliOS4.9
- pouch version (use `pouch version`):

- OS (e.g. from /etc/os-release):
- Kernel (e.g. `unam

[2018-01-31 05:58] Letty5411 opened #669 "[bug]TestRunEnableLxcfs test failed"
**Issue Description**
Test failed on AliOS4.9:
commit: 25c95076fab3080a13f0295d043319b253342a9c

[code]
**Describe what happened**:

**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname

[2018-01-31 06:55] Letty5411 opened #670 "[bug] hack/make.sh judge pouchd started not accurate"
**Issue Description**
In hack/make.sh, it uses the existence of `/var/run/pouchd.sock` to check if the
pouch daemon started successfully, this does not always work.
We could use `pouch version` instead.
**Describe what happened**:

[code]
**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch ver

[2018-01-31 06:57] Letty5411 opened #671 "[bug] unit test failed to build"
**Issue Description**
Run unit-test on AliOS 4.9, daemon/mgr failed to build.
**Describe what happened**:
[code]
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install too

[2018-01-31 09:10] Letty5411 opened #673 "[bug] create volume failed in test TestVolumeListOk"
**Issue Description**
AliOS 4.9, TestVolumeListOk failed to create volume.
**Describe what happened**:
[code]
**Describe what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.
2.
3.

**Anything else we need to know?**:

**Environment**:
- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:

[2018-02-01 03:34] #604 closed

[2018-02-01 05:07] allencloud commented on #673
Do we have a daemon log which shows the reason about this incorrectness? @Letty5411

[2018-02-01 09:13] #662 closed

[2018-02-01 10:51] #671 closed

[2018-02-01 11:00] allencloud opened #679 "[feature request] compatible network create operation"
**Issue Description**

Currently we implemented container network functionality, but here when we need to create a container with network mode `bridge`, user has to execute command like `pouch run --net bridge:172.17.0.10 image_name`. If user does not specify `--net bridge:172.17.0.10`, he creates a container without network at all. I do not think this is user-friendly.

Maybe we should consider t

[2018-02-01 11:04] Letty5411 commented on #673
@allencloud  I've search the daemon log and didn't find logs related to the TestVolume1 keyworkd.
[code]

[2018-02-02 02:45] allencloud opened #683 "[feature request] support pulling images from registry with credentials in Pouch"
**Issue Description**

Current Pouch has supported image pulling, but still has no ability to pull authorized images in registry with credentials(username/password).

Multi-tenancy is a very useful feature in registry. With credential support when pulling/pushing images, Pouch could be used in more serious production scenarios.

When supporting this, I think we need to be compatible with moby's wa

[2018-02-02 03:30] allencloud commented on #631
Any Update on this ? 😸 🦁  @HusterWan

[2018-02-02 04:18] allencloud commented on #667
I think this issue has not reproduced again. So close this. Feel free to feedback if similar issue happens.

[2018-02-02 04:18] #667 closed

[2018-02-02 06:30] allencloud opened #688 "[feature request] support more isolation container options for alios in pouchd"
**Issue Description**

Alikernel will be open source very soon. In this Alikernel, there are many parts that improves a lot for container's isolation. PR https://github.com/alibaba/pouch/pull/685 added 5 options in swagger.yml.

We need to implement these container options in 0.2.0 version. Here are some details:

## Container Options

IntelRdtL3Cbm is coming in RunC.

ScheLatSwitch
MemoryWmarkRat

[2018-02-02 07:57] pouchrobot opened #690 "Weekly Report of Pouch from 2018-01-26 to 2018-02-02"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   2102 |
| Star      |   2102 |
| Fork      |   367 |

## PR Update

Thanks

[2018-02-02 10:49] sunyuan3 commented on #670
Which OS doesn't "/var/run/pouchd.sock" work well? Ubuntu or Centos?

[2018-02-04 14:09] allencloud commented on #673
Does this error appear again in the latest master? @Letty5411

[2018-02-04 16:46] zeppp opened #696 "[feature request] need repoTags and repoDigests fields in ImageInfo."
### Ⅰ. Issue Description
To keep consistency with Moby and implement cri methods, we need add `repoTags` and `repoDigests` fields to `ImageInfo` and remove the `name` field in `ImageInfo` correspondingly.

[2018-02-05 03:18] g0194776 commented on #652
@sunyuan3

Did I miss some updates here?
What's the newest status of my issue?

thanks a lot.

[2018-02-05 11:46] sunyuan3 commented on #652
@g0194776 Please send your wechat account to my email yile.sy@alibaba-inc.com.
We need to discuss for details.

[2018-02-05 14:38] g0194776 commented on #652
@sunyuan3 I've sent it out.

[2018-02-06 01:42] sunyuan3 commented on #652
@g0194776 I have added you in wechat.

[2018-02-06 03:18] Letty5411 opened #702 "[enhance] the output of pouch volume create could be enhanced"
### Ⅰ. Issue Description
When using `pouch volume create` with `mount` option, the output of create is not readable.

### Ⅱ. Describe what happened

[code]
### Ⅲ. Describe what you expected to happen

Should also print the right mountpoint info.
### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version

[2018-02-06 03:43] Letty5411 opened #703 "[bug] pouch volume create failed, but metadata is stored"
### Ⅰ. Issue Description
Create a volume failed, but `pouch volume list` could get the volume name.

### Ⅱ. Describe what happened

[code]
### Ⅲ. Describe what you expected to happen
`pouch list` should not contains `test6`

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`

[2018-02-06 04:29] #652 closed

[2018-02-06 06:36] Letty5411 opened #706 "[bug] pouch volume create --label does't work"
### Ⅰ. Issue Description
Create volume with `--label` option returns error.

### Ⅱ. Describe what happened
[code]
I add some debug info in cli/volume.go:
[code]
The output is as following:
[code]
### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use

[2018-02-06 06:44] Letty5411 commented on #706
there is typo in line 121, should be len(l)
[code]

[2018-02-06 07:47] #706 closed

[2018-02-06 11:21] Letty5411 opened #712 "[bug] hit once TestRunRestartPolicyAlways failed"
### Ⅰ. Issue Description
Test TestRunRestartPolicyAlways failed on AliOS.
Commit: b903ebea1ebe5af327a6eb053cf3b423cf489372

Only happened once, record it.

### Ⅱ. Describe what happened
[code]

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?
daemon log
[code]

### Ⅵ. Environment:

- po

[2018-02-06 13:42] Letty5411 opened #714 "[bug] hit once TestRunWithPrivilege failed on travis CI"
### Ⅰ. Issue Description

### Ⅱ. Describe what happened
[code]

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-02-06 13:46] #714 closed

[2018-02-07 03:45] Letty5411 commented on #673
Seems this is because the test volume has existed:
[code]

[2018-02-07 06:19] Letty5411 opened #716 "[test bug] TestPsWork may panic if error happened"
### Ⅰ. Issue Description
Before using kv[name].status[0], should check the length, or it may panic if error happens:
[code]

A panic is as following:
[code]
### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch

[2018-02-07 06:34] allencloud commented on #673
So I think we need to improve the test cases. @ZouRui89 Could you help to work on this?

[2018-02-07 06:53] allencloud commented on #716
It seems that kv[name] has a length of 0, but this is really strange that after succeeding in creating a container, there is no possibility that `pouch ps -a` has no results. @Letty5411

[2018-02-09 07:57] pouchrobot opened #720 "Weekly Report of Pouch from 2018-02-02 to 2018-02-09"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   2131 |
| Star      |   2131 |
| Fork      |   373 |

## PR Update

Thanks

[2018-02-11 02:32] #638 closed

[2018-02-11 08:19] allencloud commented on #62
Any update on this? @MikeLing

[2018-02-22 02:47] allencloud commented on #669
`Error: failed to run container test-run-lxcfs: {"message":"failed to create task, container id: 8c5b808ebcfb82d29fc6b6751e659f2d7a5c1de3e7a324828f2c8a71b73b6cfc: OCI runtime create failed: container_linux.go:265: starting container process caused \"process_linux.go:348: container init caused \\\"rootfs_linux.go:57: mounting \\\\\\\"/var/lib/lxc/lxcfs/proc/uptime\\\\\\\" to rootfs \\\\\\\"/var/lib

[2018-02-22 02:50] allencloud commented on #615
Does this appear in ALiOS 4.9's test cases? @Letty5411
I remember all test cases pass in the CI for AliOS 4.9.

[2018-02-23 07:43] pouchrobot opened #745 "Weekly Report of Pouch from 2018-02-16 to 2018-02-23"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   2149 |
| Star      |   2149 |
| Fork      |   379 |

## PR Update

Thanks

[2018-02-24 02:47] rudyfly opened #748 "pouchd can not start without nsenter"
### Ⅰ. Issue Description
[code]

### Ⅱ. Describe what happened
start pouchd daemon
[code]

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):Ubuntu-14.04
- Kernel (e.g. `uname -a`):Linux ubuntu

[2018-02-24 06:16] zhouhaibing089 opened #750 "make extra/libnetwork submodule as vendor dependency"
It is not clear on why `extra/libnetwork` has to be a submodule instead of sitting in `vendor/github.com/docker/libnetwork/`?

The situation now is, the navigation sometimes breaks as the editor can not find the
 import `github.com/docker/libnetwork`(which is bad when browsing the codebase).

Hopefully there should be an easy to fix unless it is a real **have to**.

[2018-02-24 06:36] allencloud commented on #750
We had a reason. @zhouhaibing089
/cc @rudyfly Could you explain this for this.

[2018-02-24 06:46] allencloud opened #751 "[bug]Error: invalid lxcfs bin path: /usr/local/bin/lxcfs"
### Ⅰ. Issue Description

I ran into an error when start pouchd with `--enable-lxcfs`. I think pouchd finds lxcfs in the hard coded dir `/usr/local/bin/lxcfs`, but on my ubuntu 16.04, it is in `/usr/bin/lxcfs` by default.

I think we need try to find lxcfs in the local $PATH first, and then do the following startup thing.

[code]

### Ⅱ. Describe what happened

I ran into an error when start pouch

[2018-02-24 06:56] zeppp opened #752 "[bug] the image size seems like not correct."
### Ⅰ. Issue Description
I found it is not normal that when I use pouch to pull image busybox:1 and busybox:1-uclibc. The size are different but it is the same and  bigger in docker .
[code]
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen
The size of busybox:1 and busybox:1-uclibc should be same in pouch. And the size of image should be same within docker and pou

[2018-02-24 07:47] allencloud commented on #751
I found that we can sepecify the lxcfs path in `pouchd` command line, like `pouchd --enable-lxcfs --lxcfs /usr/bin/lxcfs`.

Closing this since this is my carelessness.

[2018-02-24 07:47] #751 closed

[2018-02-24 08:17] zeppp commented on #752
In fact , it affects a little but still has a problem that these two images should share one storage location because they are same without tags. If their sizes are different , they will have different ID in pouch which we don't want to happen.
I have no idea about that, so I make this issue to look for help.  @allencloud

[2018-02-25 09:44] #626 closed

[2018-02-26 01:20] allencloud commented on #703
Is this fixed in master? @rudyfly
If the answer is yes, please close this one. Thanks a lot.

[2018-02-26 02:27] rudyfly commented on #750
@zhouhaibing089 we use libnetwork's version is 1.12.6, that libnetwork's version have depended some old base packages, such as: github.com/Sirupsen/logrus, but in pouchd, other package depend more newer packages, it conflicts when building. so we let the libnetwork into the independent GOPATH environment. Can you give me more suitable method?

[2018-02-26 03:50] #683 closed

[2018-02-26 06:26] ZouRui89 commented on #673
I have checked volume related test cases. It seems that no volume named TestVolume1 has ever been created in other test cases and the volume TestVolume1 will be deleted later in the api_volume_list test.

[2018-02-26 08:21] Letty5411 opened #758 "[bug]: network endpoint is not deleted when forcely removing running container"
### Ⅰ. Issue Description
Network endpoint is not deleted when forcely removing running container
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kerne

[2018-02-26 09:29] rudyfly commented on #478
I have completed these jobs.

[2018-02-26 09:29] #478 closed

[2018-02-26 09:30] rudyfly commented on #702
Completed.

[2018-02-26 09:30] #702 closed

[2018-02-26 11:56] #703 closed

[2018-02-27 01:35] HusterWan opened #763 "[bug] install pouchd with the newest code failed"
### Ⅰ. Issue Description

[code]
### Ⅱ. Describe what happened
make install failed

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
[code]
- Install tools:
- Other

[2018-02-27 01:37] allencloud commented on #763
I think this issue is similar to https://github.com/alibaba/pouch/issues/750

[2018-02-27 06:05] #758 closed

[2018-02-27 06:15] #748 closed

[2018-02-27 07:38] Letty5411 opened #766 "[bug] pouch can only create 100 containers"
### Ⅰ. Issue Description
pouch can only create 100 containers on AliOS, creating the 101 container hang.
More info is here:
[code]
### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
[code]
- OS (e.

[2018-02-27 09:40] Letty5411 opened #770 "[bug] create two container with the same name in short time may cause the second container can't be removed"
### Ⅰ. Issue Description
As shown in the below, create container `TestNetworkBridgeWorks`, forcely remove it, then create again, the state of container may not right.

[code]
### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch ve

[2018-02-27 11:21] #631 closed

[2018-02-27 12:39] #356 closed

[2018-02-27 12:40] rudyfly commented on #763
mac system can not build pouch, you should use linux to build.

[2018-02-27 13:07] HusterWan commented on #763
@rudyfly Thanks, i have figured it out, i will close this issure.

[2018-02-27 13:07] #763 closed

[2018-02-28 01:58] Letty5411 opened #777 "[bug] TestRunRestartPolicyAlways is flaky"
### Ⅰ. Issue Description
Fix this test as it is flaky.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-02-28 03:33] YaoZengzeng opened #779 "[feature request] what about 'pouch log' ?"
### Ⅰ. Issue Description

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-02-28 04:13] Letty5411 opened #781 "[bug] specify rich-mode but not add --rich args rich container doesn't work"
### Ⅰ. Issue Description
Use rich container as following, rich container doesn't work
[code]
### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `una

[2018-02-28 05:40] YaoZengzeng opened #782 "[feature request] we need the ability to access the rootfs of container in container manager"
### Ⅰ. Issue Description

When creating container, we may need to modify some files in the rootfs of container like /etc/resolve.conf, /etc/passwd, /etc/group, so it's necessary for container manager to provide the interface through which we can have the ability to access them.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and

[2018-02-28 06:55] Letty5411 opened #783 "[bug] rich container can't run initscript"
### Ⅰ. Issue Description
When specify a shell script as initscript in rich container dumb-init mode, it returns error:
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /et

[2018-02-28 07:01] Letty5411 opened #784 "[bug] systemd rich container mode needs absolute path for cmd"
### Ⅰ. Issue Description

When use `sleep`, `ps aux` can't find sleep process:
[code]

Need to user absolute path:
[code]
### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-

[2018-02-28 08:23] Letty5411 opened #787 "[bug] runc v1.0.0-rc4-1 failed on Ubuntu"
### Ⅰ. Issue Description

On branch 0.2.x, runc caused CI failed on ubuntu.
Error message is as following:

`. Error:failed to create task, container id: f1797d91c5d3b12f4f917f021e75ffca52dbf2caba95299db7427996bea43c03: OCI runtime create failed: unable to retrieve OCI runtime error (open /var/lib/pouch/containerd/state/io.containerd.runtime.v1.linux/default/f1797d91c5d3b12f4f917f021e75ffca52dbf2c

[2018-02-28 08:32] Letty5411 opened #788 "[bug] lxcfs test failed on centos7.2"
### Ⅰ. Issue Description
On pouch0.2.0, the following test failed:
[code]
### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
centOS
- Kernel (e.g. `uname -a`):
[co

[2018-02-28 08:39] allencloud commented on #669
This issue is similar to https://github.com/alibaba/pouch/issues/788. Closing this one.

[2018-02-28 08:39] #669 closed

[2018-02-28 08:40] allencloud commented on #788
`Error: failed to run container test-run-lxcfs: {"message":"failed to create task, container id: 8c5b808ebcfb82d29fc6b6751e659f2d7a5c1de3e7a324828f2c8a71b73b6cfc: OCI runtime create failed: container_linux.go:265: starting container process caused \"process_linux.go:348: container init caused \\\"rootfs_linux.go:57: mounting \\\\\\\"/var/lib/lxc/lxcfs/proc/uptime\\\\\\\" to rootfs \\\\\\\"/var/lib

[2018-02-28 08:42] Letty5411 commented on #788
Also exits on AliOS

[2018-02-28 08:43] Letty5411 opened #789 "[bug] version of pouch0.2.0 rpm is not right"
### Ⅰ. Issue Description
The version should be 0.2.0:
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Oth

[2018-02-28 09:39] allencloud commented on #789
This has been fixed in #790
Closing...

[2018-02-28 09:39] #789 closed

[2018-02-28 10:00] yyb196 commented on #783
the message "exec format error" indicates absent of shebang in init script file.

after add shebang in the init script, the error is that the init script actually executes on the host isn't in the container.
eg:
[code]

[2018-03-01 05:42] allencloud commented on #25
I think this has been implemented in PR https://github.com/alibaba/pouch/pull/767. Closing this.

[2018-03-01 05:42] #25 closed

[2018-03-01 05:45] allencloud commented on #344
Any update on this ? @skoo87

[2018-03-01 05:52] allencloud commented on #101
This has been fixed in #725 . Closing this now.

[2018-03-01 05:52] #101 closed

[2018-03-01 05:52] Letty5411 opened #798 "[bug] disk quota on kernel4.9 should use prjquota"
### Ⅰ. Issue Description
Diskquota feature in kernel 4.9 should use prjquota.
Currently, grpquota is always used, please refer to code in /volume/modules/local/quota.go:
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch

[2018-03-01 06:03] gaocegege opened #800 "[question] Does pouch support multiple runtimes in one kubelet when it works with k8s?"
Hi, I am trying to integrate pouch with Kubernetes, and I know that pouch supports multiple runtimes, such as runc, runv, and runlxc. Then does pouch CRI support multiple runtimes in one kubelet? For example, we could run hypervisor-based containers and normal containers in one kubelet via pouch cri.

[2018-03-01 10:15] allencloud commented on #800
Has kubernetes supported this API option `--runtime-type` in upstream? @YaoZengzeng
Actually pouch has supported this, however I have no idea whether k8s supports this. @gaocegege

[2018-03-01 10:22] YaoZengzeng commented on #800
@gaocegege We can't do it, only runc has been supported now.

And of course we would support multiple runtimes in the future like frakti: you could specify which runtime to run in the annotation of pod, and we'll make it right for you :)

[2018-03-01 10:40] gaocegege commented on #800
Thanks for the reply @allencloud @YaoZengzeng and I noticed that frakti has a PR to support mix runtimes.

I am closing the issue, thanks again :)

[2018-03-01 10:40] #800 closed

[2018-03-01 11:40] yyb196 opened #801 "[feature request] we need the ability to filter some attribute when using pouch inspect"
### Ⅰ. Issue Description
using golang template expression to filter Id:
pouch inspect -f {{.Id}} $ct_name

### Ⅱ. Describe what happened
no support yet

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-

[2018-03-01 13:31] yyb196 opened #802 "[feature request] need ability to set tls name whitelist for client who can connect to pouch daemon"
### Ⅰ. Issue Description
common tls protection allows any client whose cert can be resolved by the pouchd,
think this case, we publish certs to john, mary and lucy, but we want a daemon only can be connected by john and mary.
so we need more configuration to specify which name is allowed to access, maybe something like following:
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expe

[2018-03-01 13:41] yyb196 opened #803 "[ feature request] we need command pouch info"
### Ⅰ. Issue Description
usually some scheduling system want to check some information on the daemon, like lables, env and api version etc. which request pouchd accept `--lable` when starting, same as env。after getting the daemon information, scheduling system can decide if this daemon should be filtered in some case, and decide which api version can be used to interact with this daemon.

### Ⅱ. D

[2018-03-01 14:07] Letty5411 commented on #787
@wangforthinker has rebuild a new `runc` binary and fix this issue.

[2018-03-01 14:07] #787 closed

[2018-03-01 14:15] Letty5411 commented on #783
Please refer: https://github.com/wangforthinker/runcHook for the usage of intiscript

[2018-03-01 14:18] zhouhaibing089 commented on #750
@rudyfly: I see, such conflicts will happen when `a` depends on `b:v1` and `c` depends on `b:v2`.

I have no better idea, and that is not my pain point anyway, so how about one of this:

*   Submodule to `vendor/github.com/libnetwork` rather than `extra/libnetwork`.
*   Fix the conflicts by choosing a compatible version of `b` for both `a` and `c` (long term but would be hard work).

[2018-03-01 16:01] allencloud commented on #801
Thanks for your proposal. I think this is a practical feature. We will support this soon. @yyb196

[2018-03-02 01:48] HusterWan commented on #801
@yyb196 @allencloud i will finish this feature soon.

[2018-03-02 02:35] wangforthinker commented on #783
Runc will send data of hookstate to stdin, so the initscript shoud process data from stdin.

[2018-03-02 02:35] #783 closed

[2018-03-02 03:25] yyb196 opened #805 "[feature request] disk quota limit of the whole container"
### Ⅰ. Issue Description
we need a feature that limit a container's disk quota to a threshold value, which means all the disk space this container takes on this disk cannot exceed this limit. include all files in local volumes and all files in rootfs of the container, but exclude the disk space taken by image.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How

[2018-03-02 03:44] yyb196 opened #807 "[feature request] pre create hook"
### Ⅰ. Issue Description

we need a feature that enables `pre_create` hook, `pre_create` hook has following features:

* is enabled in daemon side;
* if enabled, before every container creation, the `pre_create` hook will be executed first;
* `pre_create` hook could be a script or a binary located on pouch daemon host before daemon's start;
* the input and output of `pre_create` hook is the raw st

[2018-03-02 06:40] yyb196 opened #809 "[feature request]need the ability to set concurrent download limit"
### Ⅰ. Issue Description
when pulling image, data of every layer need to write to the disk, in order to reduce io stress to the disk and reduce bandwidth stree to the host, we need the ability to setup concurrent download limit.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything

[2018-03-02 06:52] yyb196 opened #810 "[feature request] when using rich container mode we should persistent env to /etc/profile.d/pouchenv.sh"
### Ⅰ. Issue Description
when using rich container mode, process 1 in container has the right env variables, but if entrypoint which user specified is start by a shell script, the entrypoint program cannot get the correct env variables passed in by Config or in Image.

writing env to /etc/profile.d/pouchenv.sh make every shell script has the correct env variable set, even shell started by sshd als

[2018-03-02 07:43] pouchrobot opened #811 "Weekly Report of Pouch from 2018-02-23 to 2018-03-02"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   2175 |
| Star      |   2175 |
| Fork      |   382 |

## PR Update

Thanks

[2018-03-05 03:25] allencloud commented on #103
@Ace-Tang Could you help to finish this document? Or let you and me finish this together? 😄

[2018-03-05 03:27] allencloud commented on #809
I think this is ctrd and containerd related. Could you take a look at this and find out a way to tackle this. @HusterWan

[2018-03-05 05:02] #798 closed

[2018-03-05 07:15] Letty5411 opened #813 "[feature required] support bind an ordinary and binary file"
### Ⅰ. Issue Description
Currently, binding a binary file with `-v` option failed with the following error message:
[code]
Pouch need to support binding ordinary and binary files.
### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pou

[2018-03-05 09:41] allencloud commented on #269
This has been finished in https://github.com/alibaba/pouch/pull/742, closing this.

[2018-03-05 09:41] #269 closed

[2018-03-05 09:42] allencloud commented on #62
I think client side has implemented context in https://github.com/alibaba/pouch/pull/738.

[2018-03-05 09:46] allencloud commented on #76
Any update on this one? @Ace-Tang

[2018-03-05 09:48] allencloud commented on #215
Any update on this? If finished, we will close this. @Letty5411

[2018-03-05 09:49] allencloud commented on #219
Any update on this? Could you try the latest master or Pouch 0.2.0? @HusterWan
If this has been fixed, please close this. Thanks a lot.

[2018-03-05 09:51] allencloud commented on #67
Thanks for your work, @zzchun
I will close this issue.

[2018-03-05 09:51] #67 closed

[2018-03-05 09:56] allencloud commented on #813
https://github.com/alibaba/pouch/blob/master/daemon/mgr/container.go#L930 function in the link is not so good. In the container creation,  we should not make volume manager to find the validation of volume name. It should be isolated in volume manager.

[2018-03-05 11:39] Letty5411 commented on #215
We could close this PR as now we use icmd lib.

[2018-03-05 11:39] #215 closed

[2018-03-06 04:55] Letty5411 opened #815 "[bug] forcedly remove container failed issue"
### Ⅰ. Issue Description
In travis CI, https://travis-ci.org/alibaba/pouch/builds/349283089, this is a failure when remove container forcedly, it's the first time to see this error and didn't reproduce in the next CI run.
Error message is as following:

[code]

also see in:

[code]

[code]

[code]

This is a flaky test I think. It almost happens everyday in travisCI.

### Ⅱ. Describe what happened

[2018-03-06 05:55] allencloud commented on #815
I found that the failure is due to `failed precondition` which has an explanation of :
[code]
And I am afraid that this is an accidental issue, since the weird status of underlying component. @Letty5411

[2018-03-06 09:39] yu-yang2 opened #817 "[feature request] use pouch as a kubernetes' node"
I know pouch is conflict with docker, but can I install pouch as a k8s node and others nodes using docker?

[2018-03-06 09:50] allencloud commented on #817
We can say that Pouch and Docker have overlapping functionalities. You can definitely using Pouch as a CRI (container runtime interface) implementation to support the workload from Kubernetes. This is always the goal of Pouch at the very beginning of history. @yu-yang2

When we release Pouch 0.2.1 in the following week, I think there will be a specific document for this.

And cc @YaoZengzeng @ZouR

[2018-03-06 10:08] YaoZengzeng commented on #817
@yu-yang2 of course, you could do the thing you mentioned above.

By default, kubernetes is run with docker and you don't have to do any extra configurations.

If you want to use pouch as the runtime in some kubernetes nodes, you should run pouch first and configure kubelet with pouch as runtime:
[code]
The CRI manager of pouch is under heavy development now, we haven't test pouch with kubernetes

[2018-03-06 12:30] Letty5411 opened #819 "[bug] update --memory-swappiness doesn't work"
### Ⅰ. Issue Description
pouch update --memory-swappiness doesn't work:
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- In

[2018-03-06 12:32] Letty5411 opened #820 "[bug] typo --memory-wappiness should be --memory-swappiness"
### Ⅰ. Issue Description
The flag ` --memory-wappiness ` is wrong, should be ` --memory-swappiness `:
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
-

[2018-03-06 13:30] yu-yang2 commented on #817
thanks @allencloud, @YaoZengzeng , I have trouble in deploying k8s using pouch with your guide, I already changed the kublet config with
[code]
But kubelet can't start with errors
[code]
and then I execute `kubeadm init --pod-network-cidr 10.244.0.0/16 --kubernetes-version stable`, kubeadm told me docker not start.
[code]

Where am I wrong?

[2018-03-06 14:13] HusterWan commented on #819
I test pouch update --memory-wappiness, the value already transport to the containerd, but the cgroup value not changed. maybe it's because containerd not supported update memory-swappiness.

I will figure it out

[2018-03-06 14:54] allencloud commented on #819
Actually I have not found that supporting memory-swappiness update in moby. Do we have any scenario that we should do this? @Letty5411 @HusterWan

[2018-03-06 14:57] HusterWan commented on #819
@allencloud Yes, moby also not support  memory-swappiness,
maybe we should ask @rudyfly , Do we have any scenario that we should support update memory-swappiness of container.

[2018-03-06 14:59] #820 closed

[2018-03-06 15:07] allencloud commented on #819
I am afraid the answer is no. Closing this now. Feel free to tell us if we have missed anything. Thanks a lot.

[2018-03-06 15:07] #819 closed

[2018-03-06 16:48] allencloud opened #823 "[feature request] Add a new api "POST /containers/upgrade" to upgrade a container"
### Ⅰ. Issue Description

In some cases, if a user has one old container with old image, user needs to upgrade this container with new image but keep some old things of the old container. For example, the network configuration, the ssh_keys and something else could be kept to the new containers.

More details on demand will be added.

### Ⅱ. Describe what happened
We can not upgrade a container wi

[2018-03-06 16:53] allencloud opened #824 "[feature request] nvidia GPU native support in runc of Pouch"
### Ⅰ. Issue Description

In old days, we use `nvidia-docker` as a plugin to support GPU devices in container. And applications in container use specific cuda library to take advantages of GPU devices. nvidia-docker will get the underlying devices on the host and transfer this into the container.

While now, we could support this on OCI runtime runc by customizing runc like project https://github.

[2018-03-07 03:23] Letty5411 opened #826 "[bug] definition of rich/rich-mode should not both in struct ContainerConfig and HostConfig"
### Ⅰ. Issue Description
Currently, in rich/rich-mode field are defined both in struct ContainerConfig and HostConfig, please refer https://github.com/alibaba/pouch/blob/master/apis/swagger.yml

From the description of this two structures, these two structs are conflict:
[code]

So, remove the definition in HostConfig.
### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

###

[2018-03-07 07:29] Letty5411 opened #830 "[enhance] reduce the unit-test time"
### Ⅰ. Issue Description
As mentioned in https://github.com/golang/go/issues/6909 , use`go test -i`  in go version lower than 1.10 could reduce the time to run unit test. As tested on my machine, test time reduce from 15m41s to 2m26s .

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. A

[2018-03-07 07:33] Letty5411 opened #831 "[bug] make unit-test failed"
### Ⅰ. Issue Description
make unit-test has the following error:
[code]

This is because unit-test target should depend on modules.
### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. fro

[2018-03-07 07:37] HusterWan commented on #831
No this problem is my dev env, can you check if it's your test env's problem? @Letty5411

[2018-03-07 08:05] #830 closed

[2018-03-07 08:05] #831 closed

[2018-03-07 09:04] #103 closed

[2018-03-07 11:31] yyb196 commented on #823
define an method like: `UpgradeContainer(id string, config Config, hostConfig HostConfig)`, whose last two parameters are the same as CreateContainer.

in the method found the container that will be upgrade by the id, we call it old_container.  Firstly we rename the old_container to a name which adding a suffix `_bak` to the original name and stop the old_container, then compare and merge the Conf

[2018-03-08 02:43] allencloud opened #837 "[proposal] Implement CSI(Container Storage Interface) in Pouch"
### Ⅰ. Issue Description

“Container Storage Interface” (CSI) will enable storage vendors (SP) to develop a plugin once and have it work across a number of container orchestration (CO) systems. While how to provide storage service for users is a big question for Pouch.

Pouch is container engine in container cluster with plenty of nodes. With a big embrace to CSI, we could split the its component

[2018-03-08 03:24] Letty5411 opened #839 "[feature request] implement Alikernel 4.9 related resource flag in runc"
### Ⅰ. Issue Description
Need to support AliKernel 4.9 related resource flags in runc.
They are:
[code]

### Ⅱ. Describe what happened
currently the above flags are not supported:
[code]

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch

[2018-03-08 03:25] allencloud commented on #839
Actually pr https://github.com/alibaba/runc/pull/6 is attempting to cover this, but still WIP. I will finish that soon. @Letty5411

[2018-03-08 06:07] Letty5411 opened #842 "[test request] add test for exposed port"
### Ⅰ. Issue Description
Need to add tests for exposing ports in container, CLI is like following:
pouch run --expose=8001-8002/tcp xxx

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g

[2018-03-08 06:14] #813 closed

[2018-03-08 06:17] Letty5411 opened #843 "[test request] tests for login/logout registry"
### Ⅰ. Issue Description
Need to add tests for login/logout CLI.
We may need to build a test registry in test code then use it to test.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g

[2018-03-08 06:19] #801 closed

[2018-03-08 08:20] Letty5411 opened #847 "[test request] image-proxy test is required"
### Ⅰ. Issue Description
Tests are required for PR #636

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-03-08 08:22] Letty5411 opened #848 "[test request] need to support pouch daemon test"
### Ⅰ. Issue Description
Currently, with more and more options supported in daemon side, test framework should also support
daemon options tests.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):

[2018-03-08 13:04] Letty5411 commented on #284
# uname -a
Linux p6 3.10.0-327.el7.x86_64 #1 SMP Thu Nov 19 22:10:57 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2018-03-09 01:56] allencloud commented on #810
I think this feature has been merged into https://github.com/alibaba/runc/pull/11, could we add a test case in pouch daemon side? @wangforthinker

If we test this feature is already ready in pouch/master, we could close this issue. Thanks a lot.

[2018-03-09 02:01] allencloud commented on #766
What is the status of this PR? Could you sync with us some periodic achievement? @HusterWan

[2018-03-09 02:03] allencloud commented on #212
Closing this, since it has been quite a long time.

[2018-03-09 02:03] #212 closed

[2018-03-09 02:03] allencloud commented on #279
Closing this, since it has been quite a long time.

[2018-03-09 02:03] #279 closed

[2018-03-09 02:04] allencloud commented on #385
Closing this, since it has been quite a long time.

[2018-03-09 02:04] #385 closed

[2018-03-09 02:04] allencloud commented on #462
Closing this, since it has been quite a long time.

[2018-03-09 02:04] #462 closed

[2018-03-09 02:04] allencloud commented on #332
Closing this, since it has been quite a long time.

[2018-03-09 02:04] #332 closed

[2018-03-09 02:04] allencloud commented on #510
Closing this, since it has been quite a long time.

[2018-03-09 02:04] #510 closed

[2018-03-09 02:04] allencloud commented on #572
Closing this, since it has been quite a long time.

[2018-03-09 02:04] #572 closed

[2018-03-09 02:04] allencloud commented on #616
Closing this, since it has been quite a long time.

[2018-03-09 02:04] #616 closed

[2018-03-09 02:10] allencloud commented on #648
Closing this, since it has been quite a long time.

[2018-03-09 02:10] #648 closed

[2018-03-09 02:10] allencloud commented on #690
Closing this, since it has been quite a long time.

[2018-03-09 02:10] #690 closed

[2018-03-09 03:38] HusterWan commented on #766
@allencloud  this is a problem of containerd, i need more test to determine the key problem of containerd, i will comment the details after i figure it out.

[2018-03-09 06:00] HusterWan opened #857 "[feature request] Enhance format inspect print"
### Ⅰ. Issue Description
Now, we have finished format container inspect result, we also need support formatted like image, network, volume inspect result

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch ve

[2018-03-09 07:42] YaoZengzeng commented on #817
@yu-yang2 Actually it's problem of kubeadm which will check first whether there is a CRI runtime listen on /var/run/dockershime.sock.

And we could specify the "--ignore-preflight-errors=cri" to skip it, like:

master ---> "kubeadm init --ignore-preflight-errors=cri"

minion ---> "kubeadm join .... --ignore-preflight-errors=cri"

Through my rough test, we still need to improve some details of pouc

[2018-03-09 07:43] pouchrobot opened #860 "Weekly Report of Pouch from 2018-03-02 to 2018-03-09"
# Weekly Report of Pouch

This is a weekly report of Pouch. It summarizes what have changed in Pouch in the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @pouchrobot which is an AI robot.

## Repo Update

| Type      |    Count |
| :-------- | --------:|
| Watch     |   2199 |
| Star      |   2199 |
| Fork      |   393 |

## PR Update

Thanks

[2018-03-10 02:59] yu-yang2 commented on #817
@YaoZengzeng I use `kubeadm init --ignore-preflight-errors=all` to pass the preflight checks,but there is an another error I can't handled in kubelet.
[code]
pause containers have been started.
[code]
kubeadm stuck in pulling images (this server don't have GFW issus)
[code]

[2018-03-11 07:10] HusterWan commented on #766
I have already figured it out, the reason why pouch can only create 100 containers is beause the default number of concurrent grpc client streams is 100, so if create more then 100 containers, the pouchd must wait.

here is define: https://github.com/grpc/grpc-go/blob/master/transport/control.go#L40

I also have create a pr for grpc-go to fix this bug: https://github.com/grpc/grpc-go/pull/1912

[2018-03-11 07:46] HusterWan opened #863 "[feature request] need debugger tools for pouch"
### Ⅰ. Issue Description
We may need know exactly what the pouch is doing when we debug a bug, so the golang process stack monitor may be needed

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):

[2018-03-11 11:40] HusterWan commented on #766
add test diff below, just in case, anyone wants to test the code:
[code]

[2018-03-12 05:05] Letty5411 opened #864 "[feature required] need API /exec/{name:.*}/json"
### Ⅰ. Issue Description
Need to implement exec inspect API.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Oth

[2018-03-12 05:09] Letty5411 opened #865 "[feature required] need API /container/{name:.*}/logs"
### Ⅰ. Issue Description
Need to implement API container logs.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- O

[2018-03-12 05:16] Letty5411 opened #866 "[feature required] need API /containers/(id or name)/resize"
### Ⅰ. Issue Description
need it to resize the tty size.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-03-12 05:17] Letty5411 opened #867 "[feature required] need API /containers/(id or name)/top"
### Ⅰ. Issue Description
Need this to List processes running inside the container id.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- pouch version (use `pouch version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`

[2018-03-12 05:23] Letty5411 opened #868 "[feature required] need network APIs"
### Ⅰ. Issue Description
The following network APIs are needed:

- [x] /networks/(id or name)/disconnect  https://github.com/alibaba/pouch/pull/1172

- [x] /networks/(id or name)/connect

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment